﻿@using Ap21API.Entities.Customer
@using SalesNet.WebUI.Classes;
@Html.JavaScript("new Account();")
<div id="account_info" class="account_details">
<style>

.ui-widget-header
{
background-color: white; 
border-top-style: none; 
border-right-style: none;
 border-bottom-style: none;
 border-left-style: none;
 display:none;
 color:Black;
}
.ui-widget-content
{
    border-width:10px;
    border-color:Black;
    }
.ui-widget-overlay
{
background-color: #4b4b4b; 
}
.ui-dialog-titlebar-close 
{
    background-color:Black;
}
.ui-dialog-title
{
    display:none;
}
.ui-dialog .ui-dialog-titlebar
{
    display:none;
    }
</style>
    <script type="text/javascript">
        var customerCount = @(ViewBag.CustomerCount);
        function EditAccountPopup() {
            $('#dialog').dialog(
                { modal: true,
                    width: 450,
                    resizable: false,
                    closeText: "X" });
        }
    </script>
    <span class="name">Welcome, @AppSession.CurrentSession.Fullname |
        @*@Html.ActionLink("Edit Account", "Edit", "Account") |*@ <a id="lnkEdit" onclick="EditAccountPopup()"
            href="#">Edit Account</a> |
        @Html.ActionLink("Log out", "LogOut", "Session")
        @{
            
            if (ViewBag.CustomerCount != null && ViewBag.CustomerCount > 1)
            {
                <text>| </text> <a href="#" id="lnkchangeCustomer" class="lnkchangeCustomer">Change Customer</a>
            }
        }
      @*@Html.ActionLink("Edit Account", "Edit", "Account", new { @style = "color:#1E90FF; text-decoration:none" })  |
           @Html.ActionLink("Log out", "LogOut", "Session", new { @style = "color:#1E90FF; text-decoration:none" })*@
    </span>
    <div class="actions" style="padding-top:15px;">
        @*<span class="customername">Logged in as @AppSession.CurrentSession.CustomerName</span>*@
        @* <span class="customername">Customer:<div id="btnCustomername">@AppSession.CurrentSession.CustomerName</div></span>*@
        <table>
            <tr>
                <td style="font-size: 15px; font-weight: bold; color: #DCDCDC; padding-bottom: 10px;">
                    Customer:
                </td>
                <td>
                    <div id="btnCustomername" style="text-align: center;">
                        @if (@AppSession.CurrentSession.IsAgent)
                        {


                            if (!string.IsNullOrWhiteSpace(AppSession.CurrentSession.CustomerName))
                            {
                              <a href="#" id="lnkchangeCustomer" class="lnkchangeCustomer">@AppSession.CurrentSession.CustomerName</a>  
                            
                            }
                            else
                            {
                                <a href="#" id="lnkchangeCustomer" class="lnkchangeCustomer">Select Customer</a>  
                           
                            }
                            //this used in order_history_search.js for Ticket #78
                        <a href='@Url.Action("RenderCustomerList", "Customer")' id="aChangeCustomerUrl" style="display:none" >Change CustomerUrl</a>
                        }
                        else
                        {
                            @AppSession.CurrentSession.CustomerName
                        }</div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="dialog" title="Change your Password"  style="display: none; overflow: visible;">
    @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { id = "account_form", @class = "form" }))
    {	<table><tr><td style="font-weight:bold;font-size:18px;padding-top:10px;">Change your Password</td>
               <td style="font-weight:900;font-size:15px;text-align:right;"><a href="#" onclick="$('#dialog').dialog('close');"  style="text-decoration:none;"><img src="@Url.Content("~/Content/images/framework/pop_close.png")" style="width:15px;height:15px;" alt="close" /></a></td></tr></table>
        
        <p style="padding-top:20px;">
          @*  <label for="Email_address">
                Email address</label><br />*@
              <b>  Email address</b><br /><br />
            <span>
           
                @if (AppSession.CurrentSession != null && AppSession.CurrentSession.Current != null && AppSession.CurrentSession.Current.Id != null)
                {
                         
                    <label for="email" style="font-weight:bold;color:Gray;"><i> @Ap21API.Entities.Person.Person.Find(id: @AppSession.CurrentSession.Current.Id).Contacts.Email</i></label>}
                else
                {
                    <label for="email">
                        &nbsp;</label>
                }</span>
        </p>
        <p>
            <label for="Password">
                Password</label><br />
            <span>
                <input id="password" name="password" type="password" class="textbox" style="width: 400px;"/></span>
        </p>
        <p>
            @*<label for="Confirm_password"></label>*@
               <b> Confirm password</b><br />
            <span>
                <input id="password_confirmation" name="password_confirmation" type="password" class="textbox" style="width: 400px;" /></span>
        </p>
        
            <table>
                <tr>
                    <td align="left">
                        <input type="submit" class="btn btn-info" name="commit"  value="Save" />
                    </td>
                    <td align="right">
                        <a href="#" onclick="$('#dialog').dialog('close');"  style="text-decoration:none; padding-left:298px;font-weight:bold;color:Gray;">Cancel</a>
                    </td>
                </tr>
            </table>
        
    }
</div>
