﻿<div id="header">
   
    <div class="logo">
        <img src="@Url.Content("~/Content/images/framework/logo.png")" alt="SalesNet.Logo" /></a>
	</div>

    <div class="search">&nbsp;</div> 

    <div class="account_details">
	    <span class="name">Welcome, @AppSession.CurrentSession.Fullname</span>
	    <div class="actions">
		    <ul class="layout">
			    <li>@Html.ActionLink("Log out", "LogOut", "Session")</li>
		    </ul>
	    </div>
    </div>

</div>

