﻿<div id="header">
   
    <div class="logo" style="padding:15px;">
        <a><img src="@Url.Content("~/Content/images/framework/trans-logo.png")" alt="SalesNet.Logo" /></a>
	</div>

	<div class="search">&nbsp;</div> 

	@if (ViewData["HideAccountDetails"] == null)
    {
        @*@Html.Partial("_AccountDetails")*@
        Html.RenderAction("RenderAccountDetails", "Account");
    }
</div>
