<meta http-equiv="X-UA-Compatible" content="IE=9,8" />
<title>SalesNet</title>

<link href="@Url.Content("~/Content/favicon.ico")" rel="icon" />

<link href="@Url.Content("~/Content/javascripts/extjs/resources/css/ext-all.css")" rel="stylesheet" type="text/css" media="screen" />
<link href="@Url.Content("~/Content/stylesheets/main.css")" rel="stylesheet" type="text/css" media="screen"/>
<link href="@Url.Content("~/Content/stylesheets/print.css")" rel="stylesheet" type="text/css" media="print"/>
<link href="@Url.Content("~/Content/stylesheets/newdesignstyle.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/javascripts/extjs/resources/css/ext-ie.css")" rel="stylesheet" type="text/css" media="screen" />

<script type="text/javascript" >
    host = "@Url.Content("~")";
</script>

@if (!HttpContext.Current.IsDebuggingEnabled)
{
    <script src="@Url.Content("~/Content/javascripts/extjs/ext-all-debug.js")" type="text/javascript" ></script>
     <script src="@Url.Content("~/Content/javascripts/SalesNet/json2.js")" type="text/javascript" ></script>
        
    <script type="text/javascript" >
        Ext.Loader.setConfig({
            enabled: true,
            paths: {
                'Ext': host + 'Content/javascripts/extjs/src' /*'Content/javascripts/extjs/src'*/
            }
        });
    </script>
	@Html.Partial("_JavaScript.Debug")
}
else
{
	<script src="@Url.Content("~/Content/javascripts/extjs/ext-all-debug.js")" type="text/javascript" ></script>
	<script src="@Url.Content("~/Content/javascripts/salesnet.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Content/javascripts/SalesNet/json2.js")" type="text/javascript" ></script>
}

@Html.ShowFlash()
