﻿@*<div id="navigation_site">*@
@{
    Ap21API.Entities.Order.Order order = SalesNet.Domain.Entities.Order.CurrentOrder ?? new Ap21API.Entities.Order.Order();
    String strViewCart = "View Cart";
    if (order != null && order.Ordered.Quantity > 0)
    {
        strViewCart = "View Cart <span style='color:#98BD18'>(" + order.Ordered.Quantity + ")</span>";
    }
}
<style type="text/css">
    .ActiveNavTab a
    {   height:30px;
        background-color: #007acc;
        padding-bottom: 10px;
    }
    .NoActiveNavTab a
    {   height:30px;
        padding-bottom: 10px;
    }
    .Alink
    {
        padding: 10px 10px;
    }
    nav ul 
{
    background:#4B545F;
    }
</style>
<script type="text/javascript">
    var isClick = 0;
    function ShowViewCart(isClickOrMO) {
        //  debugger;
        var intMo = parseInt(isClickOrMO);

        var uls = document.getElementById('ulViewCart');
        uls.style.display = 'block';
        if (intMo == 1) {
            //setTimeout(HideViewCart, 3000);
            isClick = intMo;
        }
    }
    function HideViewCart(isClose) {
        if (isClick == 1) {

            if (isClose == 1) {
                var uls = document.getElementById('ulViewCart');
                uls.style.display = 'none';
                isClick = 0;
            }
            setTimeout(HideViewCartClick, 3000);
        } else {
            var uls = document.getElementById('ulViewCart');
            uls.style.display = 'none';
        }
    }
    function HideViewCartClick() {
        isClick = 0;
        var uls = document.getElementById('ulViewCart');
        uls.style.display = 'none';
    }
    
</script>
<div style="margin-left: 19px; margin-right: 30px; margin-top: -20px;">
    <nav style="height: 30px; text-align: left;">
	<ul  style="padding-left:0px;padding-right:0px;height:30px;" >
		<li id="liOrderHistory">
        @if (TempData["ActivePage"] != null && TempData["ActivePage"].ToString() == "Order History")
        {
        <div class="ActiveNavTab">@Html.ActionLink("Order History", "Index", "Home",null, new { @style = "padding:10px 10px;" })</div>
        }
        else
        {
            <div class="NoActiveNavTab">
            @Html.ActionLink("Order History", "Index", "Home", null, new { @style = "padding:10px 10px;" })</div>
        }
        
        </li>
        <li>
          @if (TempData["ActivePage"] != null && TempData["ActivePage"].ToString() == "Product")
          {
                 <div class="ActiveNavTab">@Html.ActionLink("Products", "Index", "Product",null, new {@style = "padding:10px 10px;"})</div>
          }
          else
          {
             <div class="NoActiveNavTab"> 
             @Html.ActionLink("Products", "Index", "Product", null, new { id = 2, @style = "padding:10px 10px;" })</div>
          }
          </li>       
          @{
             
              if (AppSession.CurrentSession.Current.Id != null)
              {

                  var varPageContent = SalesNet.Domain.Entities.WebPageContents.GetPageContents(int.Parse(AppSession.CurrentSession.Current.Id));

                  @*foreach (Ap21API.Entities.WebPageContent.WebPageContent pagecnts in varPageContent)
                  {
                    <li style="width:450px;"> @Html.ActionLink(pagecnts.Name, "Index", "PageContent", new { id = intID }) </li>
                                         intID++;
                  }*@
                  if (varPageContent != null && varPageContent.WebPageContent.Count > 0)
                  {
                      for (int intLoop = 0; intLoop < varPageContent.WebPageContent.Count; intLoop++)
                      {
                              <li> 
                              @if (TempData["ActivePage"] != null && TempData["ActivePage"].ToString() == "Page Content"+(intLoop+1))
                              {
                  
                                 <div class="ActiveNavTab"> @Html.ActionLink(varPageContent.WebPageContent[intLoop].Name, "Index", "PageContent", new { id = intLoop + 1 }, new { @class = "Alink" })</div>

                              }
                              else
                              {
                                     <div class="NoActiveNavTab"> 
                                      @Html.ActionLink(varPageContent.WebPageContent[intLoop].Name, "Index", "PageContent", new { id = intLoop + 1 }, new { @class = "Alink" })
                                      </div>
                              }
                              </li>
                                       
                      }
                  }
                 @* else
                  {
                     <li><a href="#" style="border-style:none;height:29px;"></a></li>
                  }*@
              }
             @* <li><a href="#" style="border-style:none;height:29px;"></a></li>*@
          }
         
       
		<li  onmouseover="ShowViewCart(0);" onmouseout="HideViewCart(0);" style="position:absolute;left:860px;width:103px;">
         @if (TempData["ActivePage"] != null && TempData["ActivePage"].ToString() == "ViewCart")
         {
               <div class="ActiveNavTab">
                <a  class="ActiveNavTab"  href="#" onclick="ShowViewCart(1);" style="padding-bottom:10px;background-color:#007acc;padding:10px 10px;height:30px;">
                @*<a onmouseover="ShowViewCart(1)"  href="#" onclick="ShowViewCart(0);">*@
                 Cart 
                @* @if (order != null && order.Ordered.Quantity > 0)*@
                @if (order != null)
                {
                     <span id="spanQuantity" style="color:rgb(152, 189, 24);">( @order.Ordered.Quantity )</span>
          
                }
               </a></div>
         }
         else
         {
             <a href="#" onclick="ShowViewCart(1);" style="padding-bottom:10px;padding:10px 10px;height:30px;">
                  @*<a href="#" onmouseover="ShowViewCart(1);" onclick="ShowViewCart(0);">*@
                   Cart 
                 @* @if (order != null && order.Ordered.Quantity > 0)*@
                       @if (order != null)
                       {
                        <span id="spanQuantity" style="color:rgb(152, 189, 24);">( @order.Ordered.Quantity )</span>
          
                       }
                 </a>       
         }
        
        @*@Html.ActionLink(strViewCart, "FinaliseOrder", "Order")*@
			<ul id="ulViewCart" style ="width:200px; z-index:100;margin-left: -99px;" >
                            <li ><a  href="#" style=" border-bottom-width:medium;
		    border-bottom-style:dotted;border-color:White; ">
                                
                                <table><tr><td>Order&nbsp;Qty</td><td id="tdOrderQty" class="tdValueSpan">@order.Ordered.Quantity</td></tr></table> 
                                        </a>
                                        
                            </li>
                            <li><a  href="#" style=" border-bottom-width:medium;
		    border-bottom-style:dotted;border-color:White; ">
                              
                                          
                                        <table><tr><td>Gross</td><td id="tdGross" class="tdValueSpan">@Html.FormatCurrency(order.Ordered.Gross, order.Currency.Format)</td></tr></table> 
                                        
                            </a></li>
                            @if (order.Ordered.Discount > 0)
                            { // do not show unless there is a discount to apply
                                <li><a href="#" style=" border-bottom-width:medium;
		    border-bottom-style:dotted;border-color:White; ">
                                    
                                                
                                            <table><tr><td>Discount</td><td id="tdDiscount" class="tdValueSpan">@Html.FormatCurrency(order.Ordered.Discount, order.Currency.Format)</td></tr></table> 
                                            
                                </a></li>
                            }
                            <li><a href="#" style=" border-bottom-width:medium;
		    border-bottom-style:dotted;border-color:White; ">
                                
                                 
                                <table><tr><td>Tax</td><td id="tdTax" class="tdValueSpan">@Html.FormatCurrency(order.Ordered.Tax, order.Currency.Format)</td></tr></table> 
                               
                            </a></li>
                            <li><a href="#" style=" border-bottom-width:medium;
		    border-bottom-style:dotted;border-color:White; ">
                               
                                <table><tr><td>Due</td><td id="tdDue" class="tdValueSpan">@Html.FormatCurrency(order.Ordered.Value, order.Currency.Format)</td></tr></table> 
                               
                            </a></li>
                            <li>
                            <a href="#" style="color:White; border-bottom-style:none; ">                            
                            
                            
                                <table><tr><td id="tdEditCart" style="padding-top: 12px;">
                                               @if (order.Ordered.Quantity > 0)
                                               {
                                                <a  href="@(Url.Action("FinaliseOrder", "Order"))" style="border-bottom-style:none;color:White;">View&nbsp;Cart</a>    
                                               }
                                               else
                                               {
                                                <a  href="#" style="border-bottom-style:none;color:White;cursor:not-allowed;">View&nbsp;Cart</a>        
                                               }
                                              
                                               
                                           </td>
                            @*<td id="tdFininsh" style=""><font color="white;">@Html.ActionLink("Finish", "FinaliseOrder", "Order")</font></td>*@
                            </tr></table>
                            
                            </a></li>
                            <li> <a onclick="HideViewCart(1)" style="text-align:center; color:Black; border-bottom-width:medium;
		     border-bottom-style:none;background-color:#BABABA; padding-right:12px;" href="#" >^ Close</a>
           
             
             </li>
                                                                                  
                        </ul>
                        
		</li>
		@*<li style="width:40px;display:none;"><a href="#">&nbsp;</a></li>*@
		
	</ul>
</nav>
</div>
