﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HtmlHead")
</head>

    <body class="dashboard" style="text-align: left;">
    <center>
    <div style="width:1000px; text-align:left;">
        @Html.Partial("_Header")
        @Html.Partial("_Navigation_site")

        <div id="promo_banner">
            <div class="shadow top"></div>
            <div class="shadow bottom"></div>
            @Html.PromoBanner("~/Content/images/content/promo_banner.jpg")
        </div>


		<div id="container">
            
                @RenderSection("Sidebar")
            
            
		    <div id="content" >
			    @RenderBody()
			</div>
           @* @RenderSection("Order_Sidebar")*@
		</div>

		@Html.Partial("_Footer")
        </div>
        </center>
	</body>
</html>