﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HtmlHead")
</head>

<body class="application">


    <center><div style="width:1000px; text-align:left;">
        @Html.Partial("_EmptyHeader")
        

		<div id="container">

			<div id="content">
			    @RenderBody()
			</div>
         
		</div>

		@Html.Partial("_Footer")
          </div>
        </center>
      
	</body>
</html>