﻿<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HtmlHead")
</head>

<body class="application">

    <center><div style="width:1000px; text-align:left;">
        @Html.Partial("_Header")
        @Html.Partial("_Navigation_site")

		<div id="container">
             @RenderSection("Sidebar",false)
             @RenderSection("FreetextSearch", false)
			<div id="content" style ="width:100%">
			    @RenderBody()
			</div>
          @RenderSection("Order_Sidebar", false)
		</div>

		@Html.Partial("_Footer")
        </div>
        </center>
	</body>
    
       
</html>