﻿<!DOCTYPE html>
<html>
  <head>
    @Html.Partial("_HtmlHead")
  </head>

  <body class="session">
    <center><div style="width:1000px; text-align:left;">
      <div id="container">
        @Html.Partial("_Header")
        <div id="content">
            @RenderBody()
        </div>
        
		@Html.Partial("_Footer")
      </div>
       </div>
        </center>
  </body>
  
</html>
