﻿@model Ap21API.Entities.WebPageContent.WebPageContent

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div style="background-color: rgba(169, 169, 169, 0.16);border-radius: 8px;padding-left: 10px;"><h1 style="
    font-size: x-large;
    font-weight: inherit;
">@Model.Name</h1></div>
<div style="
    padding-top: 30px;
    padding-left: 10px;
">

<p>@MvcHtmlString.Create(@Model.Content)</p>

</div>

