﻿@model SalesNet.WebUI.Models.EditAccountViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.JavaScript("new Account();")

@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { id = "account_form" }))
{
	<p>To change your password, enter a new one below.</p>
	<p>
        @Html.Label("Email address")
		<span>@Html.Label("email", Model.Email)</span>
	</p>
	<p>
		@Html.Label("Password")
		<span>@Html.Password("password")</span>
	</p>
	<p>
		@Html.Label("Confirm password")
		<span>@Html.Password("password_confirmation")</span>
	</p>

	<div class="edit-account-buttons">
       <table>
          <tr>
            <td>
			    <input type="submit" class="btn_small" name="commit" value="Submit"/>
           </td>
           <td>
                 <a href="@Url.Action("Index", "Home")" class="btn_small">Cancel</a>
           </td>
         </tr>
       </table>     
	</div>
}


