﻿@{
    Layout = "~/Views/Shared/SessionLayout.cshtml";
}

@Html.JavaScript("new RecoverPassword();")

<div class="session_box">
 
    @using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post, new { id = "recover_password_form" }))
    {
   
    <span style="line-height:40px; font-size: 21px;font-weight: bold; color: #333333;width:200px;">Recover Your Password</span>
         <hr style="color:#F4F5F7;border-bottom-style:solid; height:1px;" />
         <br />
         <div id="error-list" class="hidden notify-error-list"></div>
      <p class="info">Forgotten or need a new password? Enter your email address below and we will reset it for you.</p>
      
          @Html.Label("Email address")
			    <span>@Html.TextBox("email", string.Empty, new { @class = "textbox" })</span>
		

        
        <div class="recover-form-actions">
           @* @Html.TextBox("commit", "Log in", new { @class = "awesome small green", id = "awesome", type = "submit" }) *@
           <button id="awesome" type="submit" class="btn btn-info" data_disable_with="Working...">Reset Your Password</button>
           @Html.ActionLink("Back to Login", "Login", "Session")
		</div>
    }
</div>

