﻿@{
    Layout = "~/Views/Shared/Dashboard.cshtml";
    ViewBag.Title = "Dashboard";
}




@*@{ Html.RenderAction("Index", "Order");}*@

@section Sidebar
{
@*<div id="sidebar">
<div id='order_history'>
@{ Html.RenderAction("RenderSearch", "Order");}
@{ Html.RenderAction("HistoryIndex", "Order");}

</div>
</div>*@
}

@*@section Order_Sidebar
{
   <div id="CurrentOrder">
    @{ Html.RenderAction("CurrentOrders", "Order");}
   </div>
} *@

<script>
    function DisplayCustomerChange() {
        $.blockUI({ message: null });

        var varUrl = 'Customer/RenderCustomerList/';
        if (document.getElementById("aChangeCustomerUrl") != undefined) {
            varUrl = document.getElementById("aChangeCustomerUrl").href;
        }
        $.get(varUrl, function (data) {

            new ChangeCustomer({ html: data });
            $.unblockUI();
            return false;
        });
    }

    $(function() {
        DisplayCustomerChange();
    });
    
</script>