﻿@{
    Layout = "~/Views/Shared/SessionLayout.cshtml";
}
<style type="text/css">
    
    .ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-draggable .ui-resizable
    {
     border-width:1px;   
    }
</style>
@Html.JavaScript("new Login();")


    @*<div id="dialog"  title="Warning"  >
    SalesNet is not supported with this web browser.  Supported browsers are:<br /><br />
    <ul>
    <li>Internet Explorer 8+</li>
    <li>Safari 5+</li>
    <li>Firefox 5+</li>
    <li>Google Chrome 12+</li>
    </ul>
    </div>*@

   
    <script type="text/javascript">
        $(document).ready(function () {
          if (browserstatus == false) {
              $("#dialog2").dialog();
          };

        });
     </script>
     <script type="text/javascript">
         $(document).ready(function () {
             
                 $("#dialog").dialog();
             }
             });
     </script>

      <div id="dialog2"  title="Warning" style="display: none; overflow: visible; border-color:#C8C8C8 ;border-width:1px;">
   <div style="background:#A00000  ; height:30px;" ><h2 style="color:White; margin-left:95px; margin-top:5px;width:90px;">Warning&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="$('#dialog2').dialog('close');"  style="text-decoration:none;"><img src="../../Content/images/framework/pop_close.png" style="width:15px;height:15px;" alt="close" /></a></h2></div><br />
    <p>SalesNet is not supported with this web browser.  Supported browsers are:</p><br />
    <ul>
    <li>Internet Explorer 9+</li>
    <li>Safari 5+</li>
    <li>Firefox 5+</li>
    <li>Google Chrome 12+</li>
    </ul>
    </div>
 
 <div class="session_box">
    @using (Html.BeginForm("Login", "Session", FormMethod.Post, new { id = "login_form", @class = "form" }))
    {
        <span style="line-height:40px; font-size: 21px;font-weight: bold; color: #333333;width:200px;">Login</span>
            
        <hr style="color:#F4F5F7;border-bottom-style:solid; height:1px;" />
         <br />
            <div id="error-list" class="hidden error-list"></div>
            
            @Html.Label("Email address")
			@Html.TextBox("email", ViewData["lastUserLoggedIn"], new { @class="textbox"})


            @Html.Label("Password")
			@Html.Password("password", string.Empty, new { @maxlength = "50",@class="textbox" })

		<p class="info"></p>
		<div class="login-form-actions">
         @*   @Html.TextBox("commit", "Log in", new { @class = "awesome small green", id = "awesome", type = "submit" }) *@
           <button id="awesome" type="submit" class="btn btn-info">Login</button>
           @Html.ActionLink("Forgot Password?", "RecoverPassword", "Account")
		</div>
    }
</div>