/*

	Layout: Dashboard
	-----------------
	
	Used to layout the dashboard page

*/

.dashboard {
	
	#sidebar {
		display : none;
	}
	
	#content {
		
		@include column(18);
		width:100%;
	}
	
	#order_sidebar {
		@include column(6, true);
	}
	
}



* html .dashboard #content {
  overflow-x: hidden;
}



* html .dashboard #order_sidebar {
  overflow-x: hidden;
}