/*

	Layout: Error
	-------------
	
	Used to layout error messages presented to the user.

*/

#details {
	padding-top: 1.2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.1em;
	background-color: #EEE;
	margin-bottom: 1.5em;
	h2 {
		font-size: 16px;	
	}
}

.session {
	
	#header {
		margin-bottom : 15px;
	}
	
	#content {
		display : block;
		float : none;
		margin : 0 auto;
	}
}