/*

	Layout: Session
	---------------
	
	Used to layout the login and recover password pages.

*/

.session {
	
	#header {
		margin-bottom : 15px;
	}
	
	#content {
		float : none;
		margin : 0 auto;
	}
	
}