// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:


$blueprint-grid-columns: 24;
$blueprint-container-size: 960px;
$blueprint-grid-margin: 15px;

// Use this to calculate the width based on the total width.
// Or you can set !blueprint_grid_width to a fixed value and unset !blueprint_container_size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

// This import applies a global reset to any page that imports this stylesheet.
//@import "blueprint/reset";

// Import all the default blueprint modules so that we can access their mixins.
//@import "blueprint";
//@import "blueprint/ie";

html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table, div, span, object, iframe, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}

blockquote {
  &:before, &:after {
    content: "";
  }
}

q {
  &:before, &:after {
    content: "";
  }
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

//@import "compass/utilities/lists/bullets";
//@import "compass/utilities/lists/horizontal-list";

@import "compass/typography/lists/bullets";
@import "compass/typography/lists/horizontal-list";
@import "compass/utilities/general/clearfix";

// Add custom mixins
@import "mixins/buttons";
@import "mixins/hover-effect";
@import "mixins/_container";

// Plugins
@import "jquery-ui";
@import "jquery.qtip";

//@include blueprint-typography;
//@include blueprint-ie;

// Bootstrap
@import "modules/_bootstrap";


// Set variables
$text_color: #4f4f4f;
$link_color: #87ae22;
$visited_link_color: #5d7b11;
$hover_link_color: #9ed01e;
$area_fill: #4c4c4c;

//Overriding 'blueprint-ie-defaults' button attributes (Job 91445)
input.button {
      position: relative;
      top: 0.0em; }
button {
    position: relative;
    top: 0.0em; }      
/*
 * Fonts
 * ---------------------------------------------------------------------------
*/

/* fonts */
h1, h2, h3, h4, h5, p {
	color : $text_color;
	margin-bottom : 15px;
}

h1 {
	font-size : 28px;
}

h2 {
	font-size : 22px;
}

h3 {
	font-size : 15px;
}

p {
	font-size : 12px;
}

a {
	color : $link_color;

	&:visited {
		color : $visited_link_color;
	}

	&:hover {
		color : $hover_link_color;
	}

	&.danger {

		color : #cc0000;

		&:hover {
			color : #ff0000;
		}

	}

}

/*
 * Useful Elements
 * ---------------------------------------------------------------------------
*/
ul.layout, ol.layout {
	margin : 0;
	padding : 1px;
	list-style : none;
}

.shadow {
	height : 10px;
	background : url('../images/framework/background_shadow.png');
}

.first {
	clear: left;
}

.hidden {
  display: none
}

.processing {
	background: url('../images/processing.gif') no-repeat;
	display: none;
	float: right;
	height: 16px;
	vertical-align : middle;
	width: 16px;
}

.label_highlight {
	color : #999;
}

.blockUI h2 {
	color: white;
}

table {
	width:100%;
}
/*
 * Page Layout
 * ---------------------------------------------------------------------------
*/
body {
	background : url('../images/framework/background_page.png') top left repeat-x;
	padding : 30px 0;
	text-align : left;
}

#container {
	@include container;
	margin-top : 20px;
}

#sidebar {
  @include column(4);
	@include no-bullets;
  margin-top: 60px;
  width: 147.5px;
  
}

#order_sidebar {
  @include column(6, true);
}

#currentOrders_form {
	padding-top: 2px;
}

#content {
	@include column(14);
}

#wide_content {
	@include column(24, true);
}

#right_sidebar_content {
	@include column(18);
}

/*
 * Block UI Message
 * ---------------------------------------------------------------------------
*/

div {
	&.blockMsg {
	    width:  40%;
	    top:    30%;
	    left:   30%;
	    text-align: center;
	    background-color: #000;
	    border: none;
	    -moz-border-radius: 10px;
	    -webkit-border-radius: 10px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	    -moz-opacity:.70;
	    opacity: .50;
	    padding-top: 10px;
	    color: #fff;
	}
}


.close {
  float: right;
  font-size: 3em !important;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity = 20);
  &:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity = 40);
  }
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

div.product_qty {
  color: #414141;
}

.modal-dialog.ui-corner-all {
  border-radius: 10px 5px;
  border: 10px solid #313131;
  padding: 10px;
  .header h1 {
    padding: 5px;
    font-size: 24px;
    margin: 0;
    line-height: 30px;
    font-weight: bold;
  }
}



.change_customer {
  min-height: 600px !important;
  /*  max-height:700px !important;*/
  .searchbox {
    label {
      font-size: 14px;
      font-weight: bold;
    }
    input[type='text'] {
      width: 320px;
      margin-left: 25px;
      height: 40px;
    }
  }
}

.current-customer {
  color: #79901E;
  font-weight: bold;
}

// Modules import
@import "modules/footer";
@import "modules/header";
@import "modules/form";
@import "modules/flash";
@import "modules/navigation_products";
@import "modules/navigation_site";
@import "modules/product_list";
@import "modules/product_qtys";
@import "modules/order";
@import "modules/order_sidebar";
@import "modules/order_finalise";
@import "modules/order_history";
@import "modules/order_detail";
@import "modules/session_box";
@import "modules/account_details";
@import "modules/customer_list";
@import "modules/promo_banner";
@import "modules/pagination";
@import "modules/extjs";
@import "modules/browserdetect";
@import "modules/_newdesignstyle";
// Layouts
@import "layouts/session";
@import "layouts/dashboard";
@import "layouts/error";
