// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-container-size: 960px;
$blueprint-grid-margin: 15px;

// Use this to calculate the width based on the total width.
// Or you can set !blueprint_grid_width to a fixed value and unset !blueprint_container_size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

// This import applies a global reset to any page that imports this stylesheet.
//@import "blueprint/reset";

// Import all the default blueprint modules so that we can access their mixins.
//@import "blueprint";
@import "blueprint/ie";


//@import "compass/utilities/lists/bullets";
//@import "compass/utilities/lists/horizontal-list";
@import "compass/typography/lists/bullets";
@import "compass/typography/lists/horizontal-list";

// Add custom mixins
@import "mixins/buttons";
@import "mixins/hover-effect";
@import "modules/extjs";
@import "mixins/_container";


// Plugins
@import "jquery-ui";

//@include blueprint-typography;
@include blueprint-ie;

// Set variables
$text_color: #4f4f4f;
$link_color: #87ae22;
$visited_link_color: #5d7b11;
$hover_link_color: #9ed01e;
$area_fill: #4c4c4c;

/*
 * Fonts
 * ---------------------------------------------------------------------------
*/

/* fonts */
h1, h2, h3, h4, h5, p {
	color : $text_color;
	margin-bottom : 15px;
}

h1 {
	font-size : 28px;
}

h2 {
	font-size : 22px;
}

h3 {
	font-size : 15px;
}

p {
	font-size : 12px;
}

a {
	color : $link_color;
	
	&:visited {
		color : $visited_link_color;
	}
	
	&:hover {
		color : $hover_link_color;
	}
	
	&.danger {
		
		color : #cc0000;
		
		&:hover {
			color : #ff0000;
		}
		
	}
	
}

/*
 * Useful Elements
 * ---------------------------------------------------------------------------
*/
ul.layout, ol.layout {
	margin : 0;
	padding : 0;
	list-style : none;
}

.shadow {
	height : 10px;
	background : url('../images/framework/background_shadow.png');
}

.first {
	clear: left;
}

.hidden {
  display: none
}

.processing {
	display: none;
}

/*
 * Page Layout
 * ---------------------------------------------------------------------------
*/
body {
	background : url('../images/framework/background_page.png') top left repeat-x;
	padding : 30px 0;
	text-align : left;
}

#container {
	@include container;
	margin-top : 20px;
}

#sidebar {
	@include column(4);
	@include no-bullets;
}

#order_sidebar {
  @include column(6, true);
}

#content {
	@include column(14);
}

#wide_content {
	@include column(24, true);
}

#right_sidebar_content {
	@include column(18);
}

// Modules import
@import "modules/footer";
@import "modules/header";
@import "modules/form";
@import "modules/flash";
@import "modules/navigation_products";
@import "modules/navigation_site";
@import "modules/product_list";
@import "modules/product_qtys";
@import "modules/order";
@import "modules/order_sidebar";
@import "modules/order_finalise";
@import "modules/order_history";
@import "modules/session_box";
@import "modules/account_details";
@import "modules/customer_list";
@import "modules/promo_banner";
@import "modules/pagination";

// Layouts
@import "layouts/session";
@import "layouts/dashboard";


//Elements to hide
#header, #navigation_site, .green.awesome, .awesome, #footer{
	display: none;
}

textarea {
	resize: none;
}

