﻿@model SalesNet.WebUI.Models.MessageModel
           
@{
    @Html.JavaScript("new OrderSidebar();");
}


<div id="order_sidebar">
	
	<div class="title">
		<h3>Current Order</h3>
	</div>

    <div id="mini_order">
		@Html.Partial("CurrentOrdersSummary", "Order")
		@Html.Partial("CurrentOrdersDetail", "Order")
    </div> 
</div>



