﻿@{ Ap21API.Entities.Order.Order order = ViewBag.CurrentOrder; }

<div class="totals">
	<table>
		<tr class="quantity">
			<th>Order Qty</th>
			<td>@order.Ordered.Quantity</td>
		</tr>
		
		<tr class="net">
			<th>Gross</th>
			<td>@Html.FormatCurrency(order.Ordered.Gross, order.Currency.Format) </td>
		</tr>
		
        @if(order.Ordered.Discount > 0){ // do not show unless there is a discount to apply
            <tr class="discount">
			    <th>Discount</th>
			    <td>@Html.FormatCurrency(order.Ordered.Discount, order.Currency.Format)</td>
		    </tr>
        }
		
		<tr class="tax">
			<th>Tax</th>
			<td>@Html.FormatCurrency(order.Ordered.Tax, order.Currency.Format)</td>
		</tr>
		
		<tr class="due">
			<th>Due</th>
			<td>@Html.FormatCurrency(order.Ordered.Value, order.Currency.Format)</td>
		</tr>		
	</table>
</div>


