@{ Ap21API.Entities.Order.Order order = ViewBag.CurrentOrder; }
<script type="text/javascript">
    function submitform() {
        document.forms["currentOrders_form"].submit();
    }

    /*
        This is duped in FinaliseOrderDetail.cshtml - put in external script.
    */
    $(document).ready(function () {

        function clearCookies() {
            $.cookie('customerReference', null);
            $.cookie('deliveryInstructions', null);
            $.cookie('specialInstructions', null);
        }
    
        function showConfirmDialogue(title, message, callback){
            
              Ext.MessageBox.show({
                title: title,
                msg: message,
                buttons: Ext.MessageBox.YES | Ext.MessageBox.NO,
                fn: callback,
                modal: false,
                icon: Ext.MessageBox.QUESTION
            });
        }
        
        function clearOrder(button) {

            if (button === "yes") {

                clearCookies();

                Ext.Ajax.request({
                    url: host + 'Order/DeleteOrders',
                    success: function (response, options) {
						$('.products').slideUp(function () {
							$('#order_sidebar').replaceWith(response.responseText);
						});
                    },
					failure: function(response, status){
						handle(response.status);
					}
                });
            }
        }

        $('#clear_order').click(function () {

            showConfirmDialogue('Clear order', 'Would you like to clear your order?', clearOrder);
            return false;
        });


        $('.remove_order').each(function () {

            var that = this;

            function removeOrder(button) {
                if (button === "yes") {

                    clearCookies();

                    Ext.Ajax.request({
                        url: host + 'Order/RemoveOrder?orderDetailId=' + that.id,
                        success: function (response, options) {

                            $('.mini_product[data-order=' + that.id + ']').slideUp(function(){
                                $(order_sidebar).replaceWith(response.responseText);
                            });
                   		},
						failure: function (request, options){
							handle(request.status);
						}	
					});
               	 	
            	}
			}

            $(this).click(function () {

                showConfirmDialogue('Remove order', 'Would you like to remove this product?', removeOrder);
                
                return false;
            });
        });

    });
</script>

@if (order.OrderDetails.OrderDetail.Count > 0)
{
	<script  type="text/javascript">
		var detailData = @Html.Raw(@Html.GetOrderDetailsJson(order)) ;
		var detailIds = @Html.Raw(@Html.GetOrderDetailIdsArray(order)) ;
	</script>
			
}


<div class="products">    
    @foreach (Ap21API.Entities.Order.OrderDetail currentOrderDetail in order.OrderDetails.OrderDetail)
    {
        <div class="mini_product" data-order='@currentOrderDetail.Id'>

            <div class="thumb">
			    @Html.GetProductThumbImage(@currentOrderDetail.ProductCode)
		    </div>

		    <div class="details">               
			    <h4 class="code_and_name">@currentOrderDetail.ProductCode.ToUpper()</h4>
                <h4 class="code_and_name">@currentOrderDetail.ProductName</h4>
			    <p class="gross">@Html.FormatCurrency(currentOrderDetail.Ordered.Gross - currentOrderDetail.Ordered.Discount, order.Currency.Format)</p>
			    <p class="unit_count">@Html.GetItemUnit(currentOrderDetail.Ordered.Quantity, "unit") total</p>
		    </div>

        </div>    

        <div class="mini_product_item" id="@Html.GetCurrentOrderDetailDivId(currentOrderDetail.Id)">

            <h2>
                <span class="code">@currentOrderDetail.ProductCode.ToUpper()</span>
                <span class="name">@currentOrderDetail.ProductName</span>
                    @Html.GetCloseImage_SideBar()
            </h2>
            
        
                 
            <div class='image'>
                @Html.GetProductImage(@currentOrderDetail.ProductCode)
            </div>
            
            <div class='details'>
                <div class='pricing'>
                    <span class='detail_item from'>
                    @if (Html.IsPriceDifferentBySku(currentOrderDetail.Clrs.Clr) )
                    {
                        <span class='bold'>From </span> 
                    }
                    
                    @Html.FormatCurrency(Html.GetPriceFrom(currentOrderDetail.Clrs.Clr), order.Currency.Format)</span>

                    @if(currentOrderDetail.Ordered.Discount > 0){
                        <span class='detail_item discount'><span class='bold'>Discount</span> @Html.FormatCurrency(currentOrderDetail.Ordered.Discount, order.Currency.Format)</span>
                    }
                    
                    <span class='detail_item qty'><span class='bold'>Total Qty</span> @currentOrderDetail.Ordered.Quantity</span>
                </div>
            
                <p class='total'>Total (@(currentOrderDetail.Ordered.Discount > 0 ? "inc disc. " : "")excl. tax)  @Html.FormatCurrency(currentOrderDetail.Ordered.Gross - currentOrderDetail.Ordered.Discount, order.Currency.Format)</p>

                 @{ var currentGrid = "order-details" + currentOrderDetail.Id;} 

                 <div id="@currentGrid")></div>           
            
                <div class='actions'>
                    <a class="product_qty_popup_ordersidebar btn_medium" href="@Url.Content(String.Concat("~/product/OrderDetail/", currentOrderDetail.ProductId))">Edit</a>
                    <a id="@currentOrderDetail.Id" class="btn_medium remove_order">Remove</a>
                </div>
            </div>
        </div>             
    }

    @if (order.Ordered.Quantity > 0)
    {
        using (Html.BeginForm("FinaliseOrder", "Order", FormMethod.Get, new { id = "currentOrders_form" }))
        {
            <div>
                <a class='btn_medium' href='javascript: submitform()' title='Finalise current order'>Finish</a>
                <a id="clear_order" class='btn_medium'>Clear Order</a>
            </div>
        }
    }  

</div>




