﻿@model SalesNet.WebUI.Models.FinaliseOrderViewModel
@{
    @Html.JavaScript("new FinaliseOrder();")
}
<script type="text/javascript">
    var detailData = @Html.Raw(@Html.GetOrderDetailsJson(Model.OrderModel))
    var detailIds = @Html.Raw(@Html.GetOrderDetailIdsArray(Model.OrderModel))
</script>
@Html.JavaScript("new OrderFinaliseDetails()")
<script type="text/javascript">

    $(document).ready(function () {
        if ($(".savedelivery") != null) {
            $(".savedelivery").click(function () {
                //debugger;
                SendOrderForm.action = '@Url.Action("savedelivery","Order")';
                //SendOrderForm.action.replace('/Order/SendOrder','/Order/savedelivery');
                SendOrderForm.submit();
                return false;
            });
        }
        if ($.cookie("SubmittedOrderID") != null) {
            if ($.cookie("SubmittedOrderID") != $("#id").val()) {
                $.cookie('customerReference', null);
                $.cookie('deliveryInstructions', null);
                $.cookie('specialInstructions', null);
            }
        }

        function clearOrderInstructions() {
            $.cookie('customerReference', null);
            $.cookie('deliveryInstructions', null);
            $.cookie('specialInstructions', null);
        }

        function showConfirmDialogue(title, message, callback) {

            Ext.MessageBox.show({
                title: title,
                msg: message,
                buttons: Ext.MessageBox.YES | Ext.MessageBox.NO,
                fn: callback,
                modal: false,
                icon: Ext.MessageBox.QUESTION
            });
        }

        // handlers for each product on order
        $('.remove_order').each(function () {

            var that = this;

            function removeOrderDetail(button) {

                if (button === "yes") {

                    clearOrderInstructions();

                    Ext.Ajax.request({
                        url: host + 'Order/RemoveOrderFromFinalisePage?orderDetailId=' + that.id,
                        success: function (response, options) {
                            $('#' + that.id).parents('.mini_product_item').slideUp(function () { $(this).remove() });
                            $.get(host + 'Order/GetCurrentOrderQty', function (data) {
                                var currencyformat = data.Currency;
                                $('#spanQuantity').html('( ' + data.Quantity + ' )');
                                $('#tdOrderQty').html(data.Quantity);
                                $('#tdGross').html(data.Gross);
                                $('#tdDiscount').html(data.Discount);
                                $('#tdTax').html(data.Tax);
                                $('#tdDue').html(data.Value);

                                $('#orderedqty').html(data.Quantity);
                                $('#orderedgross').html(data.Gross);
                                $('#ordereddiscount').html(data.Discount);
                                $('#orderedtax').html(data.Tax);
                                $('#ordereddue').html(data.Value);

                                if (data.Quantity <= 0) {
                                       $('#tdEditCart').html("<a  href='#' style='border-bottom-style:none;color:White;cursor:not-allowed;'>Edit&nbsp;Cart</a>");
                                   } else {
                                       $('#tdEditCart').html("<a  href='@(Url.Action("FinaliseOrder","Order"))' style='border-bottom-style:none;color:White;'>Edit&nbsp;Cart</a>");
                                }


                            });
                        },
                        failure: function (response, options) {
                            handle(response.status);
                        }
                    });
                }
            }

            $(this).click(function () {
                showConfirmDialogue('Remove order', 'Would you like to remove this order?', removeOrderDetail);
            });
        });

        // handler to clear all button
        function removeAllOrderDetails(button) {

            if (button === "yes") {

                clearOrderInstructions();

                Ext.Ajax.request({
                    url: host + 'Order/DeleteOrdersFromFinalisePage',
                    success: function (response) {
                        window.location = host + 'Products';
                    },
                    failure: function (response, options) {
                        handle(response.status);
                    }
                });
            }

            return false;
        }

        $('#awesomedeletefinalise').click(function () {
            showConfirmDialogue('Clear order', 'Would you like to remove all products from this order?', removeAllOrderDetails);
        });
        $('#awesomedeletefinalise1').click(function () {
            showConfirmDialogue('Clear order', 'Would you like to remove all products from this order?', removeAllOrderDetails);
        });

        $.cookie("SubmittedOrderID", $("#id").val(), { expires: 1 });

        $('#customerReference').change(function () {
            $.cookie("customerReference", $("#customerReference").val(), { expires: 1 });
        });

        $('#deliveryInstructions').change(function () {
            $.cookie("deliveryInstructions", $("#deliveryInstructions").val(), { expires: 1 });
        });

        $('#specialInstructions').change(function () {
            $.cookie("specialInstructions", $("#specialInstructions").val(), { expires: 1 });
        });

        if ($.cookie("customerReference") != null) {
            $("textarea#customerReference").val($.cookie("customerReference"));
        }

        if ($.cookie("deliveryInstructions") != null) {
            $("textarea#deliveryInstructions").val($.cookie("deliveryInstructions"));
        }

        if ($.cookie("specialInstructions") != null) {
            $("textarea#specialInstructions").val($.cookie("specialInstructions"));
        }

        $('#customerReference').jqEasyCounter({
            'maxChars': 30
        })

        $('#deliveryInstructions').jqEasyCounter({
            'maxChars': 250
        })


        $('#specialInstructions').jqEasyCounter({
            'maxChars': 250
        })

        var textboxSplInstrns = $('#specialInstructions');
        var textboxDelInstrns = $('#deliveryInstructions');
        textboxSplInstrns[0].style.pixelHeight = 119;
        textboxDelInstrns[0].style.pixelHeight = 119;

        var textbox = $('#customerReference');
        textbox.focus();
        var caretPos = textbox.val().length;
        textbox[0].style.pixelHeight = 40;
        if (textbox[0].createTextRange) { /* For IE */
            //  debugger;

            var range = textbox[0].createTextRange();
            range.move('character', caretPos);
            range.select();
        }
        else { /* For other browsers */
            textbox[0].setSelectionRange(caretPos, caretPos);
        };


        if (loadAlternateAddresses) {
            loadAlternateAddresses();
        }
    });

</script>
<script type="text/javascript">

    $(document).ready(function () {
        if ($("#btnEditDelivery") != null) {
            $("#btnEditDelivery").click(function () {
                //alert("this is working");
                //debugger;

                $('#EditDialog').dialog(
                        { modal: true,
                            width: 450,
                            resizable: false,
                            closeText: "X"
                        });
                //                         SendOrderForm.action = '/Order/EditDelivery';
                //                    SendOrderForm.submit();
                return false;
            });
        }
    });
   
</script>
@*<style type="text/css">
.ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable{height:400px;}
</style>*@

<style type="text/css" >
#order_finalise .mini_product_item .image img {
         max-width:150px;
         max-height:150px;
         width:auto;
         height:auto;}
</style>
<div id="EditDialog" title="Select Alternate Address"  style="display: none">

  <table>
 <tr>
     <td style="font-weight:bold;font-size:large; color:#6E6E6E; padding-bottom:15px;">Select Alternate Address</td>
     <td style="font-weight:900;font-size:15px;color:#6E6E6E; padding-bottom:15px;"><a href="#" onclick="$('#EditDialog').dialog('close');"  style="text-decoration:none;">X</a></td>
 </tr>

 <tr><td colspan="2" >
<div style="overflow-y:scroll;max-height:350px;border-bottom-width:1px;border-top-width:1px;border-style:solid;border-color:#B3B3B3; "><table>
  @{
                 
      List<Ap21API.Entities.Order.Address> lstLocation = Ap21API.Entities.Customer.Customer.Find(AppSession.CurrentSession.CustomerId).Locations.Location;//ViewBag.Locations;
             }
           @if (lstLocation != null)
           {
               foreach (Ap21API.Entities.Order.Address addr in lstLocation)
               {
     <tr style="border-width:1px;border-style:solid;border-color:#B3B3B3;">
                 @if (Model.OrderModel.Addresses.Delivery.Id == addr.Id || Model.OrderModel.Addresses.Billing.Id == addr.Id)
                 {
                    <td colspan="2" style="font-weight:bold; background-color:#E0EBCC;color:#6E6E6E;font-size: 12px;font-weight:bold;padding:5px 5px 0px 5px;" > 
                         <table>
                            <tr>
                                         <td>
                                           @addr.AddressLine1 <br />
                                           @addr.City<br />
                                           @addr.State<br />
                                           @addr.Postcode<br />
                                           @addr.Country<br />
                                           
                                        </td>
                                         <td align="right" style="padding-left: 160px;color:#98BD18; text-align:right;font-weight:bold;vertical-align:top;">
                                            @{ @:Currently&nbsp;selected 
                                            }
                                         </td>
                           </tr> 
                        </table> 
                   </td>
                 }
                 else
                 {
                     <td colspan="2" style="font-weight:bold; color:#6E6E6E;font-size: 12px;font-weight:bold;padding:5px 5px 0px 5px;" > 
                         <table>
                            <tr>
                                         <td>
                                           @addr.AddressLine1 <br />
                                           @addr.City<br />
                                           @addr.State<br />
                                           @addr.Postcode<br />
                                           @addr.Country<br />
                                           
                                        </td>
                                         <td align="right" style="padding-left: 160px;color:#98BD18; text-align:right;font-weight:bold;vertical-align:top;">
                                             @Html.ActionLink("Select", "ChangeDeliveryAddress1", "Order", new { id = addr.Id }, new { @class = "btn btn-inverse" })
                                         </td>
                           </tr> 
                        </table> 
                   </td>
                 }
                
     </tr> 
               }
           }
          
         
  </table>
   </div>
  </td>
  </tr>
   <tr>
                  <td align="right" colspan="2" style="padding-top: 30px;padding-left: 50px;" colspan="2"> <a href="#" onclick="$('#EditDialog').dialog('close');"  style="text-decoration:none; padding-left:315px;font-weight:bold;color:Gray;">Close</a></td>
          </tr>
  </table> 
 
</div>

<div id="finalise_order" style="width: 100%">
    @using (Html.BeginForm("SendOrder", "Order", FormMethod.Post, new { id = "SendOrderForm" }))
    {          
        
        <div id="complete_order" style="width: 100%;">
            <div id="finaliseOrderButtons" class="actions" style="float: right; vertical-align: top;
                width: 100%;">
                <table id="headerfinalise" style="padding-top: 10px; padding-bottom: 10px;">
                    <tr>
                        <td>
                            <h2 style="float: left; margin-right: 350px; padding-left: 2px;">
                                Complete Your Order</h2>
                        </td>
                        <td>
                            <!-- Ug-mo code. If only disabled attribte was bool not a string. -->
                            <a  id='addProduct' class="savedelivery" href='@Html.GetAddProductsLink("")' data-remote='true' >
                                <img src="@Url.Content("~/Content/images/framework/ContinueShopping.png")" style="margin-top:5px;cursor:pointer;"/></a>
                        </td>
                        <td>

                            @if (Model.OrderModel.Ordered.Quantity > 0)
                            {   
                                <a id="awesomedeletefinalise">
                                    <img src="@Url.Content("~/Content/images/framework/Cleareorder.png")" style="margin-top:5px;cursor:pointer;"  />
                                </a>
                                <!-- <a class="btn_medium" id="awesomedeletefinalise" >Clear Order</a>-->
                            }
                        </td>
                        <td>
                            @if (Model.OrderModel.Ordered.Quantity > 0)
                            {
                                bool disabled;
                                if (TempData["EnableSubmit"] == null)
                                {
                                    disabled = false;
                                }
                                else
                                {
                                    disabled = !(bool)TempData["EnableSubmit"];
                                }
                    
                                <input  class='finishbtn' value=" " type="submit"  id='btnsendorder' data-remote='true' @(disabled ? "disabled='disabled'" : "") style="margin-top:5px; cursor:pointer;"/>
                    
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="divDelvery" style="float: left; width: 30%; border-width: 2px; border-right-style: dotted;
            border-color: #BDBDBD; margin-right: 15px">
            <div class="col1">
                <h3 style="color: #6E6E6E;">
                    <b>Order Summary</b></h3>
                <br />
                <hr align="right" width="100%" style="color: #D8D8D8" />
                <div class="details1">
                    <table border="3px">
                        <tr>
                            <td width="42%">
                                <div align="right" class="style10" style="color: #6E6E6E;">
                                    Delivery To :</div><br />
                                    <div style="padding-left:60px;">
                                    @if (lstLocation != null && lstLocation.Count > 1)
                                    {
                                    <a href="#" id="btnEditDelivery"><img src="@Url.Content("~/Content/images/framework/Edit.png")" /></a>
                                    }
                                    </div>
                            </td>
                            <td width="5%">
                                <div align="right">
                                </div>
                            </td>
                            <td>
                                @{
                                    if (Model.OrderModel.Addresses.Delivery.IsEmpty())
                                    {
                                    @Html.GetDeliveryAddress(Model.OrderModel.Addresses.Billing);
                                    }
                                    else
                                    {
                                    @Html.GetDeliveryAddress(Model.OrderModel.Addresses.Delivery);
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div align="right" class="style10">
                                    Order Created:</div>
                            </td>
                            <td>
                                <div align="right">
                                </div>
                            </td>
                            <td>
                                @Html.GetOrderCreateDate()
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div align="right" class="style10">
                                    Order Qty:</div>
                            </td>
                            <td>
                                <div align="right">
                                </div>
                            </td>
                            <td>
                                <span id="orderedqty" class="orderdetail">@Model.OrderModel.Ordered.Quantity</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div align="right" class="style10">
                                    Gross:</div>
                            </td>
                            <td>
                                <div align="right">
                                </div>
                            </td>
                            <td>
                                <span id="orderedgross" class="orderdetail">@Html.FormatCurrency(Model.OrderModel.Ordered.Gross, Model.OrderModel.Currency.Format)</span>
                            </td>
                        </tr>
                        @if (Model.OrderModel.Ordered.Discount > 0)
                        {
                            <tr>
                                <td>
                                    <div align="right" class="style10">
                                        Discount:</div>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    <span id="ordereddiscount" class="orderdetail">@Html.FormatCurrency(Model.OrderModel.Ordered.Discount, Model.OrderModel.Currency.Format)</span>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <div align="right" class="style10">
                                    Tax:</div>
                            </td>
                            <td>
                                <div align="right">
                                </div>
                            </td>
                            <td>
                                <span id="orderedtax" class="orderdetail">@Html.FormatCurrency(Model.OrderModel.Ordered.Tax, Model.OrderModel.Currency.Format)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div align="right" class="style10">
                                    Due:</div>
                            </td>
                            <td>
                                <div align="right">
                                </div>
                            </td>
                            <td>
                                <b><font color="#C11616"><span id="ordereddue" class="orderdetail" style="font-weight: bolder; font-size: 16px;">@Html.FormatCurrency(Model.OrderModel.Ordered.Value, Model.OrderModel.Currency.Format)</span>
                                </font></b>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br />
            <div class="col2">
                <h3 style="color: #6E6E6E;">
                    <b>Special Instructions</b></h3>
                <br />
                <hr align="right" width="100%" style="color: #D8D8D8" />
                <table>
                    <tr>
                        <td style="color: #6E6E6E;">
                            <strong>Reference :</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextArea("customerReference", Model.OrderModel.CustomerReference, 1, 1, new { id = "customerReference" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong style="color: #6E6E6E;">Delivery Instructions :</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextArea("deliveryInstructions", Model.OrderModel.DeliveryInstructions, 10, 1, new { id = "deliveryInstructions", style = "height:120px;" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong style="color: #6E6E6E;">Special Instructions :</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextArea("specialInstructions", Model.OrderModel.SpecialInstructions, 10, 1, new { id = "specialInstructions" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (Model.OrderModel.Ordered.Quantity > 0)
                            {
                                bool disabled;

                                if (TempData["EnableSubmit"] == null)
                                {
                                    disabled = false;
                                }
                                else
                                {
                                    disabled = !(bool)TempData["EnableSubmit"];
                                }
                                <table style="display:none;">
                                    <tr>
                                        <td align="right">
                                            <input  type="submit" value=" " id='savedelivery' data-remote='true' @(disabled ? "disabled='disabled'" : "")/>
                                        </td>
                                        <td align="right">
                                            <input class='savefinishbtn' type="submit" value=" " id='saveandfinish' data-remote='true' @(disabled ? "disabled='disabled'" : "")/>
                                        </td>
                                    </tr>
                                </table>
                                
                                
                                
                            }
                        </td>
                    </tr>
                </table>
                @Html.Hidden("id", Model.OrderModel.Id, new { id = "id" })
            </div>
        </div>
        
        <div id="order_finalise" style="float: left; width: 65%;">
            <h3>
                <b>Products Ordered</b></h3>
            <div id="mini_order">
                <div class="products">
                    @foreach (Ap21API.Entities.Order.OrderDetail currentOrderDetail in Model.OrderModel.OrderDetails.OrderDetail)
                    {
                        var countColumns = 1;       
                        <div class="mini_product_item" style="margin-bottom:10px;background-color: #ededed;background-image:none;padding-top:20px;border:0px;border-radius:8px;border-style:solid;border-bottom-width:0px" id="@Html.GetCurrentOrderDetailDivId(currentOrderDetail.ProductCode)">
                            <table>
                                <tr>
                                    <td style="width: 100px;">
                                        <div class='image' style="margin-left: 15px;overflow:visible;width:150px;height:150px;text-align:center;">
                                            @Html.GetProductImage(@currentOrderDetail.ProductCode)
                                        </div>
                                    </td>
                                    <td style="padding-left: 15px; width:350px;">
                                        <b>@currentOrderDetail.ProductCode.ToUpper()</b><br />
                                        @currentOrderDetail.ProductName
                                        <div class='pricing' style="margin-top:5px;margin-bottom:5px;">
                                            <span class='detail_item from' style="font-weight: bold;">
                                                @if (Html.IsPriceDifferentBySku(currentOrderDetail.Clrs.Clr))
                                                {
                                                    <span class='bold'>From</span> 
                                                }
                                                @Html.FormatCurrency(Html.GetPriceFrom(currentOrderDetail.Clrs.Clr), Model.OrderModel.Currency.Format)</span>&nbsp;&nbsp;&nbsp;
                                            @if (currentOrderDetail.Ordered.Discount > 0)
                                            {
                                                <span class='detail_item discount'><span class='bold'>Discount</span><b>&nbsp;&nbsp;&nbsp;@Html.FormatCurrency(currentOrderDetail.Ordered.Discount, Model.OrderModel.Currency.Format)</b></span>
                                            }
                                            | &nbsp;&nbsp;&nbsp;<span class='detail_item qty'><span class='bold'>Total Qty:</span><b> @currentOrderDetail.Ordered.Quantity</b></span>
                                        </div>
                                        <p class='total'>
                                            Total (@(currentOrderDetail.Ordered.Discount > 0 ? "inc disc." : "")excl. tax):<b> 
                                            <font   color="#C11616" size="3px";>
                                            @Html.FormatCurrency(currentOrderDetail.Ordered.Gross - currentOrderDetail.Ordered.Discount, Model.OrderModel.Currency.Format)
                                            </font></b></p>
                                          
                                    </td>
                                    <td style="vertical-align: top; margin-top: 10px;">
                                        <div class='actions' style="margin-top: 10px; padding-top: 0px;margin-right:20px;padding-right:30px;">
                                            @{
                        string link = Url.Action("OrderDetail", "Product", new { id = currentOrderDetail.ProductId, isFromFinalizeOrder = "y"});
                                            }
                                        @*<a href="@Url.Content(String.Concat("~/product/OrderDetail/", @currentOrderDetail.ProductId, "?isFromFinalizeOrder=1"))">*@
                                            <a href="@link" class="product_qty_finalise" data-product="@currentOrderDetail.ProductId">
                                                <img src="@Url.Content("~/Content/images/framework/Edit.png")" /></a> <a class="remove_order" id="@currentOrderDetail.Id">
                                                                                                                          <img src="@Url.Content("~/Content/images/framework/Remove.png")" style="cursor:pointer"/></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="left">
                                        <div class='details' style="margin-left: 15px;">
                                            @{ var currentGrid = "order-details" + currentOrderDetail.Id;}
                                            <div id="@currentGrid" style="display:none;" >
                                            </div>
                                            @* start*@
                                            <div id="div_order-details" style="margin-top:20px;">
                                                @{
                                                //SalesNet.WebUI.DataSetGenerators.OrderDetailsGridDataSet.OrderGridLine[] OrderGridRows = SalesNet.WebUI.DataSetGenerators.OrderDetailsGridDataSet.GetGridLines(Model.OrderModel);

                                                //SalesNet.WebUI.DataSetGenerators.OrderDetailsGridDataSet.OrderGridLine[] OrderGridRows = (SalesNet.WebUI.DataSetGenerators.OrderDetailsGridDataSet.OrderGridLine[])ViewData["GridLines"];
                                                List<SalesNet.WebUI.DataSetGenerators.OrderDetiailsGrid> lstODG = SalesNet.WebUI.DataSetGenerators.OrderDetailsGridDataSet.GetOrderDetiailsGridList(Model.OrderModel);
        
                                                }
                                                <table border="2" style="width:auto;">
                                                    <tr>
                                                        <td>
                                                            <table id="tblOrderDetails1" style="width: 200px;">
                                                                @foreach (SalesNet.WebUI.DataSetGenerators.OrderDetiailsGrid OrderGridRow in lstODG)
                                                                {

                                                                    if (OrderGridRow.LineType == "SIZEHEAD" && OrderGridRow.DetailId == currentOrderDetail.Id)
                                                                    {
                                                                    <tr style="background-color: #FAFAFA">
                                                                        <td style="width: 480px; height: 30px; color: #A4A4A4">
                                                                            @*<b>Type</b>*@
                                                                        </td>
                                                                        <td style="width: 100px; height: 30px; color: #A4A4A4">
                                                                            <b>Total</b>
                                                                        </td>
                                                                    </tr> 
                                                                    }
                                                                    else if (OrderGridRow.LineType == "COLOUR" && OrderGridRow.DetailId == currentOrderDetail.Id)
                                                                    {
                                                                    <tr style="background-color: #FAFAFA">
                                                                        <td style="height: 25px; color: #3B3B3B">
                                                                            <b>@OrderGridRow.Colour</b>
                                                                        </td>
                                                                        <td style="height: 25px; color: #3B3B3B;text-align:right;">
                                                                            <b>@OrderGridRow.Quantity &nbsp;&nbsp;</b>
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                    
                                                                       
                                                                    }

                                                                }
                                                                <tr>
                                                        <td style=" color: black;font-weight: bold; font-size: 14px; padding-left: 2px;">
                                                            <span class='detail_item qty'><b>Total Quantity</b></span></td><td style="text-align:right;">
                                                            <font style="color: #C11616; font-weight:bold; font-size: 15px; ">
                                                                @currentOrderDetail.Ordered.Quantity</font>&nbsp;&nbsp;</td>
                                                        
                                                    </tr>
                                                            </table>
                                                        </td>
                                                        <td rowspan="2" style="vertical-align:top;">
                                                            <div style="min-width:10px; max-width:400px; padding-bottom: 5px; overflow-x:scroll;  border-top-color: #66cccc; border-right-color: #66cccc; border-bottom-color: #66cccc; border-left-color: #66cccc; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;">
                                                                 
                                                                <table id="tblOrderDetails2" style="width:auto;" >
                                                                    
                                                                     @foreach (SalesNet.WebUI.DataSetGenerators.OrderDetiailsGrid OrderGridRow in lstODG)
                                                                     {

                                                                         if (OrderGridRow.LineType == "SIZEHEAD" && OrderGridRow.DetailId == currentOrderDetail.Id)
                                                                         {
                                                                       @* <tr style="background-color: #FAFAFA; display:none;">
                                                                            <td style="height: 30px; color: #656565; font-weight: bolder;">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size1))
                                                                                {
                                                                                    <div>@OrderGridRow.Size1</div>
                            
                                                                                }

                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="font-weight: bolder;color: #656565;">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size2))
                                                                                {
                                                                                    <div>@OrderGridRow.Size2</div>
                                                                                }

                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="font-weight: bolder; color: #656565;">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size3))
                                                                                {
                                                                                    <div>@OrderGridRow.Size3</div>
                                                                                }

                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="font-weight: bolder;color: #656565;">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size4))
                                                                                {
                                                                                    <div>@OrderGridRow.Size4</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="font-weight: bolder;color: #656565;">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size5))
                                                                                {
                                                                                    <div>@OrderGridRow.Size5</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="font-weight: bolder;">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size6))
                                                                                {
                                                                                    <div>@OrderGridRow.Size6</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="font-weight: bolder;color: #656565;">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size7))
                                                                                {
                                                                                    <div>@OrderGridRow.Size7</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="font-weight: bolder;color: #656565;">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size8))
                                                                                {
                                                                                    <div>@OrderGridRow.Size8</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="font-weight: bolder;color: #656565;">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size9))
                                                                                {
                                                                                    <div>@OrderGridRow.Size9</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="font-weight: bolder;color: #656565;">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size10))
                                                                                {
                                                                                    <div>@OrderGridRow.Size10</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                        </tr>*@
                                                                            
                                                                         <tr style="background-color: #FAFAFA; height:30px;">
                                                                               @foreach (string strSize in OrderGridRow.Sizes)
                                                                               {
                                                                                  
                                                                                    if (!String.IsNullOrEmpty(strSize))
                                                                                    {
                                                                                        countColumns = countColumns + 1; 
                                                                                     <td style="font-weight: bolder;color: #656565; width:15px; vertical-align:middle;text-align:center; padding-left:7px;padding-right:6px;">
                                                                                            
                                                                                            
                                                                                                <div> @strSize</div></td>
                                                                                      }

                                                                                             @*else
                                                                                             {
                                                                                                        <div>
                                                                                                        &nbsp;</div>
                                                                                             }*@
                                                                                    
                                                                               }         

                                                                         </tr>
                                                                         }
                                                                         else if (OrderGridRow.LineType == "COLOUR" && OrderGridRow.DetailId == currentOrderDetail.Id)
                                                                         {
                                                                      @*  <tr style="background-color: #FAFAFA; display:none;">
                                                                            <td style="height: 25px; color: #3B3B3B">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size1))
                                                                                {
                                                                                    <div>@OrderGridRow.Size1</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="color: #3B3B3B;">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size2))
                                                                                {
                                                                                    <div>@OrderGridRow.Size2</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="color: #3B3B3B">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size3))
                                                                                {
                                                                                    <div>@OrderGridRow.Size3</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="color: #3B3B3B">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size4))
                                                                                {
                                                                                    <div>@OrderGridRow.Size4</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="color: #3B3B3B">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size5))
                                                                                {
                                                                                    <div>@OrderGridRow.Size5</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="color: #3B3B3B">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size6))
                                                                                {
                                                                                    <div>@OrderGridRow.Size6</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="color: #3B3B3B">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size7))
                                                                                {
                                                                                    <div>@OrderGridRow.Size7</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="color: #3B3B3B">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size8))
                                                                                {
                                                                                    <div>@OrderGridRow.Size8</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="color: #3B3B3B">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size9))
                                                                                {
                                                                                    <div>@OrderGridRow.Size9</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>
                                                                            <td style="color: #3B3B3B;">
                                                                                @if (!String.IsNullOrEmpty(OrderGridRow.Size10))
                                                                                {
                                                                                    <div>@OrderGridRow.Size10</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div>
                                                                                        &nbsp;</div>
                                                                                }
                                                                            </td>

                                                                        </tr>*@
                                                                            
                                                                             
                                                                             var countColoumninGrid=1;
                                                                         <tr style="background-color: #FAFAFA">

                                                                            @foreach (string strSize in OrderGridRow.Sizes)
                                                                            {
                                                                                //added by siva 18-1-2013
                                                                                countColoumninGrid=countColoumninGrid+1;
                                                                                if (countColoumninGrid <= countColumns)
                                                                                {
                                                                                              <td style="height: 25px; width:15px; color: #3B3B3B; padding-left:7px;padding-right:6px;">
                                                                                              @if (!String.IsNullOrEmpty(strSize))
                                                                                              {
                                                                                                     <div>@strSize</div>
                                                                                              }

                                                                                              else
                                                                                              {
                                                                                                      <div>
                                                                                                        &nbsp;</div>
                                                                                              }
                                                                                                </td>
                                                                                }
                                                                                else{
                                                                                    break; }
                                                                            }
                                                                         </tr>
                                                                         }
                                                                     }
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    
                                                </table>
                                            </div>
                                            @*end*@
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>           
                    }
                </div>
            </div>
        </div>
        <div class="medium2" id="finaliseOrderButtons2" class="actions" style="float: right;">
            <table>
                <tr>
                    <td>
                        <a  id='addProduct1' class="savedelivery" href='@Html.GetAddProductsLink("")' data-remote='true' >
                            <img src="@Url.Content("~/Content/images/framework/ContinueShopping.png")" style="cursor:pointer;"/></a>
                    </td>
                    <td>
                        &nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        @if (Model.OrderModel.Ordered.Quantity > 0)
                        {  
                            <a id="awesomedeletefinalise1">
                                <img src="@Url.Content("~/Content/images/framework/Cleareorder.png")" style="cursor:pointer;" alt="Clear Order" /></a>
                        }
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <!-- Ug-mo code. If only disabled attribte was bool not a string. -->
                        @if (Model.OrderModel.Ordered.Quantity > 0)
                        {
                            bool disabled;

                            if (TempData["EnableSubmit"] == null)
                            {
                                disabled = false;
                            }
                            else
                            {
                                disabled = !(bool)TempData["EnableSubmit"];
                            } 
@*<input class='medium4 @(disabled ? "grey" : "")' type="submit" value="Finish" id='sendorder1' data-remote='true' @(disabled ? "disabled='disabled'" : "")/>*@                      
                            <input class='finishbtn' type="submit" value=" " id='sendorder1' data-remote='true' @(disabled ? "disabled='disabled'" : "") style="cursor:pointer"/>
                        }
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
