﻿@model IPagedList<Ap21API.Entities.Order.Order>
@using Ap21API.Entities.Order
@using SalesNet.WebUI.Helpers;
<script>

    $(document).ready(function () {
        $('#ActiveElement').text($('#order_type').val());
    });
</script>
<div class="tab-content">
<div class="history_items" id="update_panel">
<style>
.lbl_Invoiced
{
    background-color:#fff;
    color:#000;  
}

</style>
@if(Model != null)
{    
    <table>
    	<tr>
            <th>Status</th>
			<th style="text-align:center;">Trans. #</th>
			<th>Reference</th>
	@*		<th>Type</th>*@
			<th>Created Date</th>
			<th class="right">Lines</th>
			<th class="right">Qty</th>
			<th class="right">Total (inc Tax)</th>
		</tr>
		@foreach (var order in Model)
       {
             Matric m = @Html.GetOrderMatric(order);

            <tr class="@String.Concat("order_", order.OrderState.ToLower())">     
            @if (order.TransactionType == "Order")
            {
                if (order.OrderState == "Complete")
                { 
                         <td class="show_order" id="Isorder1"><a data-order-id="@order.Id" class="jquery-ui-icon arrowdn" style="padding-left:20px;"><span class="lbl_@(order.OrderState) lbl_state" style="color:#BF2422;">CANCELLED</span></a></td>
                }
                else
                {                                                                                                                                                                                                   
                        <td class="show_order" id="Isorder2"><a data-order-id="@order.Id" class="jquery-ui-icon arrowdn" style="padding-left:20px;"><span class="lbl_@(order.OrderState) lbl_state">@order.OrderState</span></a></td>
                }
            }
            else
            { 
               <td class="show_order"><a data-order-id="@order.Id" class="jquery-ui-icon arrowdn" style="padding-left:20px;"></a></td>
            }
                <td style="text-align:center;padding-left:20px;">@order.TransNumber</td>
                <td>@order.CustomerReference</td>
             @*   <td>@order.TransactionType</td>*@
                <td>@Html.FormatDateTime(order.CreatedDate, "dd/MM/yyyy")</td>
                <td class='right'>@order.Lines</td>
                <td class='right'>@m.Quantity</td>
                <td class='right'>@Html.FormatCurrency(m.Value, order.Currency.Format)</td>
            </tr>

            <tr id="@String.Concat("order_details_", order.Id)" class="details_row">
                <td colspan="20" class='details'>
                    @*<h1>Trans # @order.TransNumber</h1>*@

                   

                    <div class='col1'>
                        <ul>
                            <li><strong>Deliver To</strong></li>
                            <li>
                                <span>
                                @{if (order.Addresses.Delivery.IsEmpty())
                                  {
                                    @Html.AddressContext(order.Addresses.Billing);
                                  }
                                  else
                                  {
                                    @Html.AddressContext(order.Addresses.Delivery);
                                  }
                                 }
                            </span>
                            </li>
                        </ul>
                    </div>

                    <div class='col2'>
                        <ul>
                            <li><strong>Due Date</strong></li>
                            <li><span class="red-label">@Html.FormatDateTime(order.DueDateFrom, "dd/MM/yyyy")</span></li>
                        </ul>
                        
                    </div>
                     <div class='col3'>
                        <ul>
                              @if (order.OrderState.ToLower() == "invoiced")
                              {
                            <li><strong>Gross:</strong><span>@Html.FormatCurrency(m.Gross, order.Currency.Format)</span></li>
                            <li><strong>Tax:</strong><span>@Html.FormatCurrency(m.Tax, order.Currency.Format)</span></li>
                            <li><strong>Due:</strong><span class="red-label">@Html.FormatCurrency(m.Value, order.Currency.Format)</span></li>
                              }
                              else
                              { 
                            <li><strong>Gross:</strong><span>@Html.FormatCurrency(m.Gross, order.Currency.Format)</span></li>                                   
                            <li><strong>Tax:</strong><span>@Html.FormatCurrency(m.Tax, order.Currency.Format)</span></li>                                   
                            <li><strong>Due:</strong><span class="red-label">@Html.FormatCurrency(m.Value, order.Currency.Format)</span></li>                                   
                              }
                        </ul>
                      @*  @if (order.OrderState.ToLower() == "invoiced")
                        {
                            <p></p>
                            if (order.Ordered.Discount > 0)
                            {
                                <p><strong>Discount</strong><span>@Html.FormatCurrency(m.Discount, order.Currency.Format)</span></p>
                            }
                            <p></p>
                            <p></p>
                        }
                        else
                        {
                            <p></p>
                            if (order.Ordered.Discount > 0)
                            {
                                <p><strong>Discount</strong><span>@Html.FormatCurrency(m.Discount, order.Currency.Format)</span></p>
                            }
                            <p></p>
                            <p></p>
                        }*@
                    </div>
                    <div class="actions">@Html.ActionLink("Details", "OrderDetails", "Order", new { Id = order.Id, OrderHistory = "Visited" }, new { @class = "btn btn-inverse" })</div>
                </td>
            </tr>
  }
    </table>

    <div class="pagination">
        @Html.GetOriginalGetPageLink(pageSize: Model.PageSize, currentPage: Model.PageNumber, totalItemCount: Model.TotalItemCount,
                                     valuesDictionary: Model.SearchCriteria,
                                         updateTarget: "#update_panel")
    </div>
}
            
else
{
    //<p>No orders found.</p>
    <p>No&nbsp;<span id="ActiveElement"></span>&nbsp;found</p>
}

</div>
</div>

@Html.JavaScript("new OrderHistory();")



