﻿@model SalesNet.WebUI.Models.OrderSearchViewModel

<div id="history_index" class="content">

    @if (Model != null)
    {
        <div class="legend">
		@*<span class="symbol"></span><span>Processing</span>
		<span class="symbol invoiced_order"></span><span>Invoiced</span>
		<span class="symbol complete_order"></span><span>Cancelled</span>*@
        <ul class="nav nav-tabs" id="typeTabs">
  <li><a href="#update_panel" data-toggle="tab">Orders</a></li>
  <li><a href="#update_panel" data-toggle="tab">Invoices</a></li>
  <li><a href="#update_panel" data-toggle="tab">Credits</a></li>
</ul>
	</div>
        Html.RenderAction("HistoryItem", "Order", Model.ToDictionary());
    }
    else
    {  
        <br />
        <p>No orders found.</p>
    }
</div>

<script type="text/javascript" src="@(Url.Content("~/Scripts/bootstrap-tab.js"))"></script>
<script type="text/javascript">
    
    $(function () {
        @{

            switch (Model.OrderType)
            {
                case "Invoices":
                <text>
                        $('#typeTabs li:eq(1) a').tab('show');
                    </text>
                    break;
                case "Credits":
                <text>
                        $('#typeTabs li:eq(2) a').tab('show');
                    </text>
                    break;
                default:
                    <text>
                        $('#typeTabs li:eq(0) a').tab('show');
                    </text>
                    break;
            }
        }
        
    })


    $('a[data-toggle="tab"]').on('shown', function (e) {
        var a = e.target; // activated tab
        var b = e.relatedTarget; // previous tab
        var ordertype = $(a).html();
        $.ajax({
            type: "POST",
            url: "@(Url.Action("HistoryIndex", "Order"))",
            data: { order_type: ordertype }
        }).done(function (msg) {
            $("#history_index").html(msg);
            $("#ActiveElement").text(ordertype);
            $("#order_type").val(ordertype);
        });
    })
</script>
@*@Html.JavaScript("new OrderHistory();")*@


