﻿@{
    Layout = "~/Views/Shared/Dashboard.cshtml";
    ViewBag.Title = "Order History";
}

@section Sidebar
{
    
}
<h2 class="round-pagetitle">Order History</h2>
<div id='order_history'>


@Html.Partial("Search")


@{ Html.RenderAction("HistoryIndex", "Order");}

@if (string.IsNullOrWhiteSpace(ViewBag.CustomerId))
    {
        @Html.JavaScript("OrderHistorySearch.my.displayCustomerChange();");
                                                                                                                                     
    }
@if (Request.Browser.Browser.ToString() == "IE")
{
    @Html.JavaScript("OrderHistorySearchIE.my.setup();");
}
else
{ 
     @Html.JavaScript("OrderHistorySearch.my.setup();");
}


</div>

