﻿
@using Ap21API.Entities.Order
@using SalesNet.Domain.Extensions     
@model Ap21API.Entities.Order.Order
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/Layout.cshtml";
    Matric order = Model.OrderStateBalance();

}

@Html.JavaScript("new OrderDetails({ order_id: " + Model.Id + " })")
<script type="text/javascript">
    $(document).ready(function () {
//        $(".data1").click(function () {

//            $("#ShowCarrier2").slideUp();
//            $("#ShowCarrier1").slideDown();

        //        });
        $("#ShowPop1").mouseenter(function () {

//            $("#ShowCarrier2").slideUp();
           // $("#ShowCarrier1").slideDown();
            $("#ShowCarrier1").show();

        });

        $("#ShowPop1").mouseleave(function () {
           // $("#ShowCarrier1").slideUp();
            $("#ShowCarrier1").hide();
            //setTimeout(data1Hide, 0);
        });
       
        $("#Close1").click(function () {


            //$("#ShowCarrier1").slideUp();
            $("#ShowCarrier1").hide();

        });
//        $(".data2").click(function () {

//            $("#ShowCarrier1").slideUp();
//            $("#ShowCarrier2").slideDown();

//        });

        $("#Close2").click(function () {


            //$("#ShowCarrier2").slideUp();
            $("#ShowCarrier2").hide();

        });
        $("#ShowPop2").mouseenter(function () {

//            $("#ShowCarrier1").slideUp();
            //$("#ShowCarrier2").slideDown();
            $("#ShowCarrier2").show();

        });

        $("#ShowPop2").mouseleave(function () {
            //$("#ShowCarrier2").slideUp();
            $("#ShowCarrier2").hide();
            //setTimeout(data2Hide, 0);


        });

    });
//    function data1Hide(){
//       
//    }
//     function data2Hide(){
//       $("#ShowCarrier2").slideUp();
//    }
</script>
<style>
#ShowCarrier1
{
     display:none;
}
#ShowCarrier2
{
    display:none;
}
.UlCarrier
{
      padding-left: 10px;
}
#tblOrderDetails td{color:#4f4f4f;}
</style>
    @*start*@
    @{  String strURl="";
        if(Model.CarrierUrl!=null)
        {
            
           if (Model.CarrierUrl.Contains("http://"))
           {
               strURl = Model.CarrierUrl;
           }
           else
           {
               strURl = "http://" + Model.CarrierUrl;
           }
          
        }
    }
 
  @*  end*@
<div>
    <table id="new_orderdetails">
        <tr>
            <td style="padding-bottom: 5px; padding-left: 5px;">
                <div id="area" style="margin-top:5px;">
                    <div id="summary">
                        @if (Model.TransactionType.ToUpper().Contains("ORDER"))
                        {
                            <h2>
                                Summary of Order @Model.TransNumber</h2>
                        }
                        @if (Model.TransactionType.ToUpper().Contains("INVOICE"))
                        {
                            <h2>
                                Summary of Invoice @Model.TransNumber</h2>
                        }
                        @if (Model.TransactionType.ToUpper().Contains("CREDIT"))
                        {
                            <h2>
                                Summary of Credit Note @Model.TransNumber</h2>
                        }
                    </div>
                </div>
            </td>
            <td>
                <table style="margin-top: 5px;margin-bottom:9px;">
                    <tr style="color: #373737">
                        <td>
                            <span class="label" style="color: #686868; font-size: 15px;">Your Ref:</span> <span
                                class="data">@Model.CustomerReference</span>
                        </td>
                        <td id="ShowPop1">
                            | <span class="label" style="color: #686868; font-size: 15px; margin-left: 9px;">Carrier:</span>
                            <span class="data"><a href="#" style="color:#007ACC;text-decoration:none;">@Model.CarrierName</a></span>
                            
                            <table id="ShowCarrier1" style="position:absolute;width:188px;margin-top:-5px;z-index:100;" >
 
                                    <tr>
                                    <td >
                                        <img src="../../Content/images/framework/pop_top.png" alt="top" style="margin-bottom:-4px;"/>
                                    </td>
                                    </tr>
                                    <tr>
                                      <td style="background-image:url('../../Content/images/framework/pop_middle.png');margin-top:-3px;">
      
                                         <ul class="UlCarrier" style="width:188px;">
                                           <li style="color:#6E6E6E;"><table style="width:180px"><tr><td><b>Check Delivery Tracking?</b></td><td id="Close1" style="padding-right:5px;font-weight:900;"><a href="#" style="text-decoration:none;color:#686868;"><img src="../../Content/images/framework/pop_close.png" style="width:15px;height:15px;" /></a></td></tr></table></li>
                                           <li style="margin-top: 4px;padding-bottom:10px;"><a href="@strURl" target="_blank" style="text-decoration:none;color:#007ACC;font-weight:bold;">Visit @Model.CarrierName</a></li>
                                         </ul>  
                                        </td>
                                   </tr>
                                   <tr>
                                     <td style="position:absolute;margin-top:-5px">
                                          <img src="../../Content/images/framework/pop_bottom.png" alt="bottom" />
                                     </td>
                                   </tr>
                            </table>
                            
                      </td>
                        <td id="ShowPop2">
                            | <span class="label" style="color: #686868; font-size: 15px; margin-left: 9px;">Connote:</span>@if (String.IsNullOrEmpty(@Model.ConNote))
                                                                                                                            {
                                <span class="data"><a href="#" style="color:#007ACC;text-decoration:none;">No Connote</a></span>
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                <span class="data"><a href="#" style="color:#007ACC;text-decoration:none;">@Model.ConNote</a></span>
                                                                                                                            }
                                                        <table style="position:absolute;width:188px;margin-top:-5px;z-index:100;" id="ShowCarrier2" >
  
                                                        <tr>
                                                        
                                                            <td >
                                                                <img src="../../Content/images/framework/pop_top.png" alt="top" style="margin-bottom:-4px;"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                          <td style="background-image:url('../../Content/images/framework/pop_middle.png');margin-top:-3px;">
                                                             <ul class="UlCarrier" style="width:188px;">
                                                               <li style="color:#6E6E6E;"><table style="width:180px"><tr><td><b>Check Delivery Tracking?</b></td><td id="Close2" style="padding-right:5px;font-weight:900;"><a href="#" style="text-decoration:none;color:#686868;"><img src="../../Content/images/framework/pop_close.png" style="width:15px;height:15px;"/></a></td></tr></table></li>
                                                               <li style="margin-top: 4px;padding-bottom:10px;"><a href="@strURl" target="_blank" style="text-decoration:none;color:#007ACC;font-weight:bold;">Visit @Model.CarrierName</a></li>
                                                             </ul>  
                                                           </td>
                                                            
                                                        </tr>
                                                         <tr>
                                                        
                                                            <td style="position:absolute;margin-top:-5px">
                                                                <img src="../../Content/images/framework/pop_bottom.png" alt="top"/>
                                                            </td>
                                                        </tr>
                                                        </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <div class="label" style="color: #686868; font-size: 15px">
                    Deliver To:</div>
            </td>
            <td>
                <h3 style="color: #686868; font-size: 15px">
                    Delivery Instructions:</h3>
            </td>
            <td>
                <h3 style="color: #686868; font-size: 15px">
                    Special Instructions:</h3>
            </td>
        </tr>
        <tr>
            <td>
                <div class="data" style="font-weight: bold; color: #6E6E6E;">
                    @{if (Model.Addresses.Delivery.IsEmpty())
                      {
                        @Html.AddressContext(Model.Addresses.Billing);
                      }
                      else
                      {
                        @Html.AddressContext(Model.Addresses.Delivery);
                      }}
                </div>
            </td>
            <td style="font-weight: bold; color: #6E6E6E;">
                @Model.DeliveryInstructions
            </td>
            <td style="font-weight: bold; color: #6E6E6E;">
                @Model.SpecialInstructions
            </td>
        </tr>
    </table>
</div>
<div id="order_detail">
    <table>
        <tr>
        <td>
              
                <div class="meta_details">
                    <div class="actions" align="right" style="margin-bottom:15px;">
                    @if (TempData["OrderHistory"] == "Visited")
                    {
                       @Html.ActionLink("Cancel", "Index", "Home",null, new { @class="cancelBtn"})
                      @*  <a href="/" style="text-decoration:none;">
                            <img src="@Url.Content("~/Content/images/framework/cancel.png")" />
                        </a>*@
                    }
                    <button class="print_button btn btn-flatinverse btn-large btn-print">Print</button>
                       @* <a class="print_button">
                            <img src="@Url.Content("~/Content/images/framework/print.png")" />
                        </a>*@
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div id="order-details" style="display: none;">
    </div>
    <div id="div_order-details">
        @{
        
            SalesNet.WebUI.DataSetGenerators.OrderDetailsGridDataSet.OrderGridLine[] OrderGridRows = SalesNet.WebUI.DataSetGenerators.OrderDetailsGridDataSet.GetGridLines(Model);

            //List<SalesNet.WebUI.DataSetGenerators.OrderDetiailsGrid> lstODG = SalesNet.WebUI.DataSetGenerators.OrderDetailsGridDataSet.GetOrderDetiailsGridList(Model);
        
        }
      @{ bool colorFound=false;
        <table border="2" id="tblOrderDetails" >
                @*@{ string strCurrencyFormat = Model.Currency.Format;
                string CurrencyFormat = TextFormatHelper.GetRequiredString(strCurrencyFormat);}*@

            @foreach (SalesNet.WebUI.DataSetGenerators.OrderDetailsGridDataSet.OrderGridLine OrderGridRow in OrderGridRows)
            {

               
               
                if (OrderGridRow.LineType == "PRODUCT")
                {
                <tr style="background-color: rgb(145, 189, 9); height: 25px; color: #fff;">
                    <td colspan="2" style="width: 150px; padding-left: 15px; border: none; color: #fff;">
                        <b>Product:&nbsp;&nbsp;@OrderGridRow.Product</b>
                    </td>
                    <td colspan="12" style="border: none; color: #fff;">
                        <b>@OrderGridRow.Description</b>
                    </td>
                </tr>

                }
                else if (OrderGridRow.LineType == "SIZEHEAD")
                {
                <tr style="background-color: #FAFAFA;">
                    <td style="width: 150px; height: 30px; color: #A4A4A4">
                        <b>&nbsp;</b>
                    </td>
                    <td style="font-weight: bolder;">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size1))
                        {
                            <div>@OrderGridRow.Size1</div>
                        }

                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="font-weight: bolder;">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size2))
                        {
                            <div>@OrderGridRow.Size2</div>
                        }

                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="font-weight: bolder;">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size3))
                        {
                            <div>@OrderGridRow.Size3</div>
                        }

                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="font-weight: bolder;">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size4))
                        {
                            <div>@OrderGridRow.Size4</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="font-weight: bolder;">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size5))
                        {
                            <div>@OrderGridRow.Size5</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="font-weight: bolder;">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size6))
                        {
                            <div>@OrderGridRow.Size6</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="font-weight: bolder;">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size7))
                        {
                            <div>@OrderGridRow.Size7</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="font-weight: bolder;">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size8))
                        {
                            <div>@OrderGridRow.Size8</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="font-weight: bolder;">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size9))
                        {
                            <div>@OrderGridRow.Size9</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="font-weight: bolder;">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size10))
                        {
                            <div>@OrderGridRow.Size10</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>

                    @if(!colorFound)
                    {
                            <td style="width: 100px; font-weight: bolder;">
                                <b>Unit Price</b>
                            </td>
                            <td style="width: 50px; font-weight: bolder;">
                                <b>Qty</b>
                            </td>
                            <td style="width: 90px; font-weight: bolder; text-align: right; padding-right: 10px;">
                                <b>Total</b>
                            </td>
                    }


                </tr> 
                }
                else if (OrderGridRow.LineType == "COLOUR")
                {
                    colorFound = true;
                    string str = OrderGridRow.Total;                        
                        
                <tr style="background-color: #FAFAFA">
                    <td style="height: 25px;color:#4f4f4f;">
                        <b>@OrderGridRow.Colour</b>
                    </td>
                    <td style="color: #3B3B3B;">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size1))
                        {
                            <div>@OrderGridRow.Size1</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="color: #3B3B3B;">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size2))
                        {
                            <div>@OrderGridRow.Size2</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="color: #3B3B3B">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size3))
                        {
                            <div>@OrderGridRow.Size3</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="color: #3B3B3B">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size4))
                        {
                            <div>@OrderGridRow.Size4</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="color: #3B3B3B">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size5))
                        {
                            <div>@OrderGridRow.Size5</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="color: #3B3B3B">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size6))
                        {
                            <div>@OrderGridRow.Size6</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="color: #3B3B3B">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size7))
                        {
                            <div>@OrderGridRow.Size7</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="color: #3B3B3B">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size8))
                        {
                            <div>@OrderGridRow.Size8</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="color: #3B3B3B">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size9))
                        {
                            <div>@OrderGridRow.Size9</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>
                    <td style="color: #3B3B3B;">
                        @if (!String.IsNullOrEmpty(OrderGridRow.Size10))
                        {
                            <div>@OrderGridRow.Size10</div>
                        }
                        else
                        {
                            <div>
                                &nbsp;</div>
                        }
                    </td>



                    <td style="color: #3B3B3B">
                        @if (OrderGridRow.UnitPrice != null)
                        {
                           @* @String.Format("{0:n} AUD", Convert.ToDecimal(OrderGridRow.UnitPrice.Replace(" AUD", "")))*@
                               @*modified by Siva- 17Feb2013*@
                            
                            string strUnitPrice = OrderGridRow.UnitPrice;
                            string strUnitPrice2 = TextFormatHelper.GetDeimalValFromString(strUnitPrice);
                            decimal decUnitPrice;
                            if (decimal.TryParse(strUnitPrice2, out decUnitPrice) == true)
                            {
                                @*@String.Format("{0:n} " + CurrencyFormat, Convert.ToDecimal(strUnitPrice2))*@
                             @Html.FormatCurrency(decUnitPrice, Model.Currency.Format) 
                            }

                        }
                    </td>
                    <td style="color: #3B3B3B">
                        @OrderGridRow.Quantity
                    </td>
                    <td style="color: #3B3B3B; text-align: right; padding-right: 10px;">
                        @*@String.Format("{0:n} AUD", Convert.ToDecimal(OrderGridRow.Total.Replace(" AUD", "")))*@
                        @*modified by Siva- 17Feb2013*@
                       @{
                   String strAmount = OrderGridRow.Total;
                   String strdecimalVal = TextFormatHelper.GetDeimalValFromString(strAmount);
                   decimal dcml = decimal.Parse(strdecimalVal);

                         @*@String.Format("{0:n} " + CurrencyFormat, Convert.ToDecimal(dcml));*@
                           @Html.FormatCurrency(dcml, Model.Currency.Format) 
                        }

                         
                    </td>


                </tr> 
                }



                else if (OrderGridRow.LineType == "GROSS")
                {
                    
                <tr>
                    <td colspan="11" rowspan="4" style="border: none;">

                     <div id="area3">
           
     
            @if (Model.Invoices.Invoice != null && Model.Invoices.Invoice.Count > 0)
            {
                <div class="invoices">
                    <p>
                        <em>The following invoices are related to this order.</em></p>
                    <ul>
                        @foreach (var invoice in Model.Invoices.Invoice)
                        {
                            <li>@Html.ActionLink("Invoice #" + invoice.TransNumber, "OrderDetails", "Order", new { Id = invoice.Id }, null)</li>
                        }
                    </ul>
                </div>
            }
            @if (Model.FromOrders.FromOrder != null && Model.FromOrders.FromOrder.Count > 0)
            {
                <div class="invoices">
                    <p>
                        <em>The following orders are related to this invoice.</em></p>
                    <ul>
                        @foreach (var fromOrder in Model.FromOrders.FromOrder)
                        {
                            <li>@Html.ActionLink("Order #" + fromOrder.TransNumber, "OrderDetails", "Order", new { Id = fromOrder.Id }, null)</li>
                        }
                    </ul>
                </div>
            }
        </div>
                    </td>
                    <td style="color: #919191; border: none; text-align: right;">
                        <b>Gross:</b>
                    </td>
                    <td style="color: #3B3B3B; border: none;">
                        <b>@OrderGridRow.Quantity</b>
                        &nbsp;
                    </td>
                    <td style="color: #3B3B3B; border: none; text-align: right; width: 150px; padding-right: 10px;">
                        <b>@*@String.Format("{0:n} AUD", Convert.ToDecimal(OrderGridRow.Total.Replace(" AUD", "")))*@
                        @*@String.Format("{0:n} " + Model.Currency.Code, Convert.ToDecimal(OrderGridRow.Total.Replace(Model.Currency.Code, "")))*@
                    @{
                           @*modified by Siva- 17Feb2013*@
                      String strAmount = OrderGridRow.Total;
                      String strdecimalVal = TextFormatHelper.GetDeimalValFromString(strAmount);
                      decimal dcml = decimal.Parse(strdecimalVal);

   
                         @*@String.Format("{0:n} " + CurrencyFormat, Convert.ToDecimal(dcml));*@
                         @Html.FormatCurrency(dcml, Model.Currency.Format) 
                        }
                        
                        </b>
                    </td>
                </tr>
                }
                else if (OrderGridRow.LineType == "DISCOUNT")
                {
                 <tr>
                    
                    <td style="color: #919191; border: none; text-align: right;">
                        <b>Discount:</b>
                    </td>
                    <td style="color: #3B3B3B; border: none;">
                       <br />
                        &nbsp; 
                    </td>
                    <td style="color: #3B3B3B; border: none; text-align: right; width: 150px; padding-right: 10px;">
                        <b>@*@String.Format("{0:n} AUD", Convert.ToDecimal(OrderGridRow.Total.Replace(" AUD", "")))*@
                      @{
                             @*modified by Siva- 17Feb2013*@
                    String strAmount = OrderGridRow.Total;
                    String strdecimalVal = TextFormatHelper.GetDeimalValFromString(strAmount);
                    decimal dcml = decimal.Parse(strdecimalVal);
                    //string strFor=Model.Currency.Format;
                                
                       
                        
   
                        @* @String.Format("{0:n} " + CurrencyFormat, Convert.ToDecimal(dcml));*@
                            @Html.FormatCurrency(dcml, Model.Currency.Format) 
                          @* @Html.FormatCurrency(dcml, strFor) *@                                                               
                        }

                        @*@String.Format("{0:n} " + Model.Currency.Code, Convert.ToDecimal(OrderGridRow.Total.Replace(Model.Currency.Code, "")))*@</b>
                    </td>
                </tr>
                }

                else if (OrderGridRow.LineType == "TAX")
                {
                <tr style="">
                    
                    <td style="color: #919191; border: none; text-align: right;">
                        <b>Tax:</b>
                    </td>
                    <td style="color: #919191; border: none;">
                        &nbsp;
                      
                    </td>
                    <td style="color: #3B3B3B; border: none; text-align: right; padding-right: 10px;">
                        <b>
                        @*@String.Format("{0:n} " + Model.Currency.Code, Convert.ToDecimal(OrderGridRow.Total.Replace(Model.Currency.Code, "")))*@

                         @{
                    String strAmount = OrderGridRow.Total;
                    String strdecimalVal = TextFormatHelper.GetDeimalValFromString(strAmount);
                    decimal dcml = decimal.Parse(strdecimalVal);
                                
                       
                        
                         @Html.FormatCurrency(dcml, Model.Currency.Format)
                         @*@String.Format("{0:n} " + CurrencyFormat, Convert.ToDecimal(dcml));*@
                        }
                        
                        
                        </b>
                    </td>
                </tr>
                }
                else if (OrderGridRow.LineType == "DUE")
                {
                <tr style="height: 30px;">
                    
                    <td style="color: white; background-color: #921212; border: none; text-align: right;">
                        <b>Due:</b>
                    </td>
                    <td style="background-color: #921212; border: none;">
                        &nbsp;
                    </td>
                    <td style="color: white; background-color: #921212; border: none; text-align: right;
                        padding-right: 10px;">
                        <b>
                        @*@String.Format("{0:n} " + Model.Currency.Code, Convert.ToDecimal(OrderGridRow.Total.Replace(Model.Currency.Code, "")))*@

                        @{
                    String strAmount = OrderGridRow.Total;
                    String strdecimalVal = TextFormatHelper.GetDeimalValFromString(strAmount);
                    decimal dcml = decimal.Parse(strdecimalVal);
                                
                       
                    @Html.FormatCurrency(dcml, Model.Currency.Format)
                        @* @String.Format("{0:n} " + CurrencyFormat, Convert.ToDecimal(dcml));*@
                        }
                        
                        </b>
                    </td>
                </tr>
               
                }


            }
        </table>
            }
       @* <div>
           <table border="2" id="tblOrderDetails" style="display:none">
                @foreach (SalesNet.WebUI.DataSetGenerators.OrderDetiailsGrid OrderGridRow in lstODG)
                {
                    if (OrderGridRow.LineType == "PRODUCT")
                    {
                    <tr style="background-color: rgb(145, 189, 9); height: 25px; color: #fff;">
                        <td colspan="2" style="width: 150px; padding-left: 15px; border: none; color: #fff;">
                            <b>Product:&nbsp;&nbsp;@OrderGridRow.Product</b>
                        </td>
                        <td colspan="@(OrderGridRow.Sizes.Count + 3)" style="border: none; color: #fff;">
                            <b>@OrderGridRow.Description</b>
                        </td>
                    </tr>

                    }
                    else if (OrderGridRow.LineType == "SIZEHEAD")
                    {
                    <tr style="background-color: #FAFAFA">
                        <td style="width: 150px; height: 30px; color: #A4A4A4">
                            <b>Type</b>
                        </td>
                        @foreach (string strSize in OrderGridRow.Sizes)
                        {
                            <td style="font-weight: bolder;">
                                @if (!String.IsNullOrEmpty(strSize))
                                {
                                    <div>@strSize</div>
                                }

                                else
                                {
                                    <div>
                                        &nbsp;</div>
                                }
                            </td>
                        }
                        <td style="width: 100px; font-weight: bolder;">
                            <b>Unit Price</b>
                        </td>
                        <td style="width: 50px; font-weight: bolder;">
                            <b>Qty</b>
                        </td>
                        <td style="width: 90px; font-weight: bolder; text-align: right; padding-right: 10px;">
                            <b>Total</b>
                        </td>
                    </tr> 
                    }
                    else if (OrderGridRow.LineType == "COLOUR")
                    {

                        string str = OrderGridRow.Total;                        
                        
                    <tr style="background-color: #FAFAFA">
                        <td style="height: 25px; color: #3B3B3B">
                            <b>@OrderGridRow.Colour</b>
                        </td>
                        @foreach (string strSize in OrderGridRow.Sizes)
                        {
                            <td style="color: #3B3B3B;">
                                @if (!String.IsNullOrEmpty(strSize))
                                {
                                    <div>@strSize</div>
                                }

                                else
                                {
                                    <div>
                                        &nbsp;</div>
                                }
                            </td>
                        }
                        <td style="color: #3B3B3B">
                            @if (OrderGridRow.UnitPrice != null)
                            {
                                @String.Format("{0:n} AUD", Convert.ToDecimal(OrderGridRow.UnitPrice.Replace(" AUD", "")))
                            }
                            else
                            {
                                @:0 AUD
                            }
                        </td>
                        <td style="color: #3B3B3B">
                            @OrderGridRow.Quantity
                        </td>
                        <td style="color: #3B3B3B; text-align: right; padding-right: 10px;">
                            @if (OrderGridRow.Total != null)
                            {            
                                @String.Format("{0:n} AUD", Convert.ToDecimal(OrderGridRow.Total.Replace(" AUD", "")))
                            }
                            else
                            {
                                @:0 AUD
                            }
                        </td>
                    </tr> 
                    }
                    else if (OrderGridRow.LineType == "GROSS")
                    {
                    
                    <tr style="height: 30px;">
                        <td colspan="@(OrderGridRow.Sizes.Count + 1)" rowspan="4" style="border: none;vertical-align:top">
                          
                            
                             <div id="area3">
           
     
            @if (Model.Invoices.Invoice != null && Model.Invoices.Invoice.Count > 0)
            {
                <div class="invoices">
                    <p>
                        <em>The following invoices are related to this order.</em></p>
                    <ul>
                        @foreach (var invoice in Model.Invoices.Invoice)
                        {
                            <li>@Html.ActionLink("Invoice #" + invoice.TransNumber, "OrderDetails", "Order", new { Id = invoice.Id }, null)</li>
                        }
                    </ul>
                </div>
            }
            @if (Model.FromOrders.FromOrder != null && Model.FromOrders.FromOrder.Count > 0)
            {
                <div class="invoices">
                    <p>
                        <em>The following orders are related to this invoice.</em></p>
                    <ul>
                        @foreach (var fromOrder in Model.FromOrders.FromOrder)
                        {
                            <li>@Html.ActionLink("Order #" + fromOrder.TransNumber, "OrderDetails", "Order", new { Id = fromOrder.Id }, null)</li>
                        }
                    </ul>
                </div>
            }
        </div>
                        </td>
                        <td style="color: #919191; border: none; text-align: right;">
                            <b>Gross:</b>
                        </td>
                        <td style="color: #3B3B3B; border: none;">
                            <b>@OrderGridRow.Quantity</b>
                        </td>
                        <td style="color: #3B3B3B; border: none; text-align: right; width: 150px; padding-right: 10px;">
                            <b>
                                @if (OrderGridRow.Total != null)
                                {   
                                    @String.Format("{0:n} AUD", Convert.ToDecimal(OrderGridRow.Total.Replace(" AUD", "")))}
                                else
                                {
                                    @:0 AUD
                                }
                            </b>
                        </td>
                    </tr>
                    }
                    else if (OrderGridRow.LineType == "TAX")
                    {
                    <tr style="height: 30px;">
                    
                       
                        <td style="color: #919191; border: none; text-align: right;">
                            <b>Tax:</b>
                        </td>
                        <td style="color: #919191; border: none;">
                            &nbsp;
                        </td>
                        <td style="color: #3B3B3B; border: none; text-align: right; padding-right: 10px;">
                            <b>
                                @if (OrderGridRow.Total != null)
                                {   @String.Format("{0:n} AUD", Convert.ToDecimal(OrderGridRow.Total.Replace(" AUD", "")))
                                }
                                else
                                {
                                    @:0 AUD
                                }
                            </b>
                        </td>
                    </tr>
                    }
                    else if (OrderGridRow.LineType == "DUE")
                    {
                    <tr style="height: 30px;">
                    
                        <td style="color: white; background-color: #921212; border: none; text-align: right;">
                            <b>Due:</b>
                        </td>
                        <td style="background-color: #921212; border: none;">
                            &nbsp;
                        </td>
                        <td style="color: white; background-color: #921212; border: none; text-align: right;
                            padding-right: 10px;">
                            <b>
                                @if (OrderGridRow.Total != null)
                                {   @String.Format("{0:n} AUD", Convert.ToDecimal(OrderGridRow.Total.Replace(" AUD", "")))
                                }
                                else
                                {
                                    @:0 AUD
                                }
                            </b>
                        </td>
                    </tr>
                    <tr style="max-height:50px">
                    
                    
                    </tr>
                    }

                }
            </table>
        </div>*@
    </div>
   
    <div id="area2">
        <div id="area3">
            <div class="instructions" style="display:none">
                <h3>
                    Delivery Instructions</h3>
                @Html.TextArea("delivery_instructions", Model.DeliveryInstructions, 3, 30, new { disabled = "true" })
                <h3>
                    Special Instructions</h3>
                @Html.TextArea("special_instructions", Model.SpecialInstructions, 3, 30, new { disabled = "true" })
                <div class="spacer">
                    &nbsp</div>
            </div>
          
          
        </div>
        <div id="area4" style="display:none">
            <div class="delivery_instructions">
                <ul class="layout">
                    <li>
                        <div class="label">
                            Deliver To</div>
                        <div class="data">
                            @{
                                if (Model.Addresses.Delivery.IsEmpty())
                                {
                                @Html.AddressContext(Model.Addresses.Billing);
                                }
                                else
                                {
                                @Html.AddressContext(Model.Addresses.Delivery);
                                }
                              }
                        </div>
                    </li>
                </ul>
            </div>
            <div class="actions">
                @Html.ActionLink("Dashboard", "Index", "Home", null, new { @class = "btn_small" })
                <a class="print_button btn_small">Print </a>
            </div>
        </div>
    </div>
</div>
