﻿<style>
#ui-datepicker-div
{
display:none;
}
.ui-widget-header
{
  display:block;    
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span
{
    background-color:#6699FF;
    border-radius:3px;
    color:#000;
}
#ui-datepicker-div{
border-width: 2px;
border-color: #69F;
}
</style>
<script type="text/javascript">
    function ClearSearch() {
        if ($("#product_code_desc").val() == 'Product Code/Desc') {
            $("#product_code_desc").val("");
        }
        if ($("#trans_num").val() == 'Trans.#') {
            $("#trans_num").val("");
        }
        if ($("#ref_num").val() == 'Ref #') {
            $("#ref_num").val("");
        }
        if ($("#created_date_from").val() == 'Created From') {
            $("#created_date_from").val(""); 
        }
        if ($("#created_date_to").val() == 'Created To') {
            $("#created_date_to").val("");
        }
    }

    $(document).ready(function () {

        ClearSearch();
        $("#product_code_desc").click(function () {
            $("#product_code_desc").attr("placeholder", "");
            if ($("#product_code_desc").val() == 'Product Code/Desc') {
                $("#product_code_desc").val("");
            }
        });
        $("#trans_num").click(function () {
            $("#trans_num").attr("placeholder", "");
            if ($("#trans_num").val() == 'Trans.#') {
                $("#trans_num").val("");
            }
        });
        $("#ref_num").click(function () {
            $("#ref_num").attr("placeholder", "");
            if ($("#ref_num").val() == 'Ref #') {
                $("#ref_num").val("");
            }
        });
        $("#created_date_from").click(function () {
            $("#created_date_from").attr("placeholder", "");
            if ($("#created_date_from").val() == 'Created From') {
                $("#created_date_from").val("");
            }
        });
        $("#created_date_from").datepicker({ onSelect: function () { $("#created_date_from").css('color', '#000') },dateFormat: "dd/mm/yy" });
        $("#created_date_to").click(function () {
            $("#created_date_to").attr("placeholder", "");
            if ($("#created_date_to").val() == 'Created To') {
                $("#created_date_to").val("");
            }
        });
        $("#created_date_to").datepicker({ onSelect: function () { $("#created_date_to").css('color', '#000') }, dateFormat: "dd/mm/yy" });

        $("#product_code_desc").blur(function () { $("#product_code_desc").attr("placeholder", "Product Code/Desc"); });
        $("#ref_num").blur(function () { $("#ref_num").attr("placeholder", "Ref #"); });
        $("#trans_num").blur(function () { $("#trans_num").attr("placeholder", "Trans.#") });

        $("#created_date_from").blur(function () {
            $("#created_date_from").attr("placeholder", "Created From");
            if ($("#created_date_from").val() == "") {
                $("#created_date_from").attr("value", "Created From");
                $("#created_date_from").css("color", "#999");
            }
        });
        $("#created_date_to").blur(function () {
            $("#created_date_to").attr("placeholder", "Created To");
            if ($("#created_date_to").val() == "") {
                $("#created_date_to").attr("value", "Created To");
                $("#created_date_to").css("color", "#999");
            }
        });


        $("#created_date_from").focus(function () {
            if ($("#created_date_from").val() != "Created From" && $("#created_date_from").val() != "") {
                $("#created_date_from").css("color", "#000");
            }
        });
        $("#created_date_to").focus(function () {
            if ($("#created_date_to").val() != "Created To" && $("#created_date_to").val() != "") {
                $("#created_date_to").css("color", "#000");
            }
        });


        $("#Search_Orders").click(function () {
            ClearSearch();
            $("#product_code_desc").focus();
            $("#ref_num").focus();
            $("#trans_num").focus();
            $("#Search_Orders").focus();
            //            $("#created_date_from").focus();
            //            $("#created_date_to").focus();
            if ($("#created_date_from").val() == "") {
                $("#created_date_from").val("Created From");
                $("#created_date_from").css("color", "#999");
            }
            if ($("#created_date_to").val() == "") {
                $("#created_date_to").val("Created To");
                $("#created_date_to").css("color", "#999");
            }
        });

    });   
</script>
<div class="sidebar" id="searchsidebar">
    <h2 class="green section-title">Search Order History</h2>
    @using (Ajax.BeginForm("HistoryIndex", "Order",null, new AjaxOptions { UpdateTargetId = "history_index" }, new { @class = "filter" }))
    {    
        <i style="margin-left: -5px; display:none;">
            Only one field is required to search,you may also use multiple search.
        </i>
        <div style="padding-top:20px;">
            <label>Product Code and Description</label>
            <input class="code_desc" id="product_code_desc" name="product_code_desc" title="Product Code/Desc" type="text" maxlength="50" placeholder="Product Code/Desc"/></div>
        <div>
            <label>Transaction Number</label>
            <input class="trans_num" id="trans_num" name="trans_num" title="Trans.#" type="text" value="" maxlength="20" placeholder="Trans.#"/></div> 
        <div>
            <label>Reference Number</label>
            <input class="ref_num" id="ref_num" name="ref_num" title="Ref #" type="text" value="" maxlength="50" placeholder="Ref #"/></div>
   @* <div>
        <select id="order_type" name="order_type"><option value="">&lt;Type&gt;</option>
            <option>Orders</option>
            <option>Invoices</option>
            <option>Credits</option>
        </select>
    </div>  *@
        <div>
            <label>Created From</label>
            <input class="created_date" id="created_date_from" name="created_date_from" title="Created From" type="text" class="label_highlight" maxlength="20" placeholder="Created From" /></div>
        <div>
            <label>Created To</label>
            <input class="created_date" id="created_date_to" name="created_date_to" title="Created To" type="text" class="label_highlight" maxlength="20" placeholder="Created To" /></div>

        <div>
            @*<input name="commit" type="submit" value="Search" id="Search_Orders"/>*@
            <button name="commit" type="submit" id="Search_Orders" class="btn btn-info" >Search</button>
        </div>
        <input type="hidden" id="order_type" class="order_type" name="order_type"/>

    }
</div>


      @if (Request.Browser.Browser.ToString() == "IE")
      {
        @Html.JavaScript("OrderHistorySearchIE.my.setup();");
      }
      else
      { 
        @Html.JavaScript("OrderHistorySearch.my.setup();");
    }
