.awesome, .awesome:visited {
	border : none;
	background: #222; 
	display: inline-block; 
	color: #fff; 
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border: 1px solid rgba(0,0,0,0.15);
	position: relative;
	cursor: pointer;
	background-image : url('../images/framework/button_overlay.png');
	background-position : bottom left;
	background-repeat : repeat-x;
}

.awesome{
	padding: 5px 10px;
}

input.awesome {
	padding: 5px 10px;
}

a.awesome {
	padding : 5px 10px;
}
 
.awesome:hover							{ background-color: #111; color: #fff; }
.awesome:active							{ top: 1px; }
.small.awesome, .small.awesome:visited 			{ font-size: 11px; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 12px; font-weight: bold; /*line-height: 1*/; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			{ font-size: 14px; }

.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }

.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }

.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }

.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }

.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }

.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }

.grey.awesome, .grey.awesome:visited		
	{ 
		background-color: #666; 
		cursor: auto;
	}
.grey.awesome:hover							{ background-color: #666; }

.awesome.block {
	display : block;
	text-align : center;
}

//CURRENT ORDER SIDE-BAR
#awesomedelete {
	width: 94px;
	text-align: center;
	line-height: 1.4;
}

#awesomefinish {
	width: 112px;
	line-height: 1.4;
}

//FINALISE ORDER
#sendorder {
	width: 114px;
	box-sizing: border-box;
	text-align: center;
}

#addProduct {
	width: 114px;
	box-sizing: border-box;
}

#finaliseOrderButtons{
	width: 350px;
}

#editOrderContents{
	width: 94px;
	text-align: center;	
}

//Product Order Edit Button

.product_qty_popup_ordersidebar, .product_qty_popup_ordersidebar:visited {
  border: none;
  background: #222;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer;
  background-image: url("../images/framework/button_overlay.png");
  background-position: bottom left;
  background-repeat: repeat-x;
  width: 80px;
  text-align: center;
  font-size: 12px;
}

.product_qty_popup_ordersidebar_cancel, .product_qty_popup_ordersidebar_cancel:visited {
  border: none;
  background: #222;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer;
  background-image: url("../images/framework/button_overlay.png");
  background-position: bottom left;
  background-repeat: repeat-x;
  width: 80px;
  text-align: center;
  font-size: 12px;
}

.currentordersidebar, .currentordersidebar:visited {
  border: none;
  background: #222;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer;
  background-image: url("../images/framework/button_overlay.png");
  background-position: bottom left;
  background-repeat: repeat-x;
  width: 70px;
  text-align: center;
  font-size: 12px;
}

.currentordersidebarclear, .currentordersidebarclear:visited {
  border: none;
  background: #222;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer;
  background-image: url("../images/framework/button_overlay.png");
  background-position: bottom left;
  background-repeat: repeat-x;
  width: 100px;
  text-align: center;
  font-size: 12px;
}

.finaliseorderinfo, .finaliseorderinfo:visited {
  border: none;
  background: #222;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer;
  background-image: url("../images/framework/button_overlay.png");
  background-position: bottom left;
  background-repeat: repeat-x;
  width: 90px;
  text-align: center;
  font-size: 12px;
}

input.product_qty_popup_ordersidebar,
input.finaliseorderinfo,
input.product_qty_popup_ordersidebar_cancel,
input.currentordersidebarclear,
input.currentordersidebar {
  //padding: 5px 8px 6px 8px;
  padding: 5px 10px;
}

a.product_qty_popup_ordersidebar,
a.finaliseorderinfo,
a.product_qty_popup_ordersidebar_cancel,
a.currentordersidebar,
a.currentordersidebarclear{
  //padding: 5px 8px 6px 8px;
  padding: 5px 10px;
}

.product_qty_popup_ordersidebar:active,
.finaliseorderinfo:active,
.product_qty_popup_ordersidebar_cancel:active,
.currentordersidebar:active,
.currentordersidebarclear:active {
  color: #fff;
  text-decoration: none;
}

.product_qty_popup_ordersidebar:focus,
.finaliseorderinfo:focus,
.product_qty_popup_ordersidebar_cancel:focus,
.currentordersidebar:focus,
.currentordersidebarclear:focus {
  color: #fff;
  background-color: #91bd09;
  text-decoration: none;
}

.product_qty_popup_ordersidebar, .product_qty_popup_ordersidebar:visited,
.finaliseorderinfo, .finaliseorderinfo:visited,
.product_qty_popup_ordersidebar_cancel, .product_qty_popup_ordersidebar_cancel:visited,
.currentordersidebar, .currentordersidebar:visited,
.currentordersidebarclear, .currentordersidebarclear:visited {
  font-weight: bold;
  line-height: 1em;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  background-color: #91bd09;
  color: #fff;
}

.product_qty_popup_ordersidebar:hover,
.finaliseorderinfo:hover,
.product_qty_popup_ordersidebar_cancel:hover,
.currentordersidebar:hover,
.currentordersidebarclear:hover {
  background-color: #749a02;
}

@mixin btn-style01 {
  border: none;
  background: #222;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: pointer;
  background-image: url("../images/framework/button_overlay.png");
  background-position: bottom left;
  background-repeat: repeat-x;
  height: 25px;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  text-align: center;
}

@mixin btn-style02 {
 color: #fff;
   text-align:center;
    padding: 6px 10px 5px 10px;
	vertical-align : middle;
 
}

@mixin btn-style09 {
 color: #fff;
   text-align:center;
	vertical-align : middle;
 padding: 4px 10px 5px 10px;
}

@mixin btn-style03 {
     color: #fff;
  text-decoration: none;
}

@mixin btn-style04 {
     color: #fff;
  background-color: #91bd09;
  text-decoration: none;
}

@mixin btn-style05 {
      font-weight: bold;
  line-height: 1em;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  background-color: #91bd09;
  color: #fff;
}

@mixin btn-style06 {
 color: #fff;
      background-color: #749a02;
}

@mixin btn-style07 {
 color: #fff;
      background-color: #666; 
		cursor: auto;
}

@mixin btn-style08 {
 color: #fff;
      background-color: #666;
}

.btn_small, .btn_small:visited {
 @include btn-style01;
 width: 80px;  
}

input.btn_small {
  @include btn-style09;
}

a.btn_small {
  @include btn-style02;
}

a.btn_small:link {
 color: #fff;
} 

.btn_small:active{
  @include btn-style03;
}

.btn_small:focus {
  @include btn-style04;
}

.btn_small, .btn_small:visited{
  @include btn-style05;
}

.btn_small:hover {
    @include btn-style06;
}

.grey.btn_small, .grey.btn_small:visited		
	{ 
		 @include btn-style07;
	}
.grey.btn_small:hover	{  @include btn-style08; }


.btn_medium, .btn_medium:visited {
  @include btn-style01;
  width: 100px;
}

input.btn_medium {
  @include btn-style09;
}

a.btn_medium {
   @include btn-style02;
}

a.btn_medium:link {
 color: #fff;
} 

.btn_medium:active{
 @include btn-style03;
}

.btn_medium:focus {
  @include btn-style04;
}

.btn_medium, .btn_medium:visited{
   @include btn-style05;
}

.btn_medium:hover {
   @include btn-style06;
}

.grey.btn_medium, .grey.btn_medium:visited		
	{ 
		 @include btn-style07;
	}
.grey.btn_medium:hover	{  @include btn-style08; }


.product_qty_popup_finalise, .product_qty_popup_finalise:visited {
  @include btn-style01;
  width: 100px;
}

input.product_qty_popup_finalise {
  @include btn-style02;
}

a.product_qty_popup_finalise {
   @include btn-style02;
}

a.product_qty_popup_finalise:link {
 color: #fff;
} 

.product_qty_popup_finalise:active{
 @include btn-style03;
}

.product_qty_popup_finalise:focus {
  @include btn-style04;
}

.product_qty_popup_finalise, .product_qty_popup_finalise:visited{
   @include btn-style05;
}

.product_qty_popup_finalise:hover {
   @include btn-style06;
}

.grey.btn_mproduct_qty_popup_finaliseedium, .grey.product_qty_popup_finalise:visited		
	{ 
		 @include btn-style07;
	}
.grey.product_qty_popup_finalise:hover	{  @include btn-style08; }
