@mixin container
{
	 width: 960px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
}

@mixin column($col , $ifRightZero:false)
{
	display: inline;
    float: left;
	@if $ifRightZero {
		margin-right: 0px;
	}
	@else{
		margin-right: 15px;
	}
    width: 553.75px;
}
