﻿
@mixin hover-effect {
	background-color: #333;
	border-color: #333;
	color: #fff;
}

@mixin with-arrow{
	background : url('../images/framework/bullet_navigation_on.png') 6px 8px no-repeat #333;
}

@mixin hover-effect-with-arrow {
	@include hover-effect;
	@include with-arrow;
}


