.account_details {
	
	text-align : right;
	
	.name {
		
      display: block;
	}

		
	.customername {
		display: block;
	}
	
	.actions {
        display: block;
		font-size : 11px;
	
        .layout {
            @include horizontal-list-container;
            display: inline-block;
            float: right;
        }

		li {
            @include horizontal-list-item;
			padding : 0 0 0 5px;
			margin : 0 0 0 5px;
			border-left : 1px solid #ccc;
			
            &:first-child {
                border : none;
                padding : 0;
                margin : 0;
            }
		}
	}
}
