.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #007acc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, white, #e6e6e6);
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: none;
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
  }
  &:active, &.active {
    background-color: #cccccc \9;
  }
  &:first-child {
    *margin-left: 0;
  }
  &:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
  }
  &:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &.active, &:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  &.disabled, &[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity = 65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  [class^="icon-"] {
    margin-top: 2px;
  }
}

.btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 18px;
  [class^="icon-"] {
    margin-top: 0;
  }
}

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 17px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  + .btn-block {
    margin-top: 5px;
  }
}

input {
  &[type="submit"].btn-block, &[type="reset"].btn-block, &[type="button"].btn-block {
    width: 100%;
  }
}

.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
  }
  &:active, &.active {
    background-color: #003399 \9;
  }
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    color: #ffffff;
    background-color: #f89406;
    *background-color: #df8505;
  }
  &:active, &.active {
    background-color: #c67605 \9;
  }
}

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    color: #ffffff;
    background-color: #bd362f;
    *background-color: #a9302a;
  }
  &:active, &.active {
    background-color: #942a25 \9;
  }
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    color: #ffffff;
    background-color: #51a351;
    *background-color: #499249;
  }
  &:active, &.active {
    background-color: #408140 \9;
  }
}

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    color: #ffffff;
    background-color: #2f96b4;
    *background-color: #2a85a0;
  }
  &:active, &.active {
    background-color: #24748c \9;
  }
}

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    color: #ffffff;
    background-color: #222222;
    *background-color: #151515;
  }
  &:active, &.active {
    background-color: #080808 \9;
  }
}

button.btn, input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.btn.btn-large, input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

button.btn.btn-small, input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn.btn-mini, input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

.btn-link {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  &:active, &[disabled] {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  color: #0088cc;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  &:hover {
    color: #005580;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled]:hover {
    color: #333333;
    text-decoration: none;
  }
}

.btn-group {
  position: relative;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  &:first-child {
    *margin-left: 0;
  }
  + .btn-group {
    margin-left: 5px;
  }
}

.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0;
  .btn-group {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
  }
  .btn + .btn, .btn-group + .btn, .btn + .btn-group {
    margin-left: 5px;
  }
}

.btn-group {
  > {
    .btn {
      position: relative;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      + .btn {
        margin-left: -1px;
      }
      font-size: 14px;
    }
    .dropdown-menu {
      font-size: 14px;
    }
    .btn-mini {
      font-size: 11px;
    }
    .btn-small {
      font-size: 12px;
    }
    .btn-large {
      font-size: 16px;
    }
    .btn {
      &:first-child {
        margin-left: 0;
        -webkit-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        -moz-border-radius-topleft: 4px;
      }
      &:last-child {
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
      }
    }
    .dropdown-toggle {
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      -moz-border-radius-bottomright: 4px;
    }
    .btn.large {
      &:first-child {
        margin-left: 0;
        -webkit-border-bottom-left-radius: 6px;
        border-bottom-left-radius: 6px;
        -webkit-border-top-left-radius: 6px;
        border-top-left-radius: 6px;
        -moz-border-radius-bottomleft: 6px;
        -moz-border-radius-topleft: 6px;
      }
      &:last-child {
        -webkit-border-top-right-radius: 6px;
        border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        border-bottom-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 6px;
      }
    }
    .large.dropdown-toggle {
      -webkit-border-top-right-radius: 6px;
      border-top-right-radius: 6px;
      -webkit-border-bottom-right-radius: 6px;
      border-bottom-right-radius: 6px;
      -moz-border-radius-topright: 6px;
      -moz-border-radius-bottomright: 6px;
    }
    .btn {
      &:hover, &:focus, &:active, &.active {
        z-index: 2;
      }
    }
  }
  .dropdown-toggle:active {
    outline: 0;
  }
  &.open {
    .dropdown-toggle {
      outline: 0;
      background-image: none;
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .btn.dropdown-toggle {
      background-color: #e6e6e6;
    }
    .btn-primary.dropdown-toggle {
      background-color: #0044cc;
    }
    .btn-warning.dropdown-toggle {
      background-color: #f89406;
    }
    .btn-danger.dropdown-toggle {
      background-color: #bd362f;
    }
    .btn-success.dropdown-toggle {
      background-color: #51a351;
    }
    .btn-info.dropdown-toggle {
      background-color: #2f96b4;
    }
    .btn-inverse.dropdown-toggle {
      background-color: #222222;
    }
  }
  > {
    .btn + .dropdown-toggle {
      *padding-top: 5px;
      padding-right: 8px;
      *padding-bottom: 5px;
      padding-left: 8px;
      -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .btn-mini + .dropdown-toggle {
      *padding-top: 2px;
      padding-right: 5px;
      *padding-bottom: 2px;
      padding-left: 5px;
    }
    .btn-small + .dropdown-toggle {
      *padding-top: 5px;
      *padding-bottom: 4px;
    }
    .btn-large + .dropdown-toggle {
      *padding-top: 7px;
      padding-right: 12px;
      *padding-bottom: 7px;
      padding-left: 12px;
    }
  }
}

.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}

.btn-mini .caret, .btn-small .caret {
  margin-top: 6px;
}

.btn-large .caret {
  margin-top: 6px;
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.dropup .btn-large .caret {
  border-top: 0;
  border-bottom: 5px solid #000000;
}

.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-group-vertical {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  .btn {
    display: block;
    float: none;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    + .btn {
      margin-top: -1px;
      margin-left: 0;
    }
    &:first-child {
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
    }
    &:last-child {
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px;
    }
  }
  .btn-large {
    &:first-child {
      -webkit-border-radius: 6px 6px 0 0;
      -moz-border-radius: 6px 6px 0 0;
      border-radius: 6px 6px 0 0;
    }
    &:last-child {
      -webkit-border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px;
      border-radius: 0 0 6px 6px;
    }
  }
}

.form-search {
  .input-append .search-query, .input-prepend .search-query {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .input-append {
    .search-query {
      -webkit-border-radius: 14px 0 0 14px;
      -moz-border-radius: 14px 0 0 14px;
      border-radius: 14px 0 0 14px;
    }
    .btn {
      -webkit-border-radius: 0 14px 14px 0;
      -moz-border-radius: 0 14px 14px 0;
      border-radius: 0 14px 14px 0;
    }
  }
  .input-prepend {
    .search-query {
      -webkit-border-radius: 0 14px 14px 0;
      -moz-border-radius: 0 14px 14px 0;
      border-radius: 0 14px 14px 0;
    }
    .btn {
      -webkit-border-radius: 14px 0 0 14px;
      -moz-border-radius: 14px 0 0 14px;
      border-radius: 14px 0 0 14px;
    }
  }
  input {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    vertical-align: middle;
    *zoom: 1;
  }
}

.form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}

.form-search .hide, .form-inline .hide, .form-horizontal .hide {
  display: none;
}

.form-search label, .form-inline label, .form-search .btn-group, .form-inline .btn-group {
  display: inline-block;
}

.form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend {
  margin-bottom: 0;
}

.form-search {
  .radio, .checkbox {
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.form-inline {
  .radio, .checkbox {
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.form-search {
  .radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-right: 3px;
    margin-left: 0;
  }
}

.form-inline {
  .radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-right: 3px;
    margin-left: 0;
  }
}

.control-group {
  margin-bottom: 10px;
}

legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}

.form-horizontal {
  .control-group {
    margin-bottom: 20px;
    *zoom: 1;
    &:before {
      display: table;
      line-height: 0;
      content: "";
    }
    &:after {
      display: table;
      line-height: 0;
      content: "";
      clear: both;
    }
  }
  .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
  }
  .controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 180px;
    *margin-left: 0;
    &:first-child {
      *padding-left: 180px;
    }
  }
  .help-block {
    margin-bottom: 0;
  }
  input + .help-block, select + .help-block, textarea + .help-block {
    margin-top: 10px;
  }
  .form-actions {
    padding-left: 180px;
  }
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  small {
    font-size: 15px;
    color: #999999;
  }
}

/* navs */

.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
  > {
    li > a {
      display: block;
      &:hover {
        text-decoration: none;
        background-color: #eeeeee;
      }
    }
    .pull-right {
      float: right;
    }
  }
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 9px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
  > li > a, .nav-header {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
  > {
    li > a {
      padding: 3px 15px;
    }
    .active > a {
      color: #ffffff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      background-color: #0088cc;
      &:hover {
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        background-color: #0088cc;
      }
    }
  }
  [class^="icon-"] {
    margin-right: 2px;
  }
  .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
  }
}

.nav-tabs, .nav-pills {
  *zoom: 1;
}

.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-tabs:after, .nav-pills:after {
  clear: both;
}

.nav-tabs > li, .nav-pills > li {
  float: left;
}

.nav-tabs > li > a, .nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  > {
    li {
      margin-bottom: -1px;
      > a {
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 20px;
        border: 1px solid transparent;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        &:hover {
          border-color: #eeeeee #eeeeee #dddddd;
        }
      }
    }
    .active > a {
      color: #555555;
      cursor: default;
      background-color: #ffffff;
      border: 1px solid #ddd;
      border-bottom-color: transparent;
      &:hover {
        color: #555555;
        cursor: default;
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
      }
    }
  }
}

.nav-pills > {
  li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .active > a {
    color: #ffffff;
    background-color: #0088cc;
    &:hover {
      color: #ffffff;
      background-color: #0088cc;
    }
  }
}

.nav-stacked > li {
  float: none;
  > a {
    margin-right: 0;
  }
}

.nav-tabs.nav-stacked {
  border-bottom: 0;
  > li {
    > a {
      border: 1px solid #ddd;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    &:first-child > a {
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
      -moz-border-radius-topright: 4px;
      -moz-border-radius-topleft: 4px;
    }
    &:last-child > a {
      -webkit-border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      border-bottom-left-radius: 4px;
      -moz-border-radius-bottomright: 4px;
      -moz-border-radius-bottomleft: 4px;
    }
    > a:hover {
      z-index: 2;
      border-color: #ddd;
    }
  }
}

.nav-pills.nav-stacked > li {
  > a {
    margin-bottom: 3px;
  }
  &:last-child > a {
    margin-bottom: 1px;
  }
}

.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

.nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.nav .dropdown-toggle {
  .caret {
    margin-top: 6px;
    border-top-color: #0088cc;
    border-bottom-color: #0088cc;
  }
  &:hover .caret {
    border-top-color: #005580;
    border-bottom-color: #005580;
  }
}

/* move down carets for tabs */

.nav-tabs .dropdown-toggle .caret {
  margin-top: 8px;
}

.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

.nav > .dropdown.active > a:hover {
  cursor: pointer;
}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

.nav {
  > li.dropdown.open.active > a:hover {
    color: #ffffff;
    background-color: #999999;
    border-color: #999999;
  }
  li.dropdown.open {
    .caret, &.active .caret, a:hover .caret {
      border-top-color: #ffffff;
      border-bottom-color: #ffffff;
      opacity: 1;
      filter: alpha(opacity = 100);
    }
  }
}

.tabs-stacked .open > a:hover {
  border-color: #999999;
}

.tabbable {
  *zoom: 1;
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
}

.tab-content {
  overflow: auto;
}

.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: none;
}

.tab-content > .active, .pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
  > {
    li {
      margin-top: -1px;
      margin-bottom: 0;
      > a {
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
        &:hover {
          border-top-color: #ddd;
          border-bottom-color: transparent;
        }
      }
    }
    .active > a {
      border-color: transparent #ddd #ddd #ddd;
      &:hover {
        border-color: transparent #ddd #ddd #ddd;
      }
    }
  }
}

.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
  > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    &:hover {
      border-color: #eeeeee #dddddd #eeeeee #eeeeee;
    }
  }
  .active > a {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
    &:hover {
      border-color: #ddd transparent #ddd #ddd;
      *border-right-color: #ffffff;
    }
  }
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
  > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    &:hover {
      border-color: #eeeeee #eeeeee #eeeeee #dddddd;
    }
  }
  .active > a {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
    &:hover {
      border-color: #ddd #ddd #ddd transparent;
      *border-left-color: #ffffff;
    }
  }
}

.nav > .disabled > a {
  color: #999999;
  &:hover {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
  }
}

.navbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 20px;
  overflow: visible;
  color: #777777;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, white, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, white, #f2f2f2);
  background-image: -o-linear-gradient(top, white, #f2f2f2);
  background-image: linear-gradient(to bottom, white, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
}

.navbar .container {
  width: auto;
}

.nav-collapse.collapse {
  height: auto;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
  &:hover {
    text-decoration: none;
  }
}

.navbar-text {
  margin-bottom: 0;
  line-height: 40px;
}

.navbar-link {
  color: #777777;
  &:hover {
    color: #333333;
  }
}

.navbar {
  .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
  }
  .btn {
    margin-top: 5px;
  }
  .btn-group {
    margin-top: 5px;
    .btn {
      margin-top: 0;
    }
  }
  .input-prepend .btn, .input-append .btn {
    margin-top: 0;
  }
}

.navbar-form {
  margin-bottom: 0;
  *zoom: 1;
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
  input, select, .radio, .checkbox {
    margin-top: 5px;
  }
  input, select, .btn {
    display: inline-block;
    margin-bottom: 0;
  }
  input {
    &[type="image"], &[type="checkbox"], &[type="radio"] {
      margin-top: 3px;
    }
  }
  .input-append, .input-prepend {
    margin-top: 6px;
    white-space: nowrap;
  }
  .input-append input, .input-prepend input {
    margin-top: 0;
  }
}

.navbar-search {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-bottom: 0;
  .search-query {
    padding: 4px 14px;
    margin-bottom: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }
}

.navbar-static-top {
  position: static;
  width: 100%;
  margin-bottom: 0;
  .navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  border-width: 0 0 1px;
}

.navbar-fixed-bottom .navbar-inner {
  border-width: 1px 0 0;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  padding-right: 0;
  padding-left: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 940px;
}

.navbar-fixed-top {
  top: 0;
  .navbar-inner {
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  }
}

.navbar-static-top .navbar-inner {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-fixed-bottom {
  bottom: 0;
  .navbar-inner {
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 10px rgba(0, 0, 0, 0.1);
  }
}

.navbar {
  .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    &.pull-right {
      float: right;
      margin-right: 0;
    }
    > li {
      float: left;
      > a {
        float: none;
        padding: 10px 15px 10px;
        color: #777777;
        text-decoration: none;
        text-shadow: 0 1px 0 #ffffff;
      }
    }
    .dropdown-toggle .caret {
      margin-top: 8px;
    }
    > {
      li > a {
        &:focus, &:hover {
          color: #333333;
          text-decoration: none;
          background-color: transparent;
        }
      }
      .active > a {
        color: #555555;
        text-decoration: none;
        background-color: #e5e5e5;
        -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        &:hover, &:focus {
          color: #555555;
          text-decoration: none;
          background-color: #e5e5e5;
          -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        }
      }
    }
  }
  .btn-navbar {
    display: none;
    float: right;
    padding: 7px 10px;
    margin-right: 5px;
    margin-left: 5px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ededed;
    *background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
    background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-repeat: repeat-x;
    border-color: #e5e5e5 #e5e5e5 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
    &:hover, &:active, &.active, &.disabled, &[disabled] {
      color: #ffffff;
      background-color: #e5e5e5;
      *background-color: #d9d9d9;
    }
    &:active, &.active {
      background-color: #cccccc \9;
    }
    .icon-bar {
      display: block;
      width: 18px;
      height: 2px;
      background-color: #f5f5f5;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    }
  }
}

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

.navbar .nav > li > .dropdown-menu {
  &:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  &:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
  }
}

.navbar-fixed-bottom .nav > li > .dropdown-menu {
  &:before {
    top: auto;
    bottom: -7px;
    border-top: 7px solid #ccc;
    border-bottom: 0;
    border-top-color: rgba(0, 0, 0, 0.2);
  }
  &:after {
    top: auto;
    bottom: -6px;
    border-top: 6px solid #ffffff;
    border-bottom: 0;
  }
}

.navbar {
  .nav li.dropdown {
    &.open > .dropdown-toggle, &.active > .dropdown-toggle {
      color: #555555;
      background-color: #e5e5e5;
    }
    &.open {
      &.active > .dropdown-toggle {
        color: #555555;
        background-color: #e5e5e5;
      }
      > .dropdown-toggle .caret {
        border-top-color: #555555;
        border-bottom-color: #555555;
      }
    }
    > .dropdown-toggle .caret {
      border-top-color: #777777;
      border-bottom-color: #777777;
    }
    &.active > .dropdown-toggle .caret, &.open.active > .dropdown-toggle .caret {
      border-top-color: #555555;
      border-bottom-color: #555555;
    }
  }
  .pull-right > li > .dropdown-menu, .nav > li > .dropdown-menu.pull-right {
    right: 0;
    left: auto;
  }
  .pull-right > li > .dropdown-menu:before, .nav > li > .dropdown-menu.pull-right:before {
    right: 12px;
    left: auto;
  }
  .pull-right > li > .dropdown-menu:after, .nav > li > .dropdown-menu.pull-right:after {
    right: 13px;
    left: auto;
  }
  .pull-right > li > .dropdown-menu .dropdown-menu, .nav > li > .dropdown-menu.pull-right .dropdown-menu {
    right: 100%;
    left: auto;
    margin-right: -1px;
    margin-left: 0;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }
}

.navbar-inverse {
  color: #999999;
  .navbar-inner {
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  }
  .brand, .nav > li > a {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  .brand:hover {
    color: #ffffff;
  }
  .nav {
    > li > a {
      &:hover {
        color: #ffffff;
      }
      &:focus, &:hover {
        color: #ffffff;
        background-color: transparent;
      }
    }
    .active > a {
      color: #ffffff;
      background-color: #111111;
      &:hover, &:focus {
        color: #ffffff;
        background-color: #111111;
      }
    }
  }
  .navbar-link {
    color: #999999;
    &:hover {
      color: #ffffff;
    }
  }
  .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
  }
  .nav li.dropdown {
    &.open > .dropdown-toggle, &.active > .dropdown-toggle {
      color: #ffffff;
      background-color: #111111;
    }
    &.open {
      &.active > .dropdown-toggle {
        color: #ffffff;
        background-color: #111111;
      }
      > .dropdown-toggle .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
      }
    }
    > .dropdown-toggle .caret {
      border-top-color: #999999;
      border-bottom-color: #999999;
    }
    &.active > .dropdown-toggle .caret, &.open.active > .dropdown-toggle .caret {
      border-top-color: #ffffff;
      border-bottom-color: #ffffff;
    }
  }
  .navbar-search .search-query {
    color: #ffffff;
    background-color: #515151;
    border-color: #111111;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    &:-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
      color: #cccccc;
    }
    &:focus, &.focused {
      padding: 5px 15px;
      color: #333333;
      text-shadow: 0 1px 0 #ffffff;
      background-color: #ffffff;
      border: 0;
      outline: 0;
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    }
  }
  .btn-navbar {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e0e0e;
    *background-color: #040404;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#040404));
    background-image: -webkit-linear-gradient(top, #151515, #040404);
    background-image: -o-linear-gradient(top, #151515, #040404);
    background-image: linear-gradient(to bottom, #151515, #040404);
    background-image: -moz-linear-gradient(top, #151515, #040404);
    background-repeat: repeat-x;
    border-color: #040404 #040404 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    &:hover, &:active, &.active, &.disabled, &[disabled] {
      color: #ffffff;
      background-color: #040404;
      *background-color: #000000;
    }
    &:active, &.active {
      background-color: #000000 \9;
    }
  }
}

/*end navs */
