﻿/*
table.customerlist {
				display: inline-block;
				float: left;
				margin-top: 15px;
				margin-bottom: 5px;
				margin: auto;
				table-layout: fixed;
				width: 958px;
				border-collapse: collapse;
				border: 1px solid #ccc;

				tr {
						width: 958px;
						
						height: 30px;

						&.header
						{
							background :  #E8E8E8;
						}

						a
						{
							align:right;
						}

						&.row:hover {
							 background: #F0F0F0;
						}
 
				}


				th {
						border: 1px solid #e4e4e4;
						table-layout: fixed;
						

						padding: 3px 8px 3px 3px;

						font-weight: bold;						
						padding: 3px 1px;	
						table-layout: fixed;
						
						&.radiobutton{
							font-size: 20px;
							width:60px;
							horizontal-align:middle;
						}
						
						&.customername{
							font-size: 12px;
							width: 898px;
						}	
				}

				td {				
						border: 1px solid #e4e4e4;  
						font-size: 12px;
						padding: 3px 8px 3px 3px;
						table-layout: fixed;

						&.radiobutton{
							font-size: 20px;
							width:60px;
							padding: 5px 25px;	
							horizontal-align:center;
						}
						
						&.customername{
							font-size: 12px;
							width: 898px;
						}								
				}
		}


.customerlist_select
{
	width: 950px;

	a{
		float:right;
		margin-top: 20px;
		
		}
}
*/

table.customerlist {
   /*display: inline-block;
   width:  400px;
table-layout: fixed;
   */
 width:100%;
  float: left;
  margin-top: 15px;
  margin-bottom: 20px;
  /*   margin: auto;*/
  border-collapse: collapse;
  border: 1px solid #ccc;
  tr {
    /*  width: 958px;*/
    height: 30px;
    &.header {
      background: #E8E8E8;
    }
    a {
      align: right;
    }
    &.row:hover, &.selected {
      background: #E6EFC0;
    }
  }
  th {
    border: 1px solid #e4e4e4;
    table-layout: fixed;
    padding: 3px 8px 3px 3px;
    font-weight: bold;
    padding: 3px 1px;
    table-layout: fixed;
    &.radiobutton {
      font-size: 20px;
      width: 60px;
      horizontal-align: middle;
    }
    &.customername {
      font-size: 12px;
      width: 898px;
    }
  }
  td {
    /*
    border: 1px solid #e4e4e4;
    padding: 3px 8px 3px 3px;
    */
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: 12px;
    padding: 7px 8px 7px 3px;
    table-layout: fixed;
    vertical-align: middle;
    label {
      float: left;
    }
    button {
      float: right;
    }
    &.radiobutton {
      font-size: 20px;
      width: 60px;
      padding: 5px 25px;
      horizontal-align: center;
    }
    &.customername {
      font-size: 12px;
      width: 898px;
    }
  }
}

.customerlist_select {
  /* width: 950px;*/
  a {
    float: right;
    margin-top: 20px;
  }
}

.customerlist {
  a.btn-inverse {
    float: right;
  }
  span {
    font-weight: bold;
  }
}