
.x-scroller-vertical, .x-grid-header-ct, .x-panel-body-default, .x-scroller-horizontal{
	border-color: #c5c5c5;
}

div.x-panel, .order-details div.x-grid-body{
	border-color: #c5c5c5;
}

.x-column-header {
	border: none;
}

.x-grid-table {
	margin-bottom: 0;
}

.x-panel .x-grid-body {
	border-color: #c5c5c5;
}

.x-grid-header-row th{
	padding: 0px;
}

td.x-grid-cell {
	padding: 2px;

	div.x-grid-cell-inner {
		padding: 2px;
	}
}