// Flash messages

.blockUI.blockMsg {
    left: inherit; 
    right: 10px;
}

#growlUI {
    h1 {
      font-size: 16px;
      margin: 0px 0px 0px 0px;
    }

    h2 { 
      font-size: 12px;
      margin: 0px 0px 0px 16px;
    }

    h1, h2 {
        color: white;
    }

    span {
       float: left;

        &.ui-icon {
            background-image: url(../stylesheets/images/jquery_ui/ui-icons_ffffff_256x240.png);
        }
    }


    .ui-icon:hover {
      background-position: -96px -128px;
    }
}


