form {
	@extend .ui-widget;

	font-size: 1.2em;

	fieldset {
		border: none;
	}

	p {
		margin-bottom: 14px;

		> label {
			display: inline-block;
			width: 25%;
			vertical-align : top;
			font-weight : bold;
		}

		> span {
			display: inline-block;
			width: 59%;
		}

		input {
			font-size: 12px;
		}
		
		input.highlight_error {
			border: 2px solid red;
		}
		
		input[type=checkbox] {
			margin-left : 0;
		}

		input[type=text],
		input[type=password] {
			width: 85%;
		}
		
		&.info {
			padding-left : 25%;
			font-size : 11px;
		}
		
	}

	div.buttons {
		display: inline-block;
		padding-left : 25%;
		
		input {
			font-size : 12px;
		}

		table 
		{
			th, td, caption {
				padding: 4px 0 4px 5px;
			}
		}
		
	}

	div.edit-account-buttons
	{
		display: inline-block;
		padding-left : 25%;
		
		input {
			font-size : 12px;
		}

		table 
		{
			th, td, caption {
				padding: 4px 0 4px 5px;
			}
		}
	}

	// Validation

	label.error {
		color: #cc0000;
		display: block;
		margin-top : 2px;
	}
}