/*
	Header Generic
	==============
*/

#header {
	
	@include container;
	
	margin-top : 15px;
	margin-bottom : 30px;
	
	.logo {
		float:left;
	}
	
	.search {
		float:left;
	}

	.account_details {
		float:right;
	}

}

/*
	Header Session Layouts
	======================
*/
body.session {
	
	#header {
		
		height : 150px;
		line-height : 150px;
		text-align : center;
		
		.logo {
			width : 100%;	
			margin : 0;
		}
		
		.search {
			display : none;
		}
		
		.account_details {
			display : none;
		}
		
	}
	
}
