// Site navigation (i.e. Dashboard, Products)

#navigation_site {	
	@include container;
	
	background : $area_fill;
	height : 35px;
	line-height : 35px;
	
	ul.layout1 {
		position : relative;
		left : 5px;
		float : left;
		
		li {
			float : left;
			margin-right : 12px;
			padding-right : 12px;
			font-size : 15px;
			border-right : 1px solid #ccc;
			
			&:last-child {
				background : none;
				margin-right : 0;
				padding-right : 0;
				border : none;
			}
			
			a {
				color : #fff;
				text-decoration : none;
				display : block;
				position : relative;
				top  : -1px;
			}

			.rightlink
			{
				padding-left: 500px;
			}
			
		}
		
	}

	ul.layout2 {
		position : relative;
		right : 5px;
		float : right;
		
		li {
			float : left;
			margin-right : 12px;
			padding-right : 12px;
			font-size : 15px;
			border-right : 1px solid #ccc;
			
			&:last-child {
				background : none;
				margin-right : 0;
				padding-right : 0;
				border : none;
			}
			
			a {
				color : #fff;
				text-decoration : none;
				display : block;
				position : relative;
				top  : -1px;
			}

			.rightlink
			{
				padding-left: 500px;
			}
			
		}
		
	}
	
}