/*

	Module: Breadcrumbs
	-------------------
	
	Navigation through products in the index.

*/

@import "mixins/hover-effect";
/*
#navigation_products {

		.close_Menu {
			float: right; 
			position: absolute; 
			cursor: hand;
			cursor: pointer;
			right : 3px;
			top: 4px;
		}

	a {
		color: black;
		text-decoration: none;
	}

	ul {
		li {
			margin-bottom : 1px;

			&:hover {
				@include hover-effect-with-arrow;
			}
			
			&.nav_select {	
				a {
					@include hover-effect-with-arrow;
				}
			}

			div
			{
				a {
					&:hover {
						@include hover-effect-with-arrow;
					}
				}
			}
			
			a {
				display : block;
				color : $link_color;
				background : url('../images/framework/bullet_navigation.png') 6px 8px no-repeat #f7f7f7;
				padding: 5px 8px 5px 20px;
				&:hover {
					@include hover-effect-with-arrow;
				}
			}
			
		}
	}
	
	.navigation_items {
		display: none;
		min-width: 300px;
		max-width: 560px;
		
		.ui-tooltip-wrapper {
			background : #333333;
			padding : 5px 10px;
			
			.ui-tooltip-content {
				border : none;
			}
			
			li {
				
				a {
					padding : 0;
					color : #fff;
					background : none;
					
					&:hover {
						@include hover-effect;
						text-decoration : underline;
					}
					
				}
				
			}
			
		}

		div {
			width: 100%;
			div {
				display: inline-block;
				float: left;

				ul {
					float: left;
					padding: 0;
					width: 160px;

					li.nav_item_title {
						font-size: 1.2em;
						font-weight: bold;
						
					}
				}
			}
		}
	}
	
}
*/
#navigation_products {
  .close_Menu {
    float: right;
    position: absolute;
    cursor: hand;
    cursor: pointer;
    right: 3px;
    top: 2px;
  }
  a {
    color: black;
    text-decoration: none;
  }
  ul li {
    margin-bottom: 2px;
    &:hover {
      /* background-color: white;*/
      background-color: #E0EBCC;
      border-color: #333;
      color: #fff;
      /*background: url("../images/framework/Green_triangle.png") 6px 8px no-repeat #333;*/
    }
    &.nav_select a {
      background-color: #333;
      border-color: #333;
      color: #87AE22;
      background: url("../images/framework/bullet_navigation_on.png") 135px 8px no-repeat #333333;
    }
    div a:hover {
      background-color: #333;
      border-color: #333;
      color: #fff;
      background: url("../images/framework/Green_triangle.png") 6px 8px no-repeat #333333;
    }
    a {
      display: block;
      text-decoration: bold;
      background-color: White;
      color: #87ae22;
      /*background: url("../images/framework/bullet_navigation.png") 6px 8px no-repeat #f7f7f7;*/
      background-image: url('../images/framework/grey_button.png');
      padding: 5px 8px 5px 20px;
      &:hover {
        background-color: #E0EBCC;
        border-color: #333;
        color: #87AE22;
        /*background-image:url('../images/framework/grey_button.jpg');*/
        /* background-image: url("../images/framework/bullet_navigation_on.png") 6px 8px no-repeat #87ae22;*/
      }
    }
  }
  .navigation_items {
    display: none;
    min-width: 100px;
    max-width: 180px;
    border: 1px;
    border-style: solid;
    border-color: #B3B3B3;
    .ui-tooltip-wrapper {
      background: #ffffff;
      padding: 5px 0px;
      .ui-tooltip-content {
        border: none;
      }
      li a {
        /*background-image:url('../images/framework/grey_button.jpg');*/
        padding: 0;
        color: #3A40D8;
        background: none;
      }
    }
    div {
      width: 100%;
      div {
        display: inline-block;
        float: left;
        ul {
          float: left;
          padding: 0;
          width: 160px;
          li.nav_item_title {
            font-size: 1.2em;
            font-weight: bold;
          }
        }
      }
    }
  }
}
