/*

	Module: Order Sidebar
	---------------------
	
	The sidebar orders and flyout

*/

#currentOrders_form > div {
	text-align: center;
}

#order_sidebar {
	
	/* title at top of module */
	.title {
		padding : 5px 0 5px 10px;
		background : $area_fill;
		
		h3 {
			color : #fff;
			margin : 0;
		}
	}
	
	/* breakdown of totals for the order */
	.totals {
		
		margin-bottom : 5px;
		
		table {
			
			border-collapse : collapse;
			border : 1px solid #e1e1e1;
			margin : 0;
			
			tr {
				
				td, th {
					border-bottom : 1px solid #f7f7f7;
				}

				td{
				  text-align:right;
				}
				
				th {
					
				}
				
			}
			
		}
		
	}

	/* products in the order */
	.products  {
		.buttons
		{
			margin-left: -25px;
		}
		.mini_product {
			background-color: #f3f4f5;
			margin-bottom: 1px;
			height: 78px;
			width: 230px;
			overflow : hidden;
			border-collapse: collapse;
			border: 1px solid #e1e1e1;
			margin: 0;  

			.thumb {
				float: left;
				width: 51px;
				height: 78px;
				overflow : hidden;

				img {
					width : 51px;
				}
			}

			.details {
				font-size: 11px;
				margin-left : 56px;
				padding : 5px 8px;

				h4 {
					font-size: 11px;
					font-weight : bold;
					margin : 0;
				}
				
				p {
					margin : 0;
					font-size : 11px;
				}
				
				p.unit_count {
					font-size : 10px;
				}
				
			}
		}
	}

	/* flyout when mousing over a product */
	.mini_product_item {
		display: none;
		font-size: 12px;
		min-width: 700px;
		max-width: 750px;
		background : url('../images/framework/background_flyout.png') 6px 8px no-repeat;
		
		h2 {
			background : $area_fill;
			color : #fff;
			position : relative;
			height : 32px;
			line-height : 30px;
			font-size : 14px;
			margin : 0;
			
			.code {
				position : absolute;
				left : 15px;
			}
			
			.name {
				position : absolute;
				left : 175px;
			}
		}

		.image {
			float: left;
			width: 160px;
			overflow : hidden;
			
			img {
				width: 160px;
			}
			
		}

		.close_sidebar {
			float: right; 
			position: relative; 
			cursor: hand;
			cursor: pointer;
			right : 8px;
			top: 8px;
		}

		.details {
			margin-left : 175px;
			margin-right: 15px;

			.pricing {
				
				margin : 15px 0;
				
				overflow : hidden;

				.detail_item {
					background : #ededed;
					padding : 3px 10px;
					font-size : 11px;
					margin-right : 5px;
					float : left;
				};

				.bold{
					font-weight: bold;
				}
			}
			
			p.total {
				text-align: left;
				margin : 15px 0;
				font-weight : bold;
			}

		}
		
	}
	

	/* actions you can take on the order */
	.actions {
		
		padding : 15px 0;
		
		form {
			
			text-align : center;
			font-size : 12px;
			
		}
		
	}
}
