

#order_history {
  .legend {
    display: inline-block;
    font-size: 11px;
    padding: 10px 0;
    width: 100%;
    span {
      display: inline-block;
      width: 10%;
      &.symbol {
        border: 1px solid #000;
        height: 10px;
        margin: 0 10px 0 0;
        width: 10px;
        &.complete_order {
          background-color: #ffc9c9;
        }
        &.invoiced_order {
          background-color: #d9ffd6;
        }
      }
    }
  }
  table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    tr {
      font-size: 12px;
      &.order_complete {
        /*    background-color: #ffc9c9;*/
      }
      &.order_invoiced {
        /* background-color: #d9ffd6;*/
      }
      &.details_row {
        display: none;
      }
      th {
        background-color: #98BD18;
        /*border: 1px solid #ccc;*/
        color: #fff;
        text-align: left;
        padding: 7px 9px;
      }
      td {
        /*border: 1px solid #ccc;*/
        border-bottom: 1px dotted #ccc;
        font-weight: normal;
        padding: 7px 4px;
        text-align: left;
        &.details {
          h1 {
            font-size: 14px;
            font-weight: bold;
          }
          p {
            line-height: 1em;
            margin: 0;
          }
          div {
            display: inline-block;
            float: left;
            line-height: 1em;
            padding-right: 20px;
            p {
              display: inline-block;
              width: 100%;
              strong {
                float: left;
                width: 70px;
              }
              span {
                float: right;
              }
            }
            &.col1 {
              margin-left: 146px;
              width: 198px;
            }
            &.col2 {
              width: 225px;
              p {
                strong {
                  float: left;
                }
                span {
                  display: inline-block;
                  float: left;
                }
              }
            }
            &.col3 {
              padding-right: 0;
              width: 148px;
              span {
                float: right;
              }
            }
          }
          ul li {
            line-height: 18px;
          }
        }
        div.actions {
          clear: both;
          display: block;
          padding: 4px 0;
          float: right;
          /*width: 100%*/
        }
      }
      .right {
        text-align: right;
      }
    }
  }
  .pagination {
    /* clear: left;
     display: inline-block;
     float: left;*/
    background-color: #F1F1F1;
    color: dimGray;
    font-size: 14px;
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    a {
      color: #3191C4;
    }
    .pagination-label-total {
      float: left;
      display: inline-block;
    }
    .pager_nav {
      float: right;
      display: inline-block;
    }
  }
  .filter {
    width: 100%;
    overflow: hidden;
    div {
     /*   float: left;
        padding-right: 5px;
        font-size: 11px;
    */
      margin-bottom: 10px;
    }
    label {
      display: block;
      font-weight: bold;
      font-size: 12px;
    }
    i {
      font-size: 10px;
      padding: 5px;
    }
    input[type=text] {
      width: 95% !important;
      padding: 4px;
      margin-right: 15px;
    }
    div {
      input, select {
        vertical-align: middle;
        margin: 0;
      }
      .code_desc {
        width: 120px;
      }
      .trans_num, .ref_num {
        width: 60px;
      }
      .order_type {
        width: 100px;
      }
      .created_date {
        width: 80px;
      }
    }
  }
  strong {
    font-weight: bold;
  }
  .sidebar {
    float: left;
    width: 220px;
    margin-right: 12px;
    background-color: #f9f9f9;
  }
  .content {
    float: left;
    width: 728px;
  }
}

h2.round-pagetitle {
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #efefef;
  padding: 8px 16px;
  color: #383838;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.green {
  background-color: #98BD18;
  color: #fff;
}


.section-title {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
}

.lbl_state {
  width: 70px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
}

.lbl_Processing {
  background-color: #BFDD97;
  color: #50771A;
}

.lbl_Invoiced {
  background-color: #BF2422;
  color: #fff;
}

.lbl_Cancelled {
  background-color: #DCDCDC;
  color: #797979;
}

.jquery-ui-icon {
  background-image: url('images/jquery-ui.png');
  width: 16px;
  height: 16px;
  display: inline-block;
  text-decoration: none;
  margin: -4px 5px;
  /* margin-left:5px;
   margin-right:5px;
   margin-top:5px;*/
}

.arrowdn {
  background-position: -64px -16px;
}

.arrowup {
  background-position: 0 -16px;
}

.red-label {
  color: #AC121A;
}

//#history_index! div.legend {}

#typeTabs li {
  &:first-child {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
    background-color: #EEE;
    font-size: 16px;
    color: #696969;
    font-weight: bold;
  }
  &.active a {
    background-color: #fff;
  }
}

a {
  &#lnkchangeCustomer {
    font-size: 12px;
  }
  &.btn-inverse {
    color: #fff !important;
    text-decoration: none;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    font-size: 10px;
    padding: 1px 14px;
    background-color: #525252;
    font-weight: bold;
  }
  &.dialog-linkclose {
    font-size: 18px !important;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.btn-print {
  width: 115px;
  margin-left: 20px;
}

.btn-flatinverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #6A6A6A;
  *background-color: #6A6A6A;
  /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-image: -moz-linear-gradient(top, #444444, #222222);
 border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
*/
  background-repeat: repeat-x;
  border: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border-radius: 12px;
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    color: #ffffff;
    background-color: #6A6A6A;
    *background-color: #6A6A6A;
  }
  &:active, &.active {
    background-color: #080808 \9;
  }
}
