// Order details page

$order_complete_color: #ffc9c9;
$order_invoiced_color: #d9ffd6;

// new order details page
#order_detail {
width: 100%;

@include container;	

	#summary
	{		
		h2 {
			clear: both;
			text-align: left;
		}

		width: 30%;
		float:left;
	}

	.meta_details {
		width: 70%;
		float:right;

		ul.layout {
			
			li {
				float:right;
				background : #f6f6f6;
				
				border-bottom : 1px solid #c5c5c5;
				border-top : 1px solid #fff;
				padding : 5px 8px;

				.label {
					background : #f1f1f1;
					font-weight : bold;
				}

			}

		}

	}


	#order-details
	{
		float:left;
	}

	#area3
	{	
		margin-top : 20px;
		width: 80%;
		float:left;

		.invoices {
		width : 600px;
		
		}

		.instructions {
	
			@include column(17);

			textarea {
				
				width : 100%;
				margin-bottom : 10px;
			}
		}
	}

	#area4
	{
		margin-top : 20px;
		width: 20%;
		display: block;
		float:right;

		.delivery_instructions
		{
			border-bottom : 1px solid #c5c5c5;
			border-top : 1px solid #fff;
			background : #f6f6f6;
			margin-bottom : 10px;

			li{
				display:block;
			}

			.label
			{
				font-weight : bold;
			}
		}

		.actions {
			margin-top: 19px;
			text-align: right;
			margin-right: 20px;
		}
	}

}


@mixin order_details_label {
	display: inline-block;
	vertical-align: top;
	width: 60%;
}

 .order {
		display: block;

    .details,
    .items {
      display: inline-block;
      font-size: 12px;
      width: 100%;
    }

    .details {
    	div {
				float: left;
				height: 100%;
				width: 33%;

				p {
					span {
						@include order_details_label;
					}

					strong {
						display: inline-block;
						float: left;
						width: 30%;
					}
				}
			}

			p {
				display: block;
			}

			.delivery p strong {
				@include order_details_label;
			}

    }

	.actions {
		font-size: 14px;
		padding-top: 20px;
		width: 960px;
	}


}

/* Finalise order page */
#complete_order {
    width:750px;
    background-color: #FFFFFF;
    margin-bottom: 10px;

	h1 {
			font-weight:bolder;
			font-size: 18px;
	}

	div {
		display: inline-block;

		&.col1 {
			float: left;
			width: 40%;

			.details1 {
				width: 100%;
				font-size: 12px;
				text-align: left;

				&.customer {
					font-size: 12px;
					text-align: left;
				}

				p {
					float: left;
					margin: 5px;
					width: 100%;
				}

				span {
					float: right;
					width: 45%;
				}

				strong{
						float: left;
				}
			}

			.details2 {
				width: 100%;
				font-size: 12px;
				text-align: left;

				&.customer {
					font-size: 12px;
					text-align: left;
				}

				p {
					float: left;
					margin: 5px;
					width: 100%;
				}

				span {
					  float: right;
					  width: 65%;
				}

				strong{
						float: left;
				}

				.orderdetail
				{
					width:  45%;
					margin-right: 60px;
					text-align: right;
				}
			}
		}

		&.col2 {
			float: right;
			width: 60%;
			height: 100%;

			input[type=text],
			textarea
			{
				  width: 95%;
				  font-family: "Arial";
				  color: #424242;
			}

			input[type=button] {
			}

			#awesomedeletefinalise
			{
				width: 115px;
				float:left;
				margin: 0 2px;
			}

			#sendorder
			{
				width: 115px;
				float:left;
				margin: 0 2px;
			}

			#addProduct
			{
				width: 115px;
				float:left;
				margin: 0 2px;
			}

			p
			{
				#first
				{
				  margin-top: 5px
				  }
			}

			.actions {
				 width:95%;
			}
		}

		&.products {
			clear: both;
			display: block;
		}
	}

	.actions {
		font-size: 14px;

		a {
			text-align: center;
		}
	}
}
