﻿/*

	Module: Order Finalise
	---------------------
	
	Finalise current order

*/

#finalise_order {
  display: inline;
  float: left;
  margin-right: 15px;
  width:750px;
  overflow-x: hidden;
}

// For the change of address information

#change_address {
	float: left;
	width: 40%;
}

.no-addresses-setup {
	top: 110px;
	left: 19px;
}

#order_finalise {

	   float: inherit;

	/* title at top of module */
	.title {
		padding : 5px 0 5px 10px;
		background : $area_fill;
		
		h3 {
			color : #fff;
			margin : 0;
		}
	}
	
	/* breakdown of totals for the order */
	.totals {
		
		margin-bottom : 5px;
		
		table {
			
			border-collapse : collapse;
			border : 1px solid #e1e1e1;
			margin : 0;
			
			tr {
				
				td, th {
					border-bottom : 1px solid #f7f7f7;
				}
				
				th {
					
				}
				
			}
			
		}
		
	}

	/* products in the order */
	.products  {

	  margin-top: 20px;

		.mini_product {
			background-color: #f3f4f5;
			margin-bottom: 5px;
			height: 68px;
			width: 230px;
			overflow : hidden;

			.thumb {
				float: left;
				width: 51px;
				height: 68px;
				overflow : hidden;

				img {
					width : 51px;
				}
			}

			.details {
				font-size: 11px;
				margin-left : 56px;
				padding : 5px 8px;

				h4 {
					font-size: 11px;
					font-weight : bold;
					margin : 0;
				}
				
				p {
					margin : 0;
					font-size : 11px;
				}
				
				p.unit_count {
					font-size : 10px;
				}
				
			}
		}
	}

	/* flyout when mousing over a product */
	.mini_product_item {
		font-size: 12px;
		min-width: 735px;
		max-width: 735px;
		background : url('../images/framework/background_flyout.png') 6px 8px no-repeat;
		
		h2 {
			background : $area_fill;
			color : #fff;
			position : relative;
			height : 32px;
			line-height : 30px;
			font-size : 14px;
			margin : 0;
			
			.code {
				position : absolute;
				left : 15px;
			}
			
			.name {
				position : absolute;
				left : 175px;
			}
		}

		.image {
			float: left;
			width: 120px;
			overflow : hidden;
			
			img {
				width: 120px;
			}
			
		}

		.details {
			margin-left : 135px;
			width: 78%;

			.actions{
				      margin-left: 25px;
				}

			.pricing {
				
					  margin-right: 15px;
					  margin-Top: 15px;
					  margin-Left: 0px;
					  overflow: hidden;

				.detail_item {
					background : #ededed;
					padding : 3px 10px;
					font-size : 11px;
					margin-right : 5px;
					float : left;
				}

				span
				{
				     margin-right: 15px;
					 font-family: "Arial";
			         color: #424242;
				}

				.bold{
					font-weight: bold;
				}
			}
			
			p.total {
				text-align: left;
				margin : 15px 0;
				font-weight : bold;
			}

			table.qtys {
				
				border-collapse : collapse;
				font-size : 11px;
				width : auto;

				th {
					font-weight: normal;
					text-align: center;
					border : 1px solid #E4E4E4;
					

					&.color {
						text-align: left;
						font-weight: bold;
						background-color: #F8F4F4;
					}

					&.size {
						text-align: center;
						font-weight: bold;
						background-color: #F8F4F4;
					}
				}

				td {
					text-align: center;
					width: 35px;
					border : 1px solid #E4E4E4;

					&.color {
						font-weight: bold;
						text-align: left;
					}

					&.exist {
						background-color: #E0F3F6 ;
					}
				}
			}
		}
		
	}
	

	/* actions you can take on the order */
	.actions {
		
		padding : 15px 0;
		
		form {
			
			text-align : center;
			font-size : 12px;
			
		}
		
	}
}
