/* pagination */

/*.pagination {
	font-size: 14px;
	margin:8px 3px;
	padding:3px;
	
	.disabled {
		border:1px solid #ddd;
		color:#999;
		margin-top:4px;
		padding:3px;
		text-align:center;
	}

	.current {
		background-color:#06c;
		border:1px solid #009;
		color:#fff;
		font-weight:bold;
		margin-top:4px;
		padding:3px 5px;
		text-align:center;
	}

	a {
		border:1px solid #c0c0c0;
		padding:3px 5px;
		text-align:center;
		text-decoration:none;
	}

	span, a {
		margin: 4px 3px;
	}	
}*/


.pagination {
  font-size: 14px;
  margin: 8px 3px;
  padding: 3px;
  .disabled {
    border: 0px solid #ddd;
    color: #999;
    margin-top: 4px;
    padding: 3px;
    text-align: center;
  }
  .current {
    /*background-color: black;*/
    border: 0px solid #009;
    color: black;
    font-weight: bold;
    margin-top: 4px;
    padding: 3px 5px;
    text-align: center;
  }
  a {
    border: 0px solid #c0c0c0;
    padding: 3px 5px;
    color: #06c;
    text-align: center;
    text-decoration: none;
  }
  span, a {
    margin: 4px 3px;
  }
}


