// Product listing

#search_filter {
	margin : 15px 0;
	vertical-align : middle;

	select, #product_desc {
		width: 110px;
		margin-right: 2px;
		vertical-align : middle;
		font-size : 12px;
	}

	input {
		width: 100px;
		vertical-align : middle;
		font-size : 12px;
	}
}

#product_index {
  .items {
    display: block;
    margin-left: 12px;
    p.no_matching_products {
      margin: 0 0 15px 0;
      font-weight: bold;
    }
    div.product {
      width: 230px;
      min-height: 250px;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 15px;
      margin-right: 15px;
      zoom: 1;
      *display: inline;
      _height: 250px;
      .thumbnail {
        text-align: center;
        overflow: hidden;
        margin-bottom: 5px;
        max-height: 150px;
        min-height: 150px;
        max-width: 150px;
        min-width: 150px;
        img {
          display: block;
          margin: 0 auto;
          max-width: 150px;
          max-height: 150px;
        }
      }
      h4 {
        font-size: 11px;
        font-weight: bold;
        margin-bottom: 5px;
        &.Product_Code {
          margin-bottom: 5px;
          height: 15px;
        }
        &.Product_Name {
          font-weight: normal;
          height: 10px;
        }
        &.NoStock {
          height: 15px;
          color: red;
          text-align: left;
        }
        a {
          color: #007acc;
          text-decoration: none;
          font-size: 14px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      p {
        font-size: 11px;
        &.price {
          margin-bottom: 5px;
          color: red;
          font-size: 12px;
        /* padding-bottom: 5px;
       
      border-bottom: 1px dotted #ccc;*/
        }
      }
    }
  }
  .pagination {
    clear: left;
    display: inline-block;
  }
}
