$stock_available: white;
$stock_low: #ffc88b;
$stock_unavailable: #ff9092;
$stock_incoming: #D1F0FF;

/* dialog box popup */
.product_quantity.ui-dialog {
	
	/* hide the title, we'll rebuild it with a custom version */
	.ui-dialog-titlebar {
		display : none;
	}
	
}

.product_quantity.ui-dialog {
	padding : 0;
}



.product_qtys {
	font-size: 12px;
	overflow: hidden;
	position: relative;
	width: 100%;
	//background : url('/images/framework/background_quantity-input.png') top left repeat-y;
	padding-bottom : 30px;
	
	h1 {
		background : $area_fill;
		color : #fff;
		position : relative;
		height : 40px;
		line-height : 40px;
		font-size : 18px;
		font-weight: bold;
		margin : 0;		
		.code {
			position : absolute;
			left : 15px;
		}		
		.name {
			position : absolute;
			left : 255px;
		}		
	}

	.buttons
	{
		padding-left: 0;
		display: inline;
		align: left;
		position : absolute;
		width:165px;
		table 
		{
			th, td, caption {
				padding: 4px 0 4px 5px;
			}
		 }
	}

	.image {
				display: inline-block;
				float: left;
				width: 180px;
				margin-left: 10px;
				overflow: hidden;

				img {
					width: 155px;
					display : block;
				}
			}

	.actions {
		  bottom: 20px;
		  position: absolute;
		  right: 50px;
		  text-align: right;
		  a {
				color: White;
			}
	}

	.details {
		display: inline-block;
		padding: 20px 0px;
		width: 75%;		

		p {
			margin-top : 5px;
			margin-bottom : 8px;
			width: 300%;
		}

		tbody {
			margin: auto;    
		}

		.scroll {
			margin-top: 15px;
			padding: 3px;
			width: 619px;
			max-height:319px;
			overflow: auto;
			border: none;

			#product-order-details{
				 min-height:100px;
				 height:auto !important;
				 height:100px; 
			}
		}

		.detail_item {
			display: inline-block;
			background: #ededed;
			padding: 3px 10px;
			font-size: 14px;

			
		}	
		
		#unit_cost {
			
			width: 637px;
			font-style: italic;
			font-weight: bold;

			#quantity-avail {
				width: auto;
				margin-left: 3em;
			}

			#retailPrice {
				width: auto;
				margin-left: 3em;
			}

			.regular_price {
				width: auto;
				font-style : italic;
			}

			.markdown_price {
				color: red;
				font-style: normal;
				margin-left: 0.5em;
			}
		}

		.pricing {
			width: 100%;
			float: left;
			margin-bottom: 10px;
			margin-top: 10px;
			text-align: left;
			font-size: 14px;

			.detail_item_total{
				background: #ededed;
				padding: 3px 10px;
				font-size: 14px;
				float: right;
				margin-right: 20px;
			}
		}

		.legend {
			  font-size: 11px;
			  padding-bottom: 10px;
			  width: 60%;
			  vertical-align: bottom;
			  float: left;
			  text-align: left;

			span {
				display: inline-block;
				vertical-align : middle;
				margin-right : 5px;

				&.symbol {
					border: 1px solid #000;
					height: 10px;
					margin: 0 5px 0 0;
					width: 10px;

					&.stock_unavailable {
						background-color: $stock_unavailable;
					}

					&.stock_low {
						background-color: $stock_low;
					}

					&.stock_incoming {
						background-color: $stock_incoming;
					}
				}
			}
		}
	}
}


.product_info {
  float: left;
  width: 70%;

}

.product_spec {
  float: right;
  width: 30%;
}

.product_info h1 {
  line-height: 26px;
  &.code {
    font-size: 24px;
    font-weight: bold;
  }
  &.name {
    font-size: 16px;
  }
}

.product_qty .image {
  float: left;
  width: 20%;
  height: 180px;
  overflow: hidden;
}

.image img {
  width: 160px;
  height: 160px;
}

.product_qty {
  .details {
    float: left;
    width: 80%;
    padding-left: 10px;
  }
  .table-input {
    float: left;
    clear: both;
  }
  .pricing {
    .rrp {
      font-size: 20px;
      font-weight: bold;
    }
    .actualprice {
      font-size: 30px;
      color: #B5191D;
      font-weight: bold;
    }
  }
}

#discount-msg {
  .regular_price {
    font-size: 16px;
    font-weight: bold;
  }
  .markdown_price {
    font-size: 12px;
    padding: 5px 9px 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #DAF2CF;
    margin-left: 20px;
    strong {
      font-weight: bold;
    }
  }
}

#unit_cost {
  font-weight: bold;
  background-color: #FDFBEE;
  border: 1px solid #EEE8C6;
}

#unit_cost_list {
  li {
    line-height: 24px;
    text-indent: 10px;
  }
  #selectedcolor {
    font-size: 14px;
  }
  > li > label {
    &:first-child {
      font-weight: normal;
      font-size: 12px;
      color: #9B9794;
    }
    &:last-child {
      font-weight: bold;
      font-size: 12px;
      margin-left: 5px;
    }
  }
}

#unit_cost h1 {
  padding: 10px;
  border-bottom: 1px solid #EEE8C6;
  font-size: 13px;
  font-weight: bold;
  color: #414141;
}

.product_qty .legend {
  margin-left: 155px;
  padding:5px;
}

.product_qty .legend label {
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

.symbol {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.stock_low {
  background-color: #E7B226;
}

.stock_unavailable {
  background-color: #A00201;
}

.stock_incoming {
 background-color: $stock_incoming;
}

#grid_table {
  float: left;
  width: 160px;
  position: relative;
  .x-column-header-first, .x-grid-cell-first {
    border-right: 1px dotted #ccc !important;
  }
  .x-column-header-last, .x-grid-cell-last {
    border-right-style: none !important;
    width: 60px !important;
  }
}

.detail_item_total {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 17px;
  font-size: 15px;
  strong {
    font-weight: bold;
  }
  #totalquantity {
    font-weight: bold;
    float: right;
    color: #AC121A;
    margin-right: 22px;
  }
}


  .discount {
		background-color:#DAF2CF;
		-moz-border-radius: 10px;
		border-radius: 10px;
		padding:5px;
		strong
			{
			font-weight: bold;
			}
			}
			
.scroll {
  overflow: auto;
}

#product-order-entry-grid {
  float: left;
  /* width:600px;*/
  max-width: 620px;
  width: auto;
}
#product-order-entry-form-butons {
  clear: both;
  float: left;
  padding: 10px;
  margin: 10px;
}

.btn-add {
  min-width: 100px;
}

#cancelAddToOrder, a.cancelBtn {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #666666;
  margin-left: 35px;
}

#product-order-entry-form-butons {
  margin-left: 150px;
}
#product-order-entry-form-butons {
  clear: both;
  float: left;
  padding: 10px;
  margin: 10px;
}

.x-grid-table {
  display: inline-table;
  /*display: -webkit-inline-box;*/
  /*max-width: 100%;*/
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  
  margin-bottom: 20px;
  th, td {
    padding: 8px !important;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #dddddd;
  }
  th {
    font-weight: bold;
  }
  thead th {
    vertical-align: bottom;
  }
  caption + thead tr:first-child {
    th, td {
      border-top: 0;
    }
  }
  colgroup + thead tr:first-child {
    th, td {
      border-top: 0;
    }
  }
  thead:first-child tr:first-child {
    th, td {
      border-top: 0;
    }
  }
  tbody + tbody {
    border-top: 2px solid #dddddd;
  }
}

td.x-grid-cell div.x-grid-cell-inner {
  padding: 8px !important;
  margin: -8px;
  font-size: 12px;
  color: #565656;
}

.x-grid-cell-selected {
  background-color: transparent !important;
  background-image: none !important;
}

body.session {
  background-color: #efefef;
}

.x-border-box .x-form-text {
  border: none !important;
  height: 30px !important;
  background-color: transparent !important;
  background-image: none !important;
}

#product-order-details {
  float: left;
  .x-column-header-inner, .x-column-header {
    background-color: transparent !important;
    background-image: none !important;
  }
  .x-grid-header-row th {
    visibility: hidden;
    table-layout: fixed;
  }
}

#product-order-list {
  .x-grid-header-ct, .x-panel-body {
    border: none;
  }
  .x-column-header, .x-column-header-inner, .x-box-inner, .x-grid-header-ct, .x-column-header-text {
    background-color: transparent !important;
    background-image: none !important;
    font-size: 12px;
    font-weight: bold;
    color: #A4A4A4;
  }
}

#product-order-entry-grid {
  .x-column-header-inner {
    text-align: center;
  }
  .x-column-header-text {
    font-size: 14px;
    font-weight: bold;
  }
  table{
	/*display: -webkit-inline-box !important;*/
	display:inline-table;
  }
}

.product_qty {
  .x-column-header {
    height: 35px !important;
  }
  .x-grid-table {
    margin-top: -17px;
	margin-bottom: 20px;
  }
}

td.hiddenCol {
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
  /*  display:none !important;*/
  table-layout: fixed;
  max-width: 0px;
  width: 0px;
  height: 0px;
}
