#promo_banner {
	@include container;
	position : relative;
	
	img {
		display : block;
		margin : 0 auto;
	}
	
	.shadow.top {
		position : absolute;
		top : 0;
		left : 0;
		width : 960px;
	}
	
	.shadow.bottom {
		height : 10px;
		position : absolute;
		bottom : 0;
		left : 0;
		width : 960px;
		background : url('../images/framework/background_shadow_promo_bottom.png');
	}
	
}
