/*

	Module: Session Box
	-------------------
	
	Used in the login and recover password forms. Only really used with the session layout.

*/


#login_form {
  padding-left: 30px;
  label.error {
    float: left;
  }
}

#recover_password_form {
  label.error {
    float: left;
  }
  p.info {
    padding: 0;
    font-size: 13px;
  }
}

#login_form label, #recover_password_form label {
  display: block;
  margin-bottom: 5px;
  color: #4c4c4c;
  font-weight: bold;
}

#login_form legend, #recover_password_form legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  font-weight: bold;
}

#login_form label.error, #recover_password_form label.error{
	float: left;
}

#login_form input {
  &[type='text'], &[type='password'] {
    width: 400px;
    height: 40px;
  }
}



input {
  &[type='text'].textbox, &[type='password'].textbox {
    background: #e4f6fa;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e4f6fa 1%, #f0fcfc 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #e4f6fa), color-stop(100%, #f0fcfc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e4f6fa 1%, #f0fcfc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e4f6fa 1%, #f0fcfc 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e4f6fa 1%, #f0fcfc 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #e4f6fa 1%, #f0fcfc 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4f6fa', endColorstr='#f0fcfc',GradientType=0 );
    /* IE6-9 */
    float: none;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 30px;
    color: #555555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #afd7df;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    vertical-align: middle;
  }
}

#login_form input {
  &[type='text'], &[type='password'] {
    width: 400px;
    height: 40px;
  }
}

#recover_password_form input[type='text'] {
  width: 400px;
  height: 40px;
}

.login-form-actions {
  position: relative;
  a {
    padding-right: 10px;
    color: #4b4b4b;
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 214px;
  }
}

.recover-form-actions a {
  padding-right: 10px;
  color: #4b4b4b;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 150px;
}

#error-list {
  overflow: hidden;
  width: 400px;
  margin-bottom: 20px;
}

.error-list {
  border: 1px solid #e8b3af;
  background: #feeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #feeeee 0%, #ffeeee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feeeee), color-stop(100%, #ffeeee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #feeeee 0%, #ffeeee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #feeeee 0%, #ffeeee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #feeeee 0%, #ffeeee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #feeeee 0%, #ffeeee 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feeeee', endColorstr='#ffeeee',GradientType=0 );
  /* IE6-9 */
}

.notify-error-list {
  border: 1px solid #EAE0CB;
  background: #fff9ef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fff9ef 1%, #fef8ef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fff9ef), color-stop(100%, #fef8ef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff9ef 1%, #fef8ef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff9ef 1%, #fef8ef 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff9ef 1%, #fef8ef 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fff9ef 1%, #fef8ef 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9ef', endColorstr='#fef8ef',GradientType=0 );
  /* IE6-9 */
}

#login_form #error-list, #recover_password_form #error-list {
  float: none;
  padding: 5px;
  vertical-align: middle;
}

#error-list label {
  margin: 5px 5px 5px 9px;
  padding: 2px 25px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  vertical-align: middle;
  height: 25px;
  display: inline-table;
}

.error-list label {
  color: #970b0c !important;
  background-image: url('images/warning.png');
  background-repeat: no-repeat;
  background-position: 1px 4px;
}

.notify-error-list label {
  color: #933212 !important;
  background-image: url('images/exclamation.png');
  background-repeat: no-repeat;
  background-position: 1px 2px;
}


.session_box {
  width: 460px;
  margin: 0 auto;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  h2 {
    margin: 0 0 5px 16px;
  }
  form {
    border: 1px solid #dfdfdf;
    padding: 15px;
    /*  background: #f8f8f8;
      background: -moz-linear-gradient(#fff,  #eee);
      background: -webkit-gradient(linear,  0 0,  0 100%,  from(#fff) to(#eee));
      background: linear-gradient(#ffffff, #eeeeee);
      -pie-background: linear-gradient(#ffffff, #eeeeee);*/
    div.buttons {
      display: inline-block;
      width: 75%;
    }
    input {
      display: inline;
      float: left;
    }
    .processing {
      float: right;
    }
  }
}



.session {
  #header {
    margin-bottom: 15px;
  }
  #content {
    float: none;
    margin: 0 auto;
  }
}