
.ContinueShopping
{
    width: 110px;
    height: 26px;
    background:url("../images/framework/ContinueShopping.png");
 }


.medium3
{
    background-image: url("../images/framework/Cleareorder.png");
    width: 110px;
    height: 26px;
}
.finishbtn
{
    background: url("../images/framework/Finish.png");   
    background-repeat: no-repeat;
    background-position:top;
    width: 80px;
    height: 30px;
    border: none;
}
.savefinishbtn
{
    background: url("../images/framework/Save and Finish.png");
    background-position: left;
    background-repeat: no-repeat;
    width: 120px;
    height: 33px;
    border: none;
}
btn_edit
{
    background: url("../images/framework/Edit.png");
    background-position: left;
    background-repeat: no-repeat;
    width: 80px;
    height: 33px;
    border: none;
}
#savedelivery
{
    background: url("../images/framework/Save.png");
    background-position: left;
    background-repeat: no-repeat;
    width: 80px;
    height: 33px;
    border: none;
    
    
}
#customerReference
{
     background: url("../images/framework/Small text area.png");
     background-repeat: no-repeat;
     width:274px;
     border-style:none;
     resize:none;
    
}
#deliveryInstructions,#specialInstructions
{
    background: url("../images/framework/larg text area.png");
    background-repeat: no-repeat;
    height:115px;
    width:274px;
    border-style:none;
    resize:none;
}
#alinkOrderHistory a ,#alinkproduct a
{
    color:White ;
    width:80px;
    background-color:#323232;
    background-repeat: no-repeat;
    font-size:15px;
    padding-top:10px;
    padding-right:10px;
    padding-bottom :10px;
    text-decoration:none;
    padding-left:10px;
  
}
#alinkviewcart a
{
     color:White;
     width:150px;
    background:url("../images/framework/Blue_Strip.png");
    background-repeat: no-repeat;
    font-size:15px;
    padding-top:10px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom :5px;    
    text-decoration:none;
}
#btnCustomername
{
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color:rgb(152, 189, 24);
    padding:8px 16px;
    color:White;
    font-weight:bold;
    font-size:12px;
    margin-bottom:10px;
      
}
#btnCustomername a
{
     -moz-border-radius: 10px;
    border-radius: 10px;
    background-color:rgb(152, 189, 24);
    padding:8px 16px;
    color:White;
    font-weight:bold;
    font-size:12px;
    margin-bottom:10px;
    text-decoration:none;
    
}
#headerfinalise
{
    background:url("../images/framework/Light_tint_strip.png");
    background-repeat: no-repeat;
    -moz-table-radius:20px;
}

.style3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	color: #666666;
}
.style9 {font-size: 15px}
.style10 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#6E6E6E;
}
.style11 {font-family: Arial, Helvetica, sans-serif}

#navigation_products_P .navigation_items_P{display:none;min-width:100px;max-width:180px;}

#navigation_products .navigation_items div div ul li.nav_item_title 
{
    background-image:url("../images/framework/grey_button.png");
}

#navigation_products .navigation_items .ui-tooltip-wrapper li a:hover {
   
    border-color: #333;
    color:#3A40D8;
    text-decoration: none;
    
}
#navigation_products .navigation_items .ui-tooltip-wrapper li:hover 
{
    background:none;
    
}

#navigation_products ul li 
{
    background-image:url("../images/framework/grey_button.png");
    margin-bottom: 2px;
    
}
#nav_item_title li a
{
    background-image:url("../images/framework/grey_button.png");
    color:black;
}
#new_search_filter {
    margin: 15px 0;
    vertical-align: middle;
    background:url("../images/framework/Light_tint_strip_product.png");
   
    background-repeat: no-repeat;
    padding-bottom:1px;
    padding-right:2px;
    height:35px;
}
#new_orderdetails {
    margin: 15px 0;
    vertical-align: middle;
    background:url("../images/framework/Light_tint_strip.png");
   
    background-repeat: no-repeat;
    padding-bottom:1px;
    padding-right:2px;
    height:35px;
}
.name a
{
    color:#1E90FF;
    text-decoration:none;
}
#div_order-details .grid-row .grid-cell td
{ 
 font:normal 11px tahoma, arial, verdana, sans-serif; 
 border-color:#ededed;
 border-style:solid;
 border-width:1px;
 border-top-color:#fafafa;
 height:20px;
 }
 
#div_order-details .grid-row
{ 
 font:normal 11px tahoma, arial, verdana, sans-serif; 
 border-color:#ECECEC;
 border-style:solid;
 border-left:none;
 border-right:none;
 border-width:1px;
 
 border-top-color:#ECECEC;
 height:20px;
 }
 #tblOrderDetails  td
 {
 border-color:#ECECEC;
 border-style:solid;
 border-width:1px;
 padding-left:13px;
 width:40px;
 color:#919191;
 font-weight:400;
 font-size:12px;
 }
 #tblOrderDetails1  td
 {
 border-color:#ECECEC;
 border-style:solid;
 border-width:1px;
 padding-left:13px;
 width:40px;
 color:#919191;
 font-weight:400;
 font-size:12px;
 }
 #tblOrderDetails2  td
 {
 border-color:#ECECEC;
 border-style:solid;
 border-width:1px;
 padding-left:13px;
 width:40px;
 color:#919191;
 font-weight:400;
 font-size:12px;
 }
 h6.round-pagetitle_n
{
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color:rgb(152, 189, 24);
    padding:8px 16px;
    color:#383838;
    font-weight:bold;
    font-size:20px;
    margin-bottom:10px;
}

#divCurrentOrder1
{
position:absolute;
left:840px;
top:145px;
z-index:200;
}
#tdEditCart
{
    padding-left:35px;
}
#tdEditCart a
{
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color:#484848;
    margin-left:10px;
    font-weight:bolder;
    color:White;
    width:85px;
    padding-left:5px;
    text-align:center;
    
}
#tdFininsh a
{
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color:#1e90ff;
    font-weight:bolder;
    color:White;
    width:65px;
    padding-left:5px;
    text-align:center;
    border-style:none;
}
#divTest a
{
     color:White;
}

.vcSpan
{
    padding-left:0px;
   
}
.tdValueSpan
{
    text-align:right;
     margin-right:10px;
     width:160px;
     padding-right:10px;
     font-weight:bolder;
}










nav {
	width:100%;
	text-align: center;
	background: #4b545f;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	background: #4b545f; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	color:White;
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; 
		clear: both; 
		display: block;
	}

	nav ul li 
	{
	    color: White; 
	    font-weight:bolder;
		float: left;
	}
		nav ul li:hover {
			background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
		nav ul li a 
		{
		        background: #4b545f;
				color: #fff;
				border:1px solid #efefef;
				border-top-style:none;
				border-bottom-style:none;
			}
			nav ul li:hover a {
				color: #fff;
				border:1px solid white;
				border-top-style:none;
				border-bottom-style:none;
			}
			nav ul li:hover ul a {
				color: black;
			}
		
		nav ul li a {
			display: block; padding: 5px 40px;
			color: White; 
			font-weight:bolder;
			text-decoration: none;
		}
			nav ul li a:Visited {
			display: block; padding: 5px 40px;
			color: White; 
			font-weight:bolder;
			text-decoration: none;
		}
		
	nav ul ul {
		background: #5f6975; border-radius: 0px; padding: 0;
		
		position: absolute; 
		top: 100%;
	}
	    nav ul li:hover ul li a
	    {
	        text-align:left;
			float: none; 
			padding-left:10px;
			padding-right:0px;
		    position: relative;
		    border-bottom-width:medium;
		    border-bottom-style:dotted;
		}
		nav ul li ul li a
	    {
	        text-align:left;
			float: none; 
			padding-left:10px;
			padding-right:0px;
		    position: relative;
		    border-bottom-width:medium;
		    border-bottom-style:dotted;
		}
		nav ul ul li {
			float: none; 			
		    position: relative;
		}
			nav ul ul li a 
			{
			    padding-left:0px;
			    padding-right:0px;
				background:#efefef;
				color:Black;
			}	
			
			nav1 ul ul li a:hover {
					background: #4b545f;
			}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
	#ulViewCart a
	{
	    color:Black;
	    font-weight:bold;
	}
	
	.ActiveNavTab a
	{
	    background-color:#007acc;
	    
	}
	