﻿@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>SalesNet</title>
    <link href="@Url.Content("~/Content/stylesheets/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/favicon.ico")" rel="icon" />
</head>
<body>
 

    <center><div style="width:1000px; text-align:left;">
    @Html.Partial("_Header", new ViewDataDictionary{ { "HideAccountDetails", true } })

    <div id="container">
        <h2>We're sorry, an unexpected error occurred while processing your request.</h2> 

        @if (TempData["errormsg"] != null)
        {
            <div id="details">
                <h2>Error: @TempData["errormsg"]</h2>
                <h2>@TempData["innererrormsg"]</h2>
            </div>
        }
        
        @if (TempData["errorcode"] != null)
        {
            if (TempData["errorcode"].ToString() == "5046" || TempData["errorcode"].ToString() == "5047")
            {
                <h2>Click @Html.ActionLink("here", "Login", "Session") to return to login page.</h2>
            }
        }
        else
        {
            <h2>Click @Html.ActionLink("here", "Index", "Home") to return to the Dashboard.</h2>
        }		
    </div>

    @Html.Partial("_Footer")
      </div>
       </center>
        
</body>
</html>

