﻿@using Ap21API.Entities.Customer
@model Ap21API.Entities.Customer.Customers
           

        @{
            string strSelectedCustomer = @ViewBag.CustomerId != null ? ViewBag.CustomerId : "";
        }
<script type="text/javascript">
    function submitform() {
        document.forms["customer_list_form"].submit();
       
    }
   
    var varSelectedCustomer = parseInt(@strSelectedCustomer);
  
</script>
           
@if (@Model.Count > 0)
{
    <div class="change_customer">
        <div class="header">
       
    @if (@ViewBag.CustomerId != null)
    {
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    }
       @if (@ViewBag.CustomerId != null)
       {
        <h1>Change Customer</h1>
       }
       else
       {
        <h1>Select Customer</h1>
       }

        </div>   
        <table>
        <tr>
        <td>
                 <div class="searchbox">
                    <label>Search</label> <input type="text" class="textbox" id="txtcustomersearch" />
                </div>
        </td>
        </tr>
        <tr>
        <td>
            @using (Html.BeginForm("RedirectToHome", "Customer", null, FormMethod.Post, new { id = "customer_list_form"}))
        { 
            <div style="overflow-y:scroll;height:480px;">
           <table class='customerlist'>
    	    @*   <tr class="header">
			    <th></th>
			    <th></th>
		    </tr> *@
            
            @foreach (Customer customer in Model.Customer)
            {
                if (String.IsNullOrEmpty(@customer.Name))
                {
                    continue;
                }
                <tr class="row @(ViewBag.CustomerId != customer.Id ? string.Empty : "selected")">
                
                    @*<td class="radiobutton">
                        @Html.RadioButton("selectedCustomer", customer.Id) 
                    </td>*@

                   
                    <td>
                        @*<label>@customer.Name</label>*@
                 <span>@customer.Name</span>
                       
                    </td>
                     <td>
                        @* <button class="btn btn-inverse">Select</button>*@
                        @if (ViewBag.CustomerId != customer.Id)
                        {
                        @Html.ActionLink("Select", "SelectCustomer", "Customer", new { id = customer.Id }, new { @class = "btn btn-inverse" })
                        }
                        else
                        {
                           
                            <label class="current-customer">Currently&nbsp;Selected</label>

                        }
                        
                     </td>      
                </tr>
            }
          
        </table>
            </div>
       
        
            
     @*   <div class="customerlist_select"> 
              <a class='currentordersidebar' href='javascript: submitform()' >Select</a>

        </div> *@
           
            
            
        }
        </td>
        </tr>
        <tr>
        <td style="padding-top:25px;">
             @if (@ViewBag.CustomerId != null)
            {
            <a href="#" class="close dialog-linkclose" data-dismiss="modal" aria-hidden="true" style="padding-right:10px;">Close</a>
            }
        </td>
        </tr>
        </table>
    </div>
    
     
}

