﻿@model SalesNet.WebUI.Models.OrderDetailProductModel           
@{
    int lowStockThreshold = 180;
    int.TryParse(System.Configuration.ConfigurationManager.AppSettings["LowStockThreshold"], out lowStockThreshold);
    int highStockThreshold = 0;
    int.TryParse(System.Configuration.ConfigurationManager.AppSettings["HighStockThreshold"], out highStockThreshold);
}
<script type="text/javascript">
    var showIncomingStock = '@System.Configuration.ConfigurationManager.AppSettings["ShowIncomingStock"]';
    showIncomingStock = showIncomingStock.toLowerCase();

    function resolveHref(ancr) {
        var vHostName = document.location.href;
        vHostName = vHostName.replace("Products","");
        var aCLink = ancr;
        aCLink.href = aCLink.href.replace(vHostName, 'http://');
        aCLink.target = "blank";
    }
    function scrollLeft() {
        //var divRight = $('#product-order-entry-grid');
        //var divLeft = $('#product-order-list');
        var divRight = document.getElementById('product-order-entry-grid');
        var divLeft = document.getElementById('product-order-list');
        divRight.scrollTop = divLeft.scrollTop;
        //divRight.scrollTop(divLeft.scrollTop());
    }

    function scrollRight() {
        //var divRight = $('#product-order-entry-grid table');
        //var divLeft = $('#product-order-list table');
        var divRight = document.getElementById('rightTbl');
        var divLeft = document.getElementById('leftTbl');
        var scroller = document.getElementById('scroller');
        divLeft.scrollTop=scroller.scrollTop;
        divRight.scrollTop=scroller.scrollTop;
        //divLeft.scrollTop(divRight.scrollTop());
    }

    $(document).ready(function () {
        // alert("testing");
        // $(".product_qty .x-grid-table").css({ 'margin-bottom': '0px' });
        //debugger;
        // alert($(".x-grid-table x-grid-table-resizer").class);
        //$(".x-grid-table x-grid-table-resizer").css({ 'margin-bottom': '0px' });
      //  document.write("<style type='text/css'>.product_qty .x-grid-table{margin-bottom: 0px;}</style>");
    });       
</script>
@using (Html.BeginForm("AddToOrder", "Order", new { productId = Model.Product.Id, isFromFinalizeOrder = Model.IsFromFinalizeOrder ?? "" }, FormMethod.Post, new { id = "product_qty_form", title = "Product Order" }))
{

    <style type="text/css">
    td.x-grid-cell div.x-grid-cell-inner
    {
          height:35px;
    }
    #product-order-list .x-grid-cell-first div.x-grid-cell-inner{width:96px;}
    form p > span {
display: inline;
width: auto;
}
form span ul 
{
    margin-left:20px;
    }
    form span ol 
{
    margin-left:20px;
    }
    .markdown_price{display:none;}
   .x-grid-table{margin-bottom:0px;}
   .x-grid-header-row{display:none;}
   .x-grid-cell-inner{width:55px;}
    #leftTbl{padding-left:15px;max-height:190px;}
    .x-panel-body-default,.x-panel .x-grid-body {border-width:0px;}
    #rightTbl{max-height:190px;}  
    </style>
  
    <div class="product_qty">
        <div class="header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×</button>
            <h1>
                Order Product</h1>
        </div>
        <div class="image" style="text-align: center; width: 150px; height: 150px; overflow: visible;">
            @Html.GetProductImage(Model.Product.Code)
        </div>
        <div class="details" style="margin-left: 5px;">
            <div class="product_info">
                <h1 class="code">@Model.Product.Code.ToUpper()</h1>
                <h1 class="name">@Model.Product.Name</h1>
                @{
    var varProductNoteType = Ap21API.Entities.Product.ProductNoteTypes.Find(Model.Product.Id);
                }
                @if (varProductNoteType != null && varProductNoteType.ProductNoteType.Count > 0)
                {
                    for (int intLoop = 0; intLoop < varProductNoteType.ProductNoteType.Count; intLoop++)
                    {
                        if (System.Configuration.ConfigurationManager.AppSettings["ProductNoteType"] != null && System.Configuration.ConfigurationManager.AppSettings["ProductNoteType"] == varProductNoteType.ProductNoteType[intLoop].Code)
                        {
                                <div  id="divPageContent" style="font-style: italic;"  >
                               
                                @{
                            String strContent =varProductNoteType.ProductNoteType[intLoop].Note;
                            strContent = strContent.Replace("href", "onclick='resolveHref(this);' href");
                                }
                                   @MvcHtmlString.Create(strContent)
                                   
                                  @* <iframe id="iframe" frameborder="0" src="data:text/html;charset=utf-8,@varProductNoteType.ProductNoteType[intLoop].Note" style="width: 100%; height: 200px;"></iframe>*@
                                
                                </div>
                            break;
                        }
                    }
                }
                
                <div id="discount-msg" style="line-height: 25px;">
                </div> 

                <div class="pricing" style="line-height: 25px; padding-top: 3px; ">
                    <ul>
                        <li><span class="detail_item from actualprice">
                            @if (Html.IsPriceDifferentBySku(Model))
                            {
                                <strong>From </strong>
                            }
                            @if (AppSession.CurrentSession.CurrentOrderCurrencyFormat != null)
                            {
                              @Html.FormatCurrency(Model.ProductPriceFrom, AppSession.CurrentSession.CurrentOrderCurrencyFormat)
                            }
                            else
                            {
                                @Html.FormatCurrency(Model.ProductPriceFrom, Model.OrderDetailProduct.Currency.Format)
                            }
                        </span></li>
                        @if (Model.Discount > 0)
                        {
                            <li style="padding-bottom: 3px; "><span class="detail_item discount">Your Discount <strong>
                             @if (AppSession.CurrentSession.CurrentOrderCurrencyFormat != null)
                             {
                                @Html.FormatCurrency(Model.Discount, AppSession.CurrentSession.CurrentOrderCurrencyFormat)
                             }
                             else
                             {
                                @Html.FormatCurrency(Model.Discount, Model.OrderDetailProduct.Currency.Format)
                             }
                            </strong></span></li>
                        }
                       @* @if (Html.IsPriceDifferentBySku(Model))
                        {<li><span class="detail_item from"><strong>From </strong>
                         @if (AppSession.CurrentSession.CurrentOrderCurrencyFormat != null)
                         {
                            @Html.FormatCurrency(Model.ProductPriceFrom, AppSession.CurrentSession.CurrentOrderCurrencyFormat)
                         }
                         else
                         { 
                            @Html.FormatCurrency(Model.ProductPriceFrom, Model.OrderDetailProduct.Currency.Format)
                         }
                    </span></li>
                        }*@
                        <li style="color:#6F6F6F;"><span class="detail_item from rrp">
                            @{
                        string From = "";
                        if (Html.IsRRPPriceDifferentBySku(Model))
                        {
                            From = "From";
                        }      
                            }
                            <span>
                            @{
                                string emptySpace = " ";
                                  if (AppSession.CurrentSession.CurrentOrderCurrencyFormat != null)
                                  {
                                    @Model.RrpText @emptySpace @From @emptySpace @Html.FormatCurrency(Model.RRPPriceFrom, AppSession.CurrentSession.CurrentOrderCurrencyFormat)
                                  }
                                  else
                                  {
                                    @Model.RrpText @emptySpace @From @emptySpace @Html.FormatCurrency(Model.RRPPriceFrom, Model.OrderDetailProduct.Currency.Format)
                                  }
                            }
                          </span>
                        </span>&nbsp </li>
                    </ul>
                </div>
                <b>
                    <h4 id="low-stock-message" class="hidden">
                        <label class="error">
                        </label>
                    </h4>
                </b>
            </div>
            <div class="product_spec">
                <div id="unit_cost" class="hidden" style="background-color:#D1F0FF;">
                    <h1 style="display:none;">
                        Selected Product</h1>
                    <ul id="unit_cost_list">
                    </ul>
                </div>
            </div>
        </div>
        <div class="table-input" style="padding:10px;">
            @Html.Partial("ProductStockAvailabilityLegend")
            @Html.Hidden("low-stock-threshold", lowStockThreshold)
            @Html.Hidden("high-stock-threshold", highStockThreshold)
            @*<div style="overflow: auto; height: 230px; width: 800px;">*@
            <div style="position:relative">
                <div id="grid_table">
                    <div id="product-order-list" style="overflow-y: hidden; overflow-x: hidden;height:auto;width:auto;" >
                   @* <div id="product-order-list">*@
                    </div>
                    <div class="detail_item_total">
                        <div class="detail_item_total-wrapper" style="padding-left: 15px;padding-top:25px;">
                            <strong>Total Quantity </strong><span id="totalquantity"></span>
                        </div>
                    </div>
                </div>
                <div id="product-order-entry-grid" style="overflow-y: hidden; height: auto; width: auto; overflow-x: auto; max-height: 240px;max-width:600px;"  >
                    <div id="product-order-details">
                    </div>
                </div>
                <div id="scroller" class="x-component x-scroller x-scroller-vertical x-component-default  x-component-docked-right x-component-default-docked-right x-docked-noborder-right x-docked-noborder-bottom"
                     style="width: 18px; height: 215px;float:left;overflow-y: auto;" role="presentation"  onscroll='scrollRight();'>
                    <div class="x-stretcher" id="ext-gen1074" style="width: 1px; height: 628px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons" id="product-order-entry-form-butons">
        @if (Model.IsExistingOrderDetail)
        {
@*    <input name="commit" type="submit" value="Update" class="btn btn-info" id="addToOrder"/> *@
            <button name="commit" type="submit" value="Update" class="btn btn-info btn-large btn-add"
                    id="addToOrder">
                Add</button>
           
        }
        else
        {
@* <input name="commit" type="submit" value="Add" class="btn btn-info" id="addToOrder"/> *@
            <button name="commit" type="submit" value="Add" class="btn btn-info btn-large btn-add"
                    id="addToOrder">
                Add</button>
        }
        <a href="#" id="cancelAddToOrder" class="">Cancel</a>
    </div>
    
    
}
