﻿@model SalesNet.WebUI.Models.ProductCategoryViewModel
<script type="text/javascript">
    $(function () {
        SalesNet.Navigation.init();
    });
</script>
<style type="text/css">
    .nav_item_items a:hover
    {
        background-color: #E0EBCC;
        
    }
    #navigation_products ul li a:hover{background-color: #E0EBCC;}
    #navigation_products ul li:hover{background-color: #E0EBCC;}
    #navigation_products .navigation_items div div ul li.nav_item_title 
    {
        background-image:none;
        
    }
    .nav_item_title:hover
    {
         text-decoration:underline;  
        
    }
   #navigation_products .navigation_items .ui-tooltip-wrapper li a:hover
    {
     text-decoration:underline;  
    }
  #navigation_products ul li.nav_select a {background-color:#E0EBCC;}
  #navigation_products ul li.nav_select a:hover {background-color:#E0EBCC;}
  #navigation_products .navigation_items {max-width:360px;}
</style>
<div id='sidebar'>
    <div id='navigation_products' style="border-right-width: 1px; border-right-style: dotted;
        border-right-color: #B3B3B3;height:1370px;">
        <ul class="layout">
            @{
                string updateTarget = "#product_index";
            }
            <li id="nav_0" style="border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: #B3B3B3; height:30px;">@Html.GetProductMenuLevel1Link(updateTarget, "Show All", "")</li>
            @foreach (var lv1Item in Model.Level1)
            {           
                <li id="@Html.GetProductMenuLiId(lv1Item.NodeId)"  style="
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #B3B3B3; ">@Html.GetProductMenuLevel1Link(updateTarget, lv1Item.ReferenceName, lv1Item.ProductQuery)</li>
                <div id="@Html.GetProductMenuDivId(lv1Item.NodeId)" class="navigation_items" style="border:1px;border-style:solid;">
                    <h4 style="margin-left: 10px;">
                        <b>Select category</b></h4>
                    @foreach (var lv2Item in @lv1Item.Children)
                    {
                        <ul>
                            <li id="nav_item_title" class="nav_item_title" style="background-color: #ededed;
                                height:auto; min-height:35px; width: 200px; color: Black; margin-top: 10px;margin-bottom: 10px;
                                border-top-width: 1px; border-top-style: solid; border-top-color: #B3B3B3; border-bottom-color: #B3B3B3;
                                border-bottom-style: dotted; border-bottom-width: 1px;">@Html.GetProductMenuLevel2Link(updateTarget, lv2Item.ReferenceName,

                                lv1Item.ProductQuery, lv2Item.ProductQuery, lv1Item.ReferenceName)</li>
                            @foreach (var lv3Item in lv2Item.Children)
                            {
                                <li class="nav_item_items" style="float: left; width: 50%; padding-bottom: 1px">@Html.GetProductMenuLevel3Link(updateTarget, lv3Item.ReferenceName,
                                      lv1Item.ProductQuery, lv2Item.ProductQuery, lv3Item.ProductQuery, lv1Item.ReferenceName)</li>
                                    
                                 
                                   
                            }
                        </ul>
                    }
                    @Html.GetCloseImage_Menu()
                </div>  
                     
            }
        </ul>
    </div>
</div>
