﻿<div class="legend">
    <span>
        <i class="symbol stock_low"></i><label>Low Stock</label>
        </span>
	<span>
    <i class="symbol stock_unavailable"></i><label>Out of Stock</label>
    </span>
    @{
        string showIncomingStock=System.Configuration.ConfigurationManager.AppSettings["ShowIncomingStock"];
        showIncomingStock = showIncomingStock.ToLower();
    }
    @if (showIncomingStock != null && showIncomingStock != "" && showIncomingStock == "true")
    {
        <span><i class="symbol stock_incoming"></i><label>Incoming Stock</label></span>
    }
</div>