﻿@model IPagedList<Ap21API.Entities.Product.ProductSimple>
@using System.Web.Configuration
@using SalesNet.WebUI.Classes;
@using SalesNet.WebUI.Models;
@using SalesNet.WebUI.Helpers;
@Html.JavaScript("new ProductList();")
@if (Model != null && Model.Count > 0)
 {
    
    if (ViewData["category_name"] != null)
    {
        <h3><b>Showing</b> <b style="color:#1E90FF">@ViewData["category_name"].ToString()</b> <b> Products</b></h3>
    <br />
    <br />
    }
    <div id="product_index" >
        @*<div class="pagination">
		        @Html.GetPageLink(pageSize: Model.PageSize, currentPage: Model.PageNumber,
                            totalItemCount: Model.TotalItemCount, valuesDictionary: Model.SearchCriteria, updateTarget: "#product_index")                                
	        </div>*@
        <div class="items">
            @foreach (var product in Model)
            {
                string link = Url.Action("OrderDetail", "Product", new { id = @product.Id });
                    
                <div class="product">
                    <div class="product_select" data-link="@link">
                        <div class="thumbnail">
                            @Html.GetProductThumbImage(@product.Code)
                        </div>
                        <h4 id="Product_Code" class="Product_Code">
                            <a class="order_detail" href="@link" color="#007acc">@product.Code.ToUpper()</a></h4>
                        <h4 class="Product_Name">@product.Name</h4>
                        @if (Html.IsPriceDifferentBySku(product))
                        {
                            <p class="price" style="font-weight: bold;">
                               <font color="#4f4f4f"> From</font>
                               @Html.FormatCurrency(product.PriceFrom,HttpContext.Current.Session["Currency"].ToString())                                
                                 </p> 
                        }
                        else
                        {
                            <p class="price" style="font-weight:bold;"> 
                           @* @Html.FormatCurrency(product.PriceFrom, AppSession.CurrentSession.CurrentOrderCurrencyFormat)*@
                            @Html.FormatCurrency(product.PriceFrom,HttpContext.Current.Session["Currency"].ToString())
                           </p>
                        }
                        <div style="border-bottom: 1px dotted #ccc;">
                            @if (bool.Parse(WebConfigurationManager.AppSettings["ShowNoStockProducts"]))
                            {
                                if (product.AvailableStock <= 0)
                                {
                                     
                                <img src="@(Url.Content("~/Content/images/framework/Out_Stock.png"))" alt="Order Now" style="margin-bottom: 5px" />      
                                @*<img src="../../Content/images/framework/Out_Stock.png" alt="Order Now" style="margin-bottom: 5px" /> *@
                          
                                    /*<h4 class="NoStock">No stock</h4>*/
                                }
                                else
                                {
                                @*<img src="../../Content/images/framework/Order_Now.png" alt="Order Now" style="margin-bottom: 5px" />*@
                                <img src="@(Url.Content("~/Content/images/framework/Order_Now.png"))" alt="Order Now" style="margin-bottom: 5px" />
                                    /*<h4 class="NoStock"></h4>*/
                                }
                            }
                            else
                            {
                                if (product.AvailableStock > 0)
                                {
                                    <img src="@(Url.Content("~/Content/images/framework/Order_Now.png"))" alt="Order Now" style="margin-bottom: 5px" />
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="pagination" style="width: 88%;">
            <table style="background-color: #ededed; width: 100%;height:30px;">
                <tr>
                    <td width="50%">
                    @*commented by raju*@
                      @* &nbsp;&nbsp;&nbsp;&nbsp; Showing @Model.PageNumber - @Model.PageCount  of @Model.TotalItemCount Items*@
                      @{
            var from = ((Model.PageNumber - 1) * Model.PageSize) + 1;
            var to = Model.PageNumber * Model.PageSize >= Model.TotalItemCount ? Model.TotalItemCount : Model.PageNumber * Model.PageSize;
                          }
                       &nbsp;&nbsp;&nbsp;&nbsp; Showing @from - @to of @Model.TotalItemCount Items
                    </td>
                    
                    <td width="50%">
                        @Html.GetPageLink(pageSize: Model.PageSize, currentPage: Model.PageNumber,
                            totalItemCount: Model.TotalItemCount, valuesDictionary: Model.SearchCriteria, updateTarget: "#product_index")
                    </td>
                </tr>
            </table>
        </div>
    </div>   
}
else
{  
    <p>
        No matching products found.</p>
}
