﻿@model SalesNet.WebUI.Models.ProductCategoryViewModel
<style>
#search_filter select,#search_filter #product_desc 
{
    width:200px;
}
</style>
<div id='search_filter' style="margin-left: -150px;">
    @using (Ajax.BeginForm("ProductList", "Product", new AjaxOptions { UpdateTargetId = "product_index" }, new { id = "product_search" }))
    { 
        <div id="new_search_filter" style="background-color:#B4B4B4;background-image:none;border-radius:8px;width:940px;">
            <table width="860px">
                <tr>
                    <td width="60%">
                        &nbsp;&nbsp;&nbsp;<font size="4px"><b> Products</b></font> @*@Html.DropDownList("category_season", new SelectList(Model.Level1, "LevelProductQuery", "ReferenceName"), (string)ViewData["firstStyleLevelName"])
    if (ViewData["secondStyleLevelName"] != null)
    {
        @Html.DropDownList("category_type", new SelectList(Model.Level2, "LevelProductQuery", "ReferenceName"), (string) ViewData["secondStyleLevelName"])
    }*@
                    </td>
                    
                    <td width="11%">
                    
                        @if (ViewData["thirdStyleLevelName"] != null)
                        {
                            @Html.DropDownList("category_product", new SelectList(Model.Level3, "LevelProductQuery", "ReferenceName"), (string)ViewData["thirdStyleLevelName"], new { @style = "height:22px; width=140px; margin-right:3px;" })
                        }
                        
                   </td>
                    <td width="11%">
                          
                        @Html.TextBox("product_desc", "", new { title = "Code/Description", maxlength = "50",@style="height:22px; margin-top:1px; margin-right:4px; width=160px;"})
                        </td>
                    <td>
                    
                        <input name="commit" type="submit" value="" style="background-image:url('@(Url.Content("~/Content/images/framework/search.png"))');height: 30px; width: 30px; border: 0px; cursor:pointer; " />
                    
                    </td>
                    
                </tr>
            </table>
        </div> 
    }
</div>
